<div class="fluid-container">
    <div class="row">
        <div class="col col-sm-12">
            <section class="section team-section pb-3">
                <div class="card card-cascade narrower">
                    <div class="view view-cascade gradient-card-header blue-gradient" style="padding: 1rem">
                        <h4 class="h4-responsive" style="margin:2px 0">{{ subject.name }}</h4>
                    </div>
                    <div class="card-body card-body-cascade">
                        <div class="row">
                            <div class="col-12">
                                <br>
                                <p>{{ subject.description }}</p>
                                <p><strong translate>speciality.date.label</strong>: {{ subject.date | date:'longDate' }}</p>
                            </div>
                        </div>
                        <div class="mt-4">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

