<div class="fluid-container">
    <div class="row">
        <div class="col col-sm-12">
            <section class="section team-section pb-3">
                <div class="card card-cascade narrower">
                    <div class="view view-cascade gradient-card-header blue-gradient" style="padding: 1rem">
                        <h4 class="h4-responsive" style="margin:2px 0">{{ speciality.name }}</h4>
                    </div>
                    <div class="card-body card-body-cascade text-center">
                        <div class="row">
                            <div class="col-12">
                                <br>
                                <p>{{ speciality.description }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-bordered table-hover">
                                    <tbody>
                                    <tr>
                                        <th translate>speciality.name.label</th>
                                        <th>{{ speciality.name }}</th>
                                    </tr>
                                    <tr>
                                        <th translate>speciality.slug.label</th>
                                        <th>{{ speciality.slug }}</th>
                                    </tr>
                                    <tr>
                                        <th translate>speciality.alias.label</th>
                                        <th>{{ speciality.alias }}</th>
                                    </tr>
                                    <tr>
                                        <th translate>speciality.years.label</th>
                                        <th>{{ speciality.years }}</th>
                                    </tr>
                                    <tr>
                                        <th translate>speciality.studyCycle.label</th>
                                        <th>{{ speciality.studyCycle }}</th>
                                    </tr>
                                    <tr>
                                        <th translate>speciality.date.label</th>
                                        <th>{{ speciality.date | date:'longDate' }}</th>
                                    </tr>
                                    <tr>
                                        <th translate>speciality.type.label</th>
                                        <th>{{ speciality.type }}</th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="mt-4">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

