<logo>
    <li>
        <div class="logo-wrapper waves-light">
            <a zdlmNavigate="w_hm"><img src="../../../../../assets/images/zed_long_logo_sm.png" style="padding: 0" class="img-fluid flex-center"></a>
        </div>
    </li>
</logo>
<links>
    <li>
        <a class="text-center sub-logo-t">{{ (authService.userObservable$ | async)?.fullName() }}</a>
        <a class="text-center sub-logo-m">{{ (authService.userObservable$ | async)?.email }}</a>
    </li>
    <li>
        <ul class="social">
            <li><a class="icons-sm fb-ic sub-logo-b"><i class="fa fa-facebook"> </i></a></li>
            <li><a class="icons-sm pin-ic sub-logo-b"><i class="fa fa-pinterest"> </i></a></li>
            <li><a class="icons-sm gplus-ic sub-logo-b"><i class="fa fa-google-plus"> </i></a></li>
            <li><a class="icons-sm tw-ic sub-logo-b"><i class="fa fa-twitter"> </i></a></li>
        </ul>
    </li>
    <li>
        <form class="search-form" role="search">
            <div class="form-group waves-light" mdbRippleRadius>
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </form>
    </li>
    <li>
        <ul class="collapsible collapsible-accordion">
            <mdb-squeezebox [multiple]="false" aria-multiselectable="false">
                <mdb-item class="no-collase">
                    <mdb-item-head mdbRippleRadius>
                        <a zdlmNavigate="r_prf" [paramOne]="(authService.userObservable$ | async)?.username">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i> {{ 'sidenav.prf' | translate }}
                        </a>
                    </mdb-item-head>
                    <mdb-item-body></mdb-item-body>
                </mdb-item>
                <mdb-item>
                    <mdb-item-head mdbRippleRadius><i class="fa fa-chevron-right"></i> {{ 'sidenav.stg' | translate }}</mdb-item-head>
                    <mdb-item-body>
                        <ul>
                            <li><a zdlmNavigate="r_st_aci" [paramOne]="(authService.userObservable$ | async)?.username" class="waves-effect" mdbRippleRadius>{{ 'app.account.acc_info'|translate }}</a></li>
                            <li><a zdlmNavigate="r_st_lam" [paramOne]="(authService.userObservable$ | async)?.username" class="waves-effect" mdbRippleRadius>{{ 'app.account.location'|translate }}</a></li>
                            <li><a zdlmNavigate="r_st_cti" [paramOne]="(authService.userObservable$ | async)?.username" class="waves-effect" mdbRippleRadius>{{ 'app.account.contact'|translate }}</a></li>
                            <li><a zdlmNavigate="r_st_spr" [paramOne]="(authService.userObservable$ | async)?.username" class="waves-effect" mdbRippleRadius>{{ 'app.account.soc_prfs'|translate }}</a></li>
                            <li><a zdlmNavigate="r_st_crd" [paramOne]="(authService.userObservable$ | async)?.username" class="waves-effect" mdbRippleRadius>{{ 'app.account.credentials'|translate }}</a></li>
                            <li><a zdlmNavigate="r_st_wpr" [paramOne]="(authService.userObservable$ | async)?.username" class="waves-effect" mdbRippleRadius>{{ 'app.account.website'|translate }}</a></li>
                        </ul>
                    </mdb-item-body>
                </mdb-item>

                <mdb-item>
                    <mdb-item-head mdbRippleRadius><i class="fa fa-chevron-right"></i> {{ 'sidenav.tt' | translate }}</mdb-item-head>
                    <mdb-item-body>
                        <ul>
                            <li *ngFor="let child of children">
                                <a zdlmNavigate="r_ttc" [paramOne]="(authService.userObservable$ | async)?.username" [paramTwo]="child.username" class="waves-effect" mdbRippleRadius>{{ child.fullName() }}</a>
                            </li>
                        </ul>
                    </mdb-item-body>
                </mdb-item>
                <mdb-item>
                    <mdb-item-head mdbRippleRadius><i class="fa fa-chevron-right"></i> {{ 'sidenav.sr' | translate }}</mdb-item-head>
                    <mdb-item-body>
                        <ul>
                            <li *ngFor="let child of children">
                                <a zdlmNavigate="r_src" [paramOne]="(authService.userObservable$ | async)?.username" [paramTwo]="child.username" class="waves-effect" mdbRippleRadius>{{ child.fullName() }}</a>
                            </li>
                        </ul>
                    </mdb-item-body>
                </mdb-item>
                <mdb-item>
                    <mdb-item-head mdbRippleRadius><i class="fa fa-chevron-right"></i> {{ 'sidenav.td' | translate }}</mdb-item-head>
                    <mdb-item-body>
                        <ul>
                            <li *ngFor="let child of children">
                                <a zdlmNavigate="r_tdc" [paramOne]="(authService.userObservable$ | async)?.username" [paramTwo]="child.username" class="waves-effect" mdbRippleRadius>{{ child.fullName() }}</a>
                            </li>
                        </ul>
                    </mdb-item-body>
                </mdb-item>
                <hr>
                <mdb-item class="no-collase">
                    <mdb-item-head mdbRippleRadius><a zdlmNavigate="c_lgo"><i class="fa fa-chevron-right"></i> {{ 'app.logout' | translate }}</a></mdb-item-head>
                    <mdb-item-body></mdb-item-body>
                </mdb-item>
            </mdb-squeezebox>
        </ul>
    </li>
</links>
<div class="sidenav-bg mask-strong"></div>
