<mdb-tabset #staticTabs [buttonClass]="'nav-tabs tabs-3'" [contentClass]="'card'">
    <mdb-tab [heading]="'exam.label_pl' | translate" (select)="changePath()"></mdb-tab>
    <mdb-tab [heading]="'curriculum.label' | translate" [active]="true">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card mdb-color lighten-2 text-center z-depth-2">
                        <div class="card-body">
                            <p class="white-text mb-0">{{'app.page_uc'|translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mdb-tab>
</mdb-tabset>
