.task-sub-btn {
  position: absolute;
  bottom: -5px;
  right: 10px; }

:host {
  display: block;
  margin-top: 1rem; }

.grid {
  margin: 0 auto; }

.masonry-card {
  display: inline-block;
  margin-bottom: 1rem;
  width: 18rem; }

hr {
  margin: 0.8rem 0; }

.chip {
  margin-bottom: 0; }

.carousel-item {
  padding: 10px 0;
  height: 100%; }

.list-group.task-list {
  max-height: calc(100vh - 418px);
  overflow-y: auto; }

.gradient-card-header {
  padding: 1rem !important; }

.gradient-card-header.pointer {
  cursor: pointer; }

/*# sourceMappingURL=to-do-app.component.css.map.map */
