<!--
<zdlm-admin-sidenav *ngIf="section == 'admin'"></zdlm-admin-sidenav>
<zdlm-ins-admin-sidenav *ngIf="section == 'ins_admin'"></zdlm-ins-admin-sidenav>
<zdlm-ins-staff-sidenav *ngIf="section == 'ins_staff'"></zdlm-ins-staff-sidenav>
<zdlm-parent-sidenav *ngIf="section == 'parent'"></zdlm-parent-sidenav>
<zdlm-professor-sidenav *ngIf="section == 'professor'"></zdlm-professor-sidenav>
<zdlm-student-sidenav *ngIf="section == 'student'"></zdlm-student-sidenav>
-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo justify-content-between">
    <logo>
        <a class="navbar-brand" zdlmNavigate="w_hm">Zednilma.com</a>
    </logo>
    <links>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link waves-light" zdlmNavigate="w_abt" mdbRippleRadius>About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" zdlmNavigate="w_ctu" mdbRippleRadius>Contact Us</a>
            </li>
            <li class="nav-item dropdown btn-group" dropdown>
                <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
                    Dropdown<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" href="#" mdbRippleRadius>Action</a>
                    <a class="dropdown-item waves-light" href="#" mdbRippleRadius>Another action</a>
                    <a class="dropdown-item waves-light" href="#" mdbRippleRadius>Something else here</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" href="#" mdbRippleRadius>Separated link</a>
                </div>
            </li>
        </ul>
        <form class="form-inline waves-light mr-auto" mdbRippleRadius>
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success btn-sm my-0 waves-light" type="submit" mdbRippleRadius>Search</button>
        </form>
        <ul class="navbar-nav waves-light ml-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" zdlmNavigate="w_ctu" mdbRippleRadius><i class="fa fa-inbox"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" zdlmNavigate="w_ctu" mdbRippleRadius><i class="fa fa-bell-o"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" zdlmNavigate="w_abt" mdbRippleRadius><i class="fa fa-user-circle-o"></i> Aymen</a>
            </li>
        </ul>
    </links>
</mdb-navbar>
