<mdb-tabset #staticTabs [buttonClass]="'nav-tabs tabs-4'" [contentClass]="'card'">
    <mdb-tab heading="Account">
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>{{'app.field'|translate}}</th>
                        <th>{{'app.value'|translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{'institute.name.label'|translate}}</td>
                        <td>{{ ( authService.insObservable$ | async )?.name }}</td>
                    </tr>
                    <tr>
                        <td>{{'institute.slogan.label'|translate}}</td>
                        <td>{{ ( authService.insObservable$ | async )?.slogan }}</td>
                    </tr>
                    <tr>
                        <td>{{'institute.description.label'|translate}}</td>
                        <td>{{ ( authService.insObservable$ | async )?.description }}</td>
                    </tr>
                    <tr>
                        <td>{{'institute.foundationDate.label'|translate}}</td>
                        <td>{{ ( authService.insObservable$ | async )?.foundationDate | date:'dd/MM/yyyy' }}</td>
                    </tr>
                    <tr>
                        <td>{{'institute.website.label'|translate}}</td>
                        <td>{{ ( authService.insObservable$ | async )?.website }}</td>
                    </tr>
                    <tr>
                        <td>{{'institute.type.label'|translate}}</td>
                        <td>{{ ( authService.insObservable$ | async )?.type }}</td>
                    </tr>
                    <tr>
                        <td>{{'institute.parentalControl.label'|translate}}</td>
                        <td>{{ ( authService.insObservable$ | async )?.parentalControl }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button type="button" class="btn btn-primary waves-light" style="float: right" mdbRippleRadius (click)="form.show()" translate>app.edit</button>
        <!--<div class="row">
            <div class="col-s12">
                <div class="chip">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person">
                    Jane Doe
                    <i class="close fa fa-trash-o"></i>
                    <i class="close fa fa-edit"></i>
                </div>
            </div>
        </div>-->
    </mdb-tab>
    <mdb-tab heading="Location" (select)="router.navigate(['../location-and-map'], { relativeTo: this.activatedRoute })"></mdb-tab>
    <mdb-tab heading="Contact" (select)="router.navigate(['../contact-info'], { relativeTo: this.activatedRoute })"></mdb-tab>
    <mdb-tab heading="Social Profiles" (select)="router.navigate(['../social-profiles'], { relativeTo: this.activatedRoute })"></mdb-tab>
</mdb-tabset>

<div mdbModal #form="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg cascading-modal" role="document">
        <form [formGroup]="settingForm" (ngSubmit)="submit()">
            <div class="modal-content">
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa fa-pencil"></i> {{ 'inst_section.ins_infos_edit'|translate }}</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body mb-0">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="md-form form-sm">
                                <input mdbInputDirective type="text" id="name" formControlName="name" class="form-control">
                                <label for="name">{{ 'institute.name.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="settingForm.get('name')"></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="md-form form-sm">
                                <input mdbInputDirective type="text" id="slogan" formControlName="slogan" class="form-control">
                                <label for="slogan">{{ 'institute.slogan.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="settingForm.get('slogan')"></div>
                            </div>
                        </div>
                        <div class="col-md-16 col-lg-6">
                            <div class="md-form form-sm">
                                <input mdbInputDirective type="url" id="website" formControlName="website" class="form-control">
                                <label for="website">{{ 'institute.website.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="settingForm.get('website')"></div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="md-form form-sm">
                                <textarea mdbInputDirective type="text" id="description" class="md-textarea mb-0 form-control" formControlName="description"></textarea>
                                <label for="description">{{ 'institute.description.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="settingForm.get('description')"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-6" style="margin-bottom: 1.5rem">
                            <mdb-select [options]="typeOptions" (selected)="onTypeChange($event)"
                                        placeholder="{{ 'institute.type.disabled_option'|translate }}"
                                        class="colorful-select dropdown-ins" [(ngModel)]="selectedType" [ngModelOptions]="{standalone: true}"></mdb-select>
                            <label translate>institute.type.label</label>
                            <div class="error red-text" [zdlmValidMsg]="settingForm.get('type')"></div>
                        </div>
                        <div class="col-md-12 col-lg-6" style="margin-bottom: 1.5rem">
                            <mdb-select [options]="pCtrlOptions" [filterEnabled]="true" (selected)="onPCtrlChange($event)"
                                        placeholder="{{ 'institute.parentalControl.disabled_option'|translate }}"
                                        class="colorful-select dropdown-ins" [(ngModel)]="selectedCtrl" [ngModelOptions]="{standalone: true}"></mdb-select>
                            <label translate>institute.parentalControl.label</label>
                            <div class="error red-text" [zdlmValidMsg]="settingForm.get('parentalControl')"></div>
                        </div>
                    </div>
                    <mdb-date-picker id="birthday" [options]="dpOptions" [placeholder]="'institute.foundationDate.label'|translate"
                                     (inputFieldChanged)="onDateChanged($event)"
                                     required [(ngModel)]="selectedFDay" [ngModelOptions]="{standalone: true}"></mdb-date-picker>
                    <div class="error red-text" [zdlmValidMsg]="settingForm.get('foundationDate')"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info mb-2 waves-light" mdbRippleRadius>{{'app.submit' | translate}} <i class="fa fa-send ml-1"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
