<div class="row todo-tasks">
    <mdb-carousel #slider [isControls]="false" [interval]="0" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'" [animation]="'slide'"
                  style="width: 100%; margin-bottom: 0">
        <mdb-carousel-item *ngFor="let subset of listsByThree">
            <div class="col-md-4" *ngFor="let subCls of subset">
                <mdb-card cascade="true" [narrower]="true">
                    <div class="view view-cascade gradient-card-header {{subCls.color}} pointer">
                        <h4 class="card-header-title mb-2">{{ subCls.subject.name + ' ' + subCls.classe.name }}</h4>
                    </div>
                    <mdb-card-body cascade="true" class="text-center">
                        <div class="list-group task-list narrow-scrollbar">
                            <a *ngFor="let task of subCls.tasks" (click)="currentTask = task;currentSC=subCls;infoModal.show()"
                               class="list-group-item flex-column align-items-start list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ task.name }}</h5>
                                    <small class="danger-text" [ngClass]="getClockClass(task.dueDate)">
                                        <i class="fa fa-clock-o"></i> {{ task.dueDate | date:'MMM d' }}
                                    </small>
                                </div>
                            </a>
                        </div>
                        <ng-container *ngIf="!!subCls.id">
                            <hr>
                            <div class="list-group">
                                <a (click)="currentTask = null; prepFormModel(subCls.id)"
                                   class="list-group-item list-group-item-action {{subCls.color}} lighten-4 flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-center">
                                        <h6 class="mb-1"><strong><i class="fa fa-plus mr-2"></i> {{ 'task.new' | translate }}</strong></h6>
                                    </div>
                                </a>
                            </div>
                        </ng-container>
                    </mdb-card-body>
                </mdb-card>
            </div>
        </mdb-carousel-item>
    </mdb-carousel>
</div>
<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <button mdbBtn type="button" size="sm" color="mdb-color" class="waves-light" (click)="slider.previousSlide()" mdbWavesEffect>
            <i class="fa fa-chevron-left"></i> {{ 'app.previous' | translate }}
        </button>
        <button mdbBtn type="button" size="sm" color="mdb-color" class="waves-light" (click)="slider.nextSlide()" mdbWavesEffect>
            {{ 'app.next' | translate }} <i class="fa fa-chevron-right"></i>
        </button>
    </div>
</div>

<!--<div class="fixed-action-btn" style="bottom: 20px; right: 20px;">
    <a class="btn-floating btn-lg red waves-light" (click)="currentSC = null; " [mdbTooltip]="'taskList.new'|translate" placement="left" mdbWavesEffect>&lt;!&ndash; prepListModel() &ndash;&gt;
        <i class="fa fa-plus"></i>
    </a>
</div>-->

<div mdbModal #formModal="mdb-modal" class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <form [formGroup]="taskForm" (ngSubmit)="submit()">
            <div class="modal-content">
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa fa-plus"></i> {{ 'task.new_header' | translate }}</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="formModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body mb-0">
                    <div class="md-form form-sm">
                        <input mdbInputDirective type="text" id="name" formControlName="name" class="form-control">
                        <label for="name">{{ 'task.name.label' | translate }}</label>
                        <div class="error red-text" [zdlmValidMsg]="taskForm.get('name')"></div>
                    </div>
                    <div class="md-form form-sm">
                        <textarea mdbInputDirective type="text" id="description" formControlName="description" class="md-textarea mb-0" style="width: 100%"></textarea>
                        <label for="description">{{ 'task.description.label' | translate }}</label>
                        <div class="error red-text" [zdlmValidMsg]="taskForm.get('description')"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mdb-date-picker #datePicker [options]="myDatePickerOptions" [placeholder]="'task.dueDate.date_ph'|translate" [label]="'task.dueDate.date'|translate"
                                             [(ngModel)]="date" [ngModelOptions]="{standalone: true}"></mdb-date-picker>
                        </div>
                        <div class="col-md-6" style="margin-top: 8px">
                            <mdb-time-picker [buttonLabel]="'Done'" [twelvehour]="false" [darktheme]="false" [placeholder]="'task.dueDate.time_ph'|translate"
                                             [label]="'task.dueDate.time'|translate" [showClock]="false" [ngModelOptions]="{standalone: true}" [(ngModel)]="time"></mdb-time-picker>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-3 mt-1" *ngIf="!member">
                            <mdb-select [options]="optionsSelect" [formControlName]="'type'" [placeholder]="'task.type.placeholder' | translate"></mdb-select>
                            <label>{{ 'task.type.label' | translate }}</label>
                        </div>
                    </div>
                    <!--<div class="row">
                        <mdb-checkbox [(ngModel)]="checkbox" [ngModelOptions]="{standalone: true}">{{ 'task.repeat.label'|translate }}</mdb-checkbox>
                    </div>
                    <div class="row" *ngIf="checkbox">
                        <div class="md-form col-md-6">
                            <label for="number">{{ 'task.repeat.quantity' | translate }}</label>
                            <input mdbInputDirective type="text" id="number" class="form-control" [(ngModel)]="quantity"
                                   [ngModelOptions]="{standalone: true}" style="height: 38px">
                        </div>
                        <div class="col-md-6" style="margin-top: 30px">
                            <mdb-select [options]="optionsSelect" [placeholder]="'task.repeat.placeholder'|translate" [(ngModel)]="unit"
                                        [ngModelOptions]="{standalone: true}"></mdb-select>
                            <label>{{'task.repeat.unit'|translate}}</label>
                        </div>
                    </div>-->
                    <div class="md-form form-sm">
                        <input mdbInputDirective type="url" id="link" formControlName="link" class="form-control">
                        <label for="link">{{ 'task.link.label' | translate }}</label>
                        <div class="error red-text" [zdlmValidMsg]="taskForm.get('link')"></div>
                    </div>
                    <div class="modal-footer justify-content-right" style="padding-right: 0">
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal" (click)="formModal.hide()" mdbWavesEffect>
                            {{ 'app.cancel' | translate }}
                        </button>
                        <button type="submit" class="btn btn-sm btn-primary waves-light" mdbWavesEffect><!--  [disabled]="taskForm.invalid" -->
                            {{ 'app.submit' | translate }} <i class="fa fa-plus ml-1 white-text"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div mdbModal #infoModal="mdbModal" class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="min-height: 400px">
            <div class="modal-body">
                <div class="row">
                    <div class="col-5">
                        <img class="img-fluid" src="../../../assets/images/todo_sm.png">
                    </div>
                    <div class="col-7">
                        <div class="product-name">
                            <h2 class="h2-responsive" style="display: inline-block">
                                <strong>{{ currentTask?.name }}</strong>
                            </h2>
                        </div>
                        <hr>
                        <h5 class="h4-responsive">
                            <span class="green-text"><strong>{{ currentTask?.dueDate | date:'MMMM d, y, HH:mm'}} </strong>
                            </span><span class="grey-text"><small> {{ currentTask?.dueDate | timeDifference:{'syntax':'due_date'} | async }}</small></span>
                        </h5>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <div class="chip">{{ 'task.type.' + currentTask?.type | translate }}</div>
                                <div class="chip">{{ getRepeat(currentTask?.repeat) | async }}</div>
                            </div>
                        </div>
                        <hr>
                        <mdb-squeezebox [multiple]="false" aria-multiselectable="true">
                            <mdb-item [collapsed]="true">
                                <mdb-item-head>{{ 'task.description.label' | translate }}</mdb-item-head>
                                <mdb-item-body style="white-space: pre-wrap">{{ currentTask?.description }}</mdb-item-body>
                            </mdb-item>
                            <mdb-item [collapsed]="true">
                                <mdb-item-head>{{ 'task.files.label' | translate }}</mdb-item-head>
                                <mdb-item-body>
                                    <div class="media">
                                        <img class="d-flex mr-3" src="../../../assets/images/no_file_sm.png" alt="No file attached image">
                                        <div class="media-body">
                                            <h5 class="mt-0">{{ 'task.files.no_files_s' | translate }}</h5>{{ 'task.files.no_files_l' | translate }}
                                        </div>
                                    </div>
                                </mdb-item-body>
                            </mdb-item>
                        </mdb-squeezebox>
                        <div class="task-sub-btn">
                            <!--<button mdbBtn type="button" (click)="infoModal.hide(); prepFormModel()" color="danger" size="sm" [disabled]="currentTask?.task.type !== 5"
                                    mdbWavesEffect><i class="fa fa-trash-o mr-2"></i> {{'app.remove'|translate}}
                            </button>-->
                            <!--<button mdbBtn type="button" (click)="infoModal.hide(); prepFormModel(currentSC.id)" color="primary" size="sm" mdbWavesEffect>
                                <i class="fa fa-edit mr-2"></i> {{'app.edit'|translate}}
                            </button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
