<div mdbModal #loginModal="mdb-modal" class="modal fade" id="modalLogin" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <!--Header-->
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa fa-user"></i> {{'app.login'|translate}}</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close"
                            (click)="loginModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <div class="md-form form-sm">
                        <i class="fa fa-envelope prefix"></i>
                        <input mdbInputDirective type="text" id="username" formControlName="username" class="form-control">
                        <label for="username">{{ 'user.email_username' | translate }}</label>
                        <div class="error red-text" [zdlmValidMsg]="loginForm.get('username')"></div>
                    </div>
                    <div class="md-form form-sm">
                        <i class="fa fa-lock prefix"></i>
                        <input mdbInputDirective type="password" formControlName="password" id="password" class="form-control">
                        <label for="password">{{'user.plainPassword.label' | translate}}</label>
                        <div class="error red-text" [zdlmValidMsg]="loginForm.get('password')"></div>
                    </div>
                    <blockquote class="blockquote bq-danger" *ngIf="loginQuote != ''">
                        <span class="red-text">{{loginQuote}}</span>
                    </blockquote>
                    <div class="text-center mt-2">
                        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-info waves-light" mdbRippleRadius>
                            {{'app.login' | translate}} <i class="fa fa-sign-in ml-1"></i>
                        </button>
                    </div>
                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <div class="options text-center text-md-right mt-1">
                        <button type="button" class="btn btn-flat btn-lg" (click)="passForgotten()" mdbRippleRadius>{{'app.pass_forgotten?'|translate}}
                        </button>
                    </div>
                    <button type="button" class="btn btn-outline-info ml-auto" data-dismiss="modal" (click)="loginModal.hide()" mdbRippleRadius>
                        {{'app.close'|translate}}
                    </button>
                </div>
                <div class="progress primary-color-dark" style="margin-bottom: 0" *ngIf="loginLoading">
                    <div class="indeterminate"></div>
                </div>
            </form>
        </div>
        <!--/.Content-->
    </div>
</div>
<div mdbModal #forgottenModal="mdb-modal" class="modal fade" id="modalForgottenPass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">
            <form [formGroup]="forgottenForm" (ngSubmit)="resetPassword()">
                <!--Header-->
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa fa-newspaper-o"></i> {{'app.pass_forgotten'|translate}}</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="forgottenModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body mb-0">
                    <div class="md-form form-sm">
                        <i class="fa fa-envelope prefix"></i>
                        <input mdbInputDirective type="email" id="email" formControlName="email" class="form-control">
                        <label for="email">{{ 'email.email.label_primary' | translate }}</label>
                        <div class="error red-text" [zdlmValidMsg]="forgottenForm.get('email')"></div>
                    </div>
                    <blockquote class="blockquote bq-danger" *ngIf="forgottenQuote != ''">
                        <span class="red-text">{{forgottenQuote}}</span>
                    </blockquote>
                    <blockquote class="blockquote bq-success" *ngIf="forgottenQuoteSuccess != ''">
                        <span class="green-text">{{forgottenQuoteSuccess}}</span>
                    </blockquote>
                    <div class="text-center mt-1-half">
                        <button type="submit" [disabled]="forgottenForm.invalid || forgottenLoading || forgottenSucceeded" class="btn btn-info mb-1 waves-light" mdbRippleRadius>{{'app.submit'|translate}} <i class="fa fa-check ml-1"></i></button>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="options text-center text-md-right mt-1">
                        <button type="button" class="btn btn-flat btn-lg" (click)="openLogin()" mdbRippleRadius>{{'app.login'|translate}}
                        </button>
                    </div>
                    <button type="button" class="btn btn-outline-info ml-auto" data-dismiss="modal" (click)="forgottenModal.hide()" mdbRippleRadius>
                        {{'app.close'|translate}}
                    </button>
                </div>
                <div class="progress primary-color-dark" style="margin-bottom: 0" *ngIf="forgottenLoading">
                    <div class="indeterminate"></div>
                </div>
            </form>
        </div>
        <!--/.Content-->
    </div>
</div>
