<ul id="slide-out" class="side-nav">
    <li>
        <div class="userView">
            <div class="background">
                <img src="../../../../../assets/images/login-logo.png">
            </div>
            <a href="#"><img class="circle" src="../../../../../assets/images/login-logo.png"></a>
            <a href="#"><span class="white-text name">Institute Staff</span></a>
            <a href="#"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div>
    </li>
    <li><a href="#"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#">Second Link</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#">Third Link With Waves</a></li>
</ul>
