<div class="fixed-action-btn">
    <a class="btn-floating btn-lg blue-gradient waves-light" mdbRippleRadius (click)="formModal.show()"><i class="fa fa-plus"></i></a>
</div>

<div mdbModal #formModal="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <div class="modal-content">
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"><i class="fa fa-pencil"></i> New Institute</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="formModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body mb-0">
                <form [formGroup]="userForm" (ngSubmit)="submit()">
                    <div class="md-form form-sm">
                        <input mdbInputDirective type="text" id="username" formControlName="username" class="form-control">
                        <label for="username">Username</label>
                        <div class="error red-text" [zdlmValidMsg]="userForm.get('username')"></div>
                    </div>
                    <div class="md-form form-sm">
                        <input mdbInputDirective type="email" id="email" formControlName="email" class="form-control">
                        <label for="email">Email</label>
                        <div class="error red-text" [zdlmValidMsg]="userForm.get('email')"></div>
                    </div>

                    <div class="row" style="margin-bottom: 1.5rem">
                        <div class="col-md-12">
                            <mdb-select [options]="institutes" (selected)="onInstituteChange($event)" [filterEnabled]="true" placeholder="Select institute"
                                        class="colorful-select dropdown-ins"></mdb-select>
                            <label translate>Institute</label>
                            <div class="error red-text" [zdlmValidMsg]="userForm.get('institute')"></div>
                        </div>
                    </div>

                    <div class="text-center mt-1-half" style="margin-top: 50px">
                        <button type="submit" class="btn btn-info mb-2 waves-light float-right" mdbRippleRadius>Submit <i class="fa fa-send ml-1"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<section class="section pb-3">
    <h1 class="section-heading h1 pt-4">Institute Admins List</h1>
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-r" *ngFor="let user of users">
            <div class="card card-cascade wider">
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (55).jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                    </a>
                </div>
                <div class="card-body text-center no-padding">
                    <a href="" class="text-muted">
                        <h5>{{ user.cin }}</h5>
                    </a>
                    <h4 class="card-title"><strong>{{ user.fullName() }}</strong></h4>
                    <p class="card-text">{{ user.gender }}</p>
                    <div class="card-footer">
                        <span class="left">39$</span>
                        <span class="right">
                            <a placement="top" mdbTooltip="Quick Look" container="body"><i class="fa fa-eye"></i></a>
                            <a placement="top" mdbTooltip="Add to Wishlist" container="body"><i class="fa fa-heart"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>