.collapsible-header {
  cursor: default; }
  .collapsible-header a.btn-floating {
    position: relative;
    cursor: pointer;
    height: 34px;
    width: 34px;
    margin-top: 4px;
    margin-right: 10px; }
    .collapsible-header a.btn-floating i {
      position: absolute;
      bottom: 3px;
      height: 34px;
      width: 34px; }

/*# sourceMappingURL=location-map-edit.component.css.map */
