<div class="card-panel">
    <!--<form [formGroup]="settingForm" (ngSubmit)="submit()">
        <div formGroupName="location">
            <ul class="collapsible" data-collapsible="expandable" #collapsible materialize="collapsible">
                <li>
                    <div class="collapsible-header" (click)="headerClick($event)">
                        <a [ngClass]="{'btn-floating green lighten-5 right': true, 'disabled': isSubmitting}" (click)="save('location.country', 0)"
                           *ngIf="isSubmitReady('location.country')">
                            <i class="material-icons green-text text-darken-2">save</i>
                        </a>
                        <a class="btn-floating teal lighten-5 right" (click)="popOut(0)">
                            <i class="material-icons teal-text text-darken-2">edit</i>
                        </a>
                        <strong class="col s6 m4">{{ 'location.country.label'|translate }}</strong><span class="indigo-text text-darken-2" *ngIf="professor.location.country != '' && professor.location.country != undefined">{{ 'country.' + professor.location.country | translate }}</span>
                    </div>
                    <div class="collapsible-body">
                        <div class="container">
                            <div class="row">
                                <div class="input-field col s12">
                                    <select id="country" formControlName="country" materialize="material_select">
                                        <option value="TN" translate>country.TN</option>
                                    </select>
                                    <label for="country">{{ 'location.country.label'|translate }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header" (click)="headerClick($event)">
                        <a [ngClass]="{'btn-floating green lighten-5 right': true, 'disabled': isSubmitting}" (click)="save('location.state', 1)"
                           *ngIf="isSubmitReady('location.state')">
                            <i class="material-icons green-text text-darken-2">save</i>
                        </a>
                        <a class="btn-floating teal lighten-5 right" (click)="popOut(1)">
                            <i class="material-icons teal-text text-darken-2">edit</i>
                        </a>
                        <strong class="col s6 m4" translate>location.state.label</strong><span class="indigo-text text-darken-2">{{ professor.location.state }}</span>
                    </div>
                    <div class="collapsible-body">
                        <div class="container">
                            <div class="row">
                                <div class="input-field col s12">
                                    <select id="state" formControlName="state" materialize="material_select" class="validate" (change)="onStateChange()">
                                        <option value="" disabled selected translate>location.state.disabled_option</option>
                                        <option *ngFor="let state of stateCities" value="{{state.name}}">{{state.name}}</option>
                                    </select>
                                    <label for="state" translate>location.country.label</label>
                                    <div class="error red-text keep-visible">{{ formErrors?.location?.state?.code | translate:formErrors?.location?.state?.params }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header" (click)="headerClick($event)">
                        <a [ngClass]="{'btn-floating green lighten-5 right': true, 'disabled': isSubmitting}" (click)="save('location.city', 2)"
                           *ngIf="isSubmitReady('location.city')">
                            <i class="material-icons green-text text-darken-2">save</i>
                        </a>
                        <a class="btn-floating teal lighten-5 right" (click)="popOut(2)">
                            <i class="material-icons teal-text text-darken-2">edit</i>
                        </a>
                        <strong class="col s6 m4" translate>location.city.label</strong><span class="indigo-text text-darken-2">{{ professor.location.city }}</span>
                    </div>
                    <div class="collapsible-body">
                        <div class="container">
                            <div class="row">
                                <div class="input-field col s12">
                                    <select id="city" formControlName="city" materialize="material_select"
                                            class="validate">
                                        <option value="" disabled selected translate>location.city.disabled_option</option>
                                        <option *ngFor="let city of cities" value="{{city}}">{{city}}</option>
                                    </select>
                                    <label for="city" translate>location.city.label</label>
                                    <div class="error red-text keep-visible">{{ formErrors?.location?.city?.code |
                                        translate:formErrors?.location?.city?.params }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header" (click)="headerClick($event)">
                        <a [ngClass]="{'btn-floating green lighten-5 right': true, 'disabled': isSubmitting}" (click)="save('location.address', 3)"
                           *ngIf="isSubmitReady('location.address')">
                            <i class="material-icons green-text text-darken-2">save</i>
                        </a>
                        <a class="btn-floating teal lighten-5 right" (click)="popOut(3)">
                            <i class="material-icons teal-text text-darken-2">edit</i>
                        </a>
                        <strong class="col s6 m4" translate>location.address.label</strong><span class="indigo-text text-darken-2">{{ professor.location.address }}</span>
                    </div>
                    <div class="collapsible-body">
                        <div class="container">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="address" formControlName="address" type="text" class="validate">
                                    <label for="address" translate>location.address.label</label>
                                    <div class="error red-text">{{ formErrors?.location?.address?.code |
                                        translate:formErrors?.location?.address?.params }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header" (click)="headerClick($event)">
                        <a [ngClass]="{'btn-floating green lighten-5 right': true, 'disabled': isSubmitting}" (click)="save('location.zipCode', 4)"
                           *ngIf="isSubmitReady('location.zipCode')">
                            <i class="material-icons green-text text-darken-2">save</i>
                        </a>
                        <a class="btn-floating teal lighten-5 right" (click)="popOut(4)">
                            <i class="material-icons teal-text text-darken-2">edit</i>
                        </a>
                        <strong class="col s6 m4" translate>location.zipCode.label</strong><span class="indigo-text text-darken-2">{{ professor.location.zipCode }}</span>
                    </div>
                    <div class="collapsible-body">
                        <div class="container">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="zipCode" formControlName="zipCode" type="text" class="validate">
                                    <label for="zipCode" translate>location.zipCode.label</label>
                                    <div class="error red-text">{{ formErrors?.location?.zipCode?.code |
                                        translate:formErrors?.location?.zipCode?.params }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="row">
                <div class="col s12">
                    <button type="submit" class="btn right" *ngIf="isSubmitReady()" [disabled]="isSubmitting">
                        <i class="material-icons right">save</i>{{ 'app.save_all' | translate }}
                    </button>
                    <button type="button" class="btn btn-flat right" *ngIf="settingForm.dirty" (click)="resetForm()" style="margin-right: 10px">
                        <i class="material-icons right">cancel</i>{{ 'app.discard_changes' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </form>-->
</div>
