<!--
<div class="collapsible-header" (click)="headerClick($event)">
    <a class="btn-floating green lighten-5 right" (click)="verify()" *ngIf="!email.isVerified">
        <i class="material-icons green-text text-darken-3">verified_user</i>
    </a>
    <a class="btn-floating teal lighten-5 right" (click)="edit()">
        <i class="material-icons teal-text text-darken-2">edit</i>
    </a>
    {{ email.email }}<i [ngClass]="{'material-icons': true,'green-text text-darken-3': email.isVerified,
        'grey-text': !email.isVerified}" style="font-size: 2rem;">verified_user</i>
</div>
<div class="collapsible-body">
    <div class="container">
        <div class="row" [hidden]="!editMode">
            <div class="input-field col s12">
                <label for="email" translate>email.email.label</label>
                <input id="email" type="email" [(ngModel)]="email.email" class="validate"
                       #emInput="ngModel" required email>
                <div *ngIf="emInput.errors && emInput.dirty" class="error red-text">
                    <span [hidden]="!emInput.errors.required" translate="email.email.required"></span>
                    <span [hidden]="!emInput.errors.email" translate="email.email.invalid"></span>
                </div>
            </div>
            <div class="col s12">
                <button type="button" [disabled]="emInput.errors" (click)="save()"
                        class="btn waves-effect waves-light right" translate>app.save</button>
                <button type="button" (click)="deleteEmail()" style="margin-right: 0.8rem"
                        class="btn waves-effect waves-light right red" translate>app.delete</button>
            </div>
        </div>
        <div class="row" [hidden]="editMode">
            <div class="input-field col s12">
                <label for="name" translate>email.token.label</label>
                <input type="text" id="name" class="form-control" required minlength="40" maxlength="50"
                       name="name" [(ngModel)]="code" #name="ngModel">

                <div *ngIf="name.errors && name.dirty" class="error red-text">
                    <span [hidden]="!name.errors.required" translate="email.token.required"></span>
                    <span [hidden]="!name.errors.minlength" translate="email.token.minlength"></span>
                    <span [hidden]="!name.errors.maxlength" translate="email.token.maxlength"></span>
                </div>
            </div>
            <div class="col s12">
                <button type="button" [disabled]="name.errors || name.pristine" (click)="confirm()"
                        class="btn waves-effect waves-light right" translate>email.token.confirm</button>
            </div>
        </div>
    </div>
</div>
-->
