<!--
<div class="collapsible-header" (click)="headerClick($event)">
    <a class="btn-floating green lighten-5 right" (click)="verify()" *ngIf="!phone.isVerified">
        <i class="material-icons green-text text-darken-3">verified_user</i>
    </a>
    <a class="btn-floating teal lighten-5 right" (click)="edit()">
        <i class="material-icons teal-text text-darken-2">edit</i>
    </a>
    {{ phone.number | phoneNumber:phone.ccode }}<i [ngClass]="{'material-icons': true,'green-text text-darken-3': phone.isVerified,
        'grey-text': !phone.isVerified}" style="font-size: 2rem;">verified_user</i>
</div>
<div class="collapsible-body">
    <div class="container">
        <div class="row" [hidden]="!editMode">
            <div class="input-field col s4">
                <input id="ccode" type="text" [(ngModel)]="phone.ccode" class="validate"
                       #ccInput="ngModel" disabled required>
                <div *ngIf="ccInput.errors && ccInput.dirty" class="error red-text">
                    <span [hidden]="!ccInput.errors.required" translate="phone.ccode.required"></span>
                    <span [hidden]="!ccInput.errors.phone" translate="phone.ccode.invalid"></span>
                </div>
            </div>
            <div class="input-field col s8">
                <label for="phone" translate>phone.number.label</label>
                <input id="phone" type="tel" [(ngModel)]="phone.number" class="validate"
                       #phInput="ngModel" required phone>
                <div *ngIf="phInput.errors && phInput.dirty" class="error red-text">
                    <span [hidden]="!phInput.errors.required" translate="phone.phone.required"></span>
                    <span [hidden]="!phInput.errors.phone" translate="phone.phone.invalid"></span>
                </div>
            </div>
            <div class="col s12">
                <button type="button" [disabled]="phInput.errors" (click)="save()"
                        class="btn waves-effect waves-light right" translate>app.save</button>
                <button type="button" (click)="deletePhone()" style="margin-right: 0.8rem"
                        class="btn waves-effect waves-light right red" translate>app.delete</button>
            </div>
        </div>
        <div class="row" [hidden]="editMode">
            <div class="input-field col s12">
                <label for="code" translate>phone.token.label</label>
                <input type="text" id="code" name="code" [(ngModel)]="code" #inCode="ngModel"
                       required minlength="4" maxlength="6" pattern="^\d*$">
                <div *ngIf="inCode.errors && inCode.dirty" class="error red-text">
                    <span [hidden]="!inCode.errors.required" translate="phone.token.required"></span>
                    <span [hidden]="!inCode.errors.pattern" translate="phone.token.pattern"></span>
                    <span [hidden]="inCode.errors.pattern || !inCode.errors.minlength" translate="phone.token.minlength"></span>
                    <span [hidden]="inCode.errors.pattern || !inCode.errors.maxlength" translate="phone.token.maxlength"></span>
                </div>
            </div>
            <div class="col s12">
                <button type="button" (click)="confirm();" [disabled]="inCode.errors || inCode.pristine"
                        class="btn waves-effect waves-light right" translate>phone.token.confirm
                </button>
            </div>
        </div>
    </div>
</div>
-->
