<div fxLayout="column" fxFlexFill>
    <div fxLayout="row" fxFlex="95%" fxLayoutAlign="space-between">
        <ng-container *ngIf="media.isActive('xs'); then xsTemp else otherTemp"></ng-container>
        <ng-template #otherTemp>
            <div fxFlex="30%" fxFlex.sm="45%" fxFlex.md="38%" class="narrow-scrollbar" style="overflow-y: auto">
                <div class="list-group">
                    <a *ngFor="let session of sessions" class="list-group-item list-group-item-action flex-column align-items-start"
                       [ngClass]="session.id === currentSession.id ? 'active':''" (click)="currentSession = session">
                        <div class="d-flex w-100 justify-content-between">
                            <h4 class="mb-1">{{session.subject.name}}</h4>
                            <small>{{session.classe.name}}</small>
                        </div>
                        <h5 class="mb-1">{{session.getDate()}} <small>{{session.container.timeRange()}}</small></h5>
                        <ng-container *ngIf="!!session.report && session.report.length > 0; then subTemp else notSubTemp"></ng-container>
                        <ng-template #subTemp><small class="green-text"><i class='fa fa-check-square-o mr-1'></i> {{ 'session.report.submitted'|translate }}</small></ng-template>
                        <ng-template #notSubTemp><small class="text-muted"><i class='fa fa-square-o mr-1'></i> {{ 'session.report.not_submitted'|translate }}</small></ng-template>
                    </a>
                </div>
            </div>
            <div fxFlex="68%" fxFlex.sm="55%" fxFlex.md="60%">
                <div class="container" *ngIf="!!currentSession">
                    <div class="row">
                        <div class="col-12">
                            <br>
                            <p class="h5">{{ 'session.report.label' | translate }}
                                <a class="ml-2 underline dark-grey-text" [attr.disabled]="editMode||!currentSession.report" style="text-decoration: underline;" (click)="editMode = true">
                                    {{ 'app.edit' | translate }}</a>
                            </p>
                            <p style="white-space: pre-wrap" *ngIf="!currentSession.report || !editMode">{{ !!currentSession.report ? currentSession.report : ('session.report.null' | translate) }}</p>
                        </div>
                    </div>
                    <div class="row" *ngIf="!currentSession.report || editMode">
                        <div class="col-12">
                            <div class="md-form">
                                <i class="fa fa-pencil prefix blue-text"></i>
                                <textarea type="text" id="form8" [rows]="10" #report class="md-textarea form-control" [value]="currentSession.report"
                                          [placeholder]="'session.report.placeholder'|translate" length="1000" mdbCharCounter mdbInputDirective></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div style="float: right">
                                <button mdbBtn color="grey" size="sm" (click)="editMode=false"><i class="fa fa-close mr-2"></i>{{ 'app.cancel' | translate }}</button>
                                <button mdbBtn color="blue" size="sm" [disabled]="report.value.length < 50 || report.value.length > 1000" (click)="submitReport(currentSession, report.value)">
                                    <i class="fa fa-send mr-2"></i>{{ 'app.submit' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template #xsTemp>
            <div fxLayout="column">
                <mdb-accordion [multiple]="false">
                    <mdb-accordion-item *ngFor="let session of sessions" [collapsed]="currentSession.id !== session.id">
                        <mdb-accordion-item-head>
                            <i class="fa" [ngClass]="!!session.report && session.report.length > 0 ? 'fa-check-square-o green-text':'fa-square-o muted-text'"></i>
                            {{session.classe.name}} - {{session.subject.name}}
                            <small>{{session.getDate()}} {{session.container.timeRange()}}</small>
                        </mdb-accordion-item-head>
                        <mdb-accordion-item-body>
                            <div class="row">
                                <div class="col-12">
                                    <br>
                                    <p class="h5">{{ 'session.report.label' | translate }}
                                        <a class="ml-2 underline dark-grey-text" [attr.disabled]="editMode||!session.report" style="text-decoration: underline;" (click)="editMode = true">
                                            {{ 'app.edit' | translate }}</a>
                                    </p>
                                    <p style="white-space: pre-wrap" *ngIf="!session.report || !editMode">{{ !!session.report ? session.report : ('session.report.null' | translate) }}</p>
                                </div>
                            </div>
                            <div class="row" *ngIf="!session.report || editMode">
                                <div class="col-12">
                                    <div class="md-form">
                                        <i class="fa fa-pencil prefix blue-text"></i>
                                        <textarea type="text" id="form9" [rows]="10" #report class="md-textarea form-control" [value]="session.report"
                                                  [placeholder]="'session.report.placeholder'|translate" length="1000" mdbCharCounter mdbInputDirective></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div style="float: right">
                                        <button mdbBtn color="grey" size="sm" (click)="editMode=false"><i class="fa fa-close mr-2"></i>{{ 'app.cancel' | translate }}</button>
                                        <button mdbBtn color="blue" size="sm" [disabled]="report.value.length < 50 || report.value.length > 1000"
                                                (click)="submitReport(session, report.value)">
                                            <i class="fa fa-send mr-2"></i>{{ 'app.submit' | translate }}</button>
                                    </div>
                                </div>
                            </div>
                        </mdb-accordion-item-body>
                    </mdb-accordion-item>
                </mdb-accordion>
            </div>
        </ng-template>
    </div>
</div>
