.collapsible-header {
  cursor: default; }
  .collapsible-header a.btn-floating {
    position: relative;
    cursor: pointer;
    height: 34px;
    width: 34px;
    margin-top: 4px;
    margin-right: 10px; }
    .collapsible-header a.btn-floating i {
      position: absolute;
      bottom: 3px;
      height: 34px;
      width: 34px; }

i {
  margin-right: 0.5rem; }

.website-icon {
  height: 1.85rem;
  width: 1.85rem;
  position: relative;
  top: 0.6rem;
  margin-right: 0.5rem; }

.prefix-container {
  display: inline-block;
  width: 146px; }
  .prefix-container input {
    color: rgba(0, 0, 0, 0.6);
    border-bottom: 2px solid rgba(0, 0, 0, 0.4); }

.username-container {
  display: inline-block;
  width: calc(100% - 150px); }

/*# sourceMappingURL=social-profile-edit.component.css.map */
