<!--
<div class="collapsible-header" (click)="headerClick($event)">
    <a class="btn-floating teal lighten-5 right" (click)="edit()">
        <i class="material-icons teal-text text-darken-2">edit</i>
    </a>
    <a class="btn-floating teal lighten-5 right" href="#" target="_blank">
        <i class="material-icons teal-text text-darken-2">open_in_new</i>
    </a>
    <span *ngIf="profile.website != ''">
        <img [src]="'../../../../../assets/images/social-media/' + profile.website + '.png'" class="website-icon">/{{ profile.username }}
    </span>
</div>
<div class="collapsible-body">
    <form [formGroup]="spForm" (ngSubmit)="save()">
        <div class="container">
            <div class="row">
                <div class="abo-field col s12">
                    <label for="website" translate>socialProfile.website.label</label>
                    <select id="website" formControlName="website" #webSelect materialize="material_select"
                            (change)="websiteChanged()" class="validate">
                        <option value="" disabled translate>socialProfile.website.disabled_option</option>
                        <option *ngIf="profile.website != ''" value="{{profile.website}}"
                                [attr.data-icon]="'../../../../../assets/images/social-media/' + profile.website + '.png'"
                                class="left website-icon">{{ 'socialProfile.website.' + profile.website | translate }}
                        </option>
                        <option *ngFor="let website of websites" value="{{website}}"
                                [attr.data-icon]="'../../../../../assets/images/social-media/' + website + '.png'"
                                class="left website-icon">{{ 'socialProfile.website.' + website | translate }}
                        </option>
                    </select>
                    <div class="error red-text keep-visible">{{ formErrors?.website?.code |
                        translate:formErrors?.website?.params }}
                    </div>
                </div>
                <div class="input-field col s12">
                    <div class="prefix-container">
                        <input id="prefix" type="text" formControlName="prefix">
                    </div>
                    <div class="username-container">
                        <input id="username" formControlName="username" type="url" class="validate"
                               placeholder="{{ 'socialProfile.website.website_ph' | translate:{website: 'socialProfile.website.'+spForm.get('website').value|translate } }}">
                        <label for="username" translate>socialProfile.username.label</label>
                        <div class="error red-text keep-visible">{{ formErrors?.username?.code |
                            translate:formErrors?.username?.params }}
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <button type="submit" [disabled]="!spForm.valid"
                            class="btn waves-effect waves-light right" translate>app.save
                    </button>
                    <button type="button" (click)="deleteProfile()" style="margin-right: 0.8rem"
                            class="btn waves-effect waves-light right red" translate>app.delete
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
-->
