<div class="steps-container" style="position: relative">
    <div class="steps-form-2" style="">
        <div class="steps-row-2 setup-panel-2 d-flex justify-content-between">
            <div class="steps-step-2">
                <a (click)="step = 1" type="button" class="btn btn-amber btn-circle-2 waves-effect ml-0" [mdbTooltip]="'init_account.tab1'|translate" placement="bottom">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                </a>
            </div>
            <div class="steps-step-2">
                <a (click)="step = 2" type="button" [ngClass]="'btn btn-blue-grey btn-circle-2 waves-effect ' + (levelOneValid() ? '':' disabled')"
                   [mdbTooltip]="'init_account.tab2'|translate" placement="bottom">
                    <i class="fa fa-shield" aria-hidden="true"></i>
                </a>
            </div>
            <div class="steps-step-2">
                <a (click)="step = 3" type="button" [ngClass]="'btn btn-blue-grey btn-circle-2 waves-effect' + (levelTwoValid() ? '':' disabled')"
                   [mdbTooltip]="'init_account.tab3'|translate" placement="bottom">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </a>
            </div>
            <div class="steps-step-2">
                <a (click)="step = 4" type="button" [ngClass]="'btn btn-blue-grey btn-circle-2 waves-effect mr-0' + (initForm.valid ? '':' disabled')"
                   [mdbTooltip]="'init_account.tab4'|translate" placement="bottom">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>

    <form [formGroup]="initForm" (ngSubmit)="submit()">
        <!-- First Step -->
        <div class="row" *ngIf="step === 1">
            <div class="offset-md-3 col-md-6">
                <h2 class="text-center" translate>init_account.tab1</h2>
                <div class="md-form form-sm">
                    <i class="fa fa-user-circle-o prefix"></i>
                    <input mdbInputDirective type="text" id="username" formControlName="username" class="form-control">
                    <label for="username">{{ 'user.username.label' | translate }}</label>
                    <div class="error red-text" [zdlmValidMsg]="initForm.get('username')"></div>
                </div>
                <div formGroupName="plainPassword">
                    <div class="md-form form-sm">
                        <i class="fa fa-lock prefix"></i>
                        <label for="password">{{ 'user.plainPassword.label' | translate }}</label>
                        <input mdbInputDirective type="password" id="password" formControlName="password" class="form-control" (keyup)="passStrengthFn()"
                               style="margin-bottom: 6px">
                        <mdb-progressbar [value]="passClass.value" min="0" max="100" [type]="passClass.type" aria-valuenow="25" aria-valuemin="0"
                                         aria-valuemax="100" style="margin-bottom: 10px"></mdb-progressbar>
                        <div class="error red-text" [zdlmValidMsg]="initForm.get(['plainPassword', 'password'])"></div>
                    </div>
                    <div class="md-form form-sm">
                        <i class="fa fa-lock prefix"></i>
                        <label for="confirm_password">{{ 'user.plainPassword.confirm_label' | translate }}</label>
                        <input mdbInputDirective type="password" id="confirm_password" formControlName="confirm_password" class="form-control">
                        <div class="error red-text" [zdlmValidMsg]="initForm.get(['plainPassword', 'confirm_password'])"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second Step -->
        <div class="row" *ngIf="step === 2">
            <div class="offset-md-3 col-md-6">
                <h2 class="text-center" translate>init_account.tab2</h2>
                <div class="md-form form-sm">
                    <input mdbInputDirective type="text" id="firstName" formControlName="firstName" class="form-control">
                    <label for="firstName">{{ 'user.firstName.label' | translate }}</label>
                    <div class="error red-text" [zdlmValidMsg]="initForm.get('firstName')"></div>
                </div>
                <div class="md-form form-sm">
                    <input mdbInputDirective type="text" id="lastName" formControlName="lastName" class="form-control">
                    <label for="lastName">{{ 'user.lastName.label' | translate }}</label>
                    <div class="error red-text" [zdlmValidMsg]="initForm.get('lastName')"></div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mdb-select [options]="genderOptions" (selected)="onGenderChange($event)" placeholder="{{ 'user.gender.disabled_option'|translate }}"
                                    class="colorful-select dropdown-ins"></mdb-select>
                        <label translate>user.gender.label</label>
                        <div class="error red-text" [zdlmValidMsg]="initForm.get('gender')"></div>
                    </div>
                    <div class="col-md-6">
                        <mdb-select [options]="langOptions" (selected)="onLangChange($event)" placeholder="{{ 'user.language.disabled_option'|translate }}"
                                    class="colorful-select dropdown-ins"></mdb-select>
                        <label translate>user.language.label</label>
                        <div class="error red-text" [zdlmValidMsg]="initForm.get('language')"></div>
                    </div>
                </div>
                <mdb-date-picker id="birthday" [options]="dpOptions" [placeholder]="'user.birthday.label'|translate" (inputFieldChanged)="onDateChanged($event)"
                                 required></mdb-date-picker>
                <div class="error red-text" [zdlmValidMsg]="initForm.get('birthday')"></div>
                <div class="md-form form-sm">
                    <input mdbInputDirective type="text" id="cin" formControlName="cin" class="form-control">
                    <label for="cin">{{ 'user.cin.long_label' | translate }}</label>
                    <div class="error red-text" [zdlmValidMsg]="initForm.get('cin')"></div>
                </div>
            </div>
        </div>

        <!-- Third Step -->
        <div class="row" *ngIf="step === 3">
            <div class="offset-md-3 col-md-6">
                <h2 class="text-center" translate>init_account.tab3</h2>
                <div formGroupName="location">
                    <div class="row" style="margin-bottom: 1.5rem">
                        <div class="col-md-12">
                            <mdb-select [options]="countryOptions" [filterEnabled]="true" (selected)="onCountryChange($event)"
                                        placeholder="{{ 'location.country.disabled_option'|translate }}"
                                        class="colorful-select dropdown-ins"></mdb-select>
                            <label translate>location.country.label</label>
                            <div class="error red-text" [zdlmValidMsg]="initForm.get(['location', 'country'])"></div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 1.5rem">
                        <div class="col-md-12" *ngIf="initForm.get('location.country').value === 'TN'">
                            <mdb-select [options]="stateOptions" [filterEnabled]="true" (selected)="onStateChange($event)"
                                        placeholder="{{ 'location.state.disabled_option'|translate }}"
                                        class="colorful-select dropdown-ins"></mdb-select>
                            <label translate>location.state.label</label>
                            <div class="error red-text" [zdlmValidMsg]="initForm.get(['location', 'state'])"></div>
                        </div>
                        <div class="col-md-12" *ngIf="initForm.get('location.country').value !== 'TN'">
                            <div class="md-form form-sm">
                                <input mdbInputDirective type="text" id="state" formControlName="state" class="form-control">
                                <label for="state">{{ 'location.state.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="initForm.get('location.state')"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 1.5rem">
                        <div class="col-md-6" *ngIf="initForm.get('location.country').value === 'TN'">
                            <mdb-select [options]="cityOptions" (selected)="onCityChange($event)" placeholder="{{ 'location.city.disabled_option'|translate }}"
                                        class="colorful-select dropdown-ins" [filterEnabled]="true"></mdb-select>
                            <label translate>location.city.label</label>
                            <div class="error red-text" [zdlmValidMsg]="initForm.get(['location', 'city'])"></div>
                        </div>
                        <div class="col-md-6" *ngIf="initForm.get('location.country').value !== 'TN'">
                            <div class="md-form form-sm" *ngIf="initForm.get('location.country').value !== 'TN'">
                                <input mdbInputDirective type="text" id="city" formControlName="city" class="form-control">
                                <label for="city">{{ 'location.city.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="initForm.get('location.city')"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form form-sm">
                                <input mdbInputDirective type="text" id="zipCode" formControlName="zipCode" class="form-control">
                                <label for="zipCode">{{ 'location.zipCode.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="initForm.get(['location', 'zipCode'])"></div>
                            </div>
                        </div>
                    </div>
                    <div class="md-form form-sm">
                        <input mdbInputDirective type="text" id="address" formControlName="address" class="form-control">
                        <label for="address">{{ 'location.address.label' | translate }}</label>
                        <div class="error red-text" [zdlmValidMsg]="initForm.get(['location', 'address'])"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Fourth Step -->
        <div class="row" *ngIf="step === 4">
            <div class="col-md-12">
                <div class="row">
                    <div class="offset-md-3 col-md-6">
                        <h5 class="text-center" translate>init_account.s4_congrats</h5>
                        <h6 class="text-center" translate>init_account.s4_verif</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-md-1 col-md-10">
                        <mdb-tabset #staticTabs [buttonClass]="'nav-tabs tabs-3'" [contentClass]="'card'">
                            <mdb-tab [heading]="'init_account.tab1'|translate">
                                <div class="row">
                                    <div class="col-12">
                                        <table class="table">
                                            <thead class="mdb-color darken-3">
                                            <tr class="text-white">
                                                <th>#</th>
                                                <th translate>init_account.field</th>
                                                <th translate>init_account.value</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td translate>user.username.label</td>
                                                <td>{{ initForm.get('username').value }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td translate>user.plainPassword.label</td>
                                                <td>
                                                    {{ getPass() }}
                                                    <a class="btn-floating btn-sm blue-gradient waves-light float-right" (mousedown)="viewPass = true"
                                                       (mouseup)="viewPass = false" mdbRippleRadius><i class="fa fa-eye"></i></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </mdb-tab>
                            <mdb-tab [heading]="'init_account.tab2'|translate">
                                <div class="row">
                                    <div class="col-12">
                                        <table class="table">
                                            <thead class="mdb-color darken-3">
                                            <tr class="text-white">
                                                <th>#</th>
                                                <th translate>init_account.field</th>
                                                <th translate>init_account.value</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td translate>user.firstName.label</td>
                                                <td>{{ initForm.get('firstName').value }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td translate>user.lastName.label</td>
                                                <td>{{ initForm.get('lastName').value }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td translate>user.gender.label</td>
                                                <td>{{ 'user.gender.' + initForm.get('gender').value | translate }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">4</th>
                                                <td translate>user.language.label</td>
                                                <td>{{ 'languages.' + initForm.get('language').value | translate }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td translate>user.birthday.label</td>
                                                <td>{{ initForm.get('birthday').value }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">6</th>
                                                <td translate>user.cin.long_label</td>
                                                <td>{{ initForm.get('cin').value }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </mdb-tab>
                            <mdb-tab [heading]="'init_account.tab3'|translate">
                                <div class="row">
                                    <div class="col-12">
                                        <table class="table">
                                            <thead class="mdb-color darken-3">
                                            <tr class="text-white">
                                                <th>#</th>
                                                <th translate>init_account.field</th>
                                                <th translate>init_account.value</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td translate>location.country.label</td>
                                                <td translate>country.{{this.initForm.get('location.country').value}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td translate>location.state.label</td>
                                                <td>{{ initForm.get('location.state').value }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td translate>location.city.label</td>
                                                <td>{{ initForm.get('location.city').value }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">4</th>
                                                <td translate>location.address.label</td>
                                                <td>{{ initForm.get('location.address').value }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td translate>location.zipCode.label</td>
                                                <td>{{ initForm.get('location.zipCode').value }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </mdb-tab>
                        </mdb-tabset>
                        <div class="form-check" style="margin-top: 20px">
                            <input type="checkbox" #check (change)="agreed = check.checked"  id="checkbox111" class="form-check-input">
                            <label for="checkbox111" class="form-check-label" translate>init_account.terms</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-mdb-color btn-rounded control-left" type="button" (click)="step = step-1" [disabled]="step === 1" translate>init_account.back</button>
        <button class="btn btn-mdb-color btn-rounded control-right" type="button" (click)="step = step+1" [disabled]="isNextDisabled()" *ngIf="step < 4" translate>init_account.next</button>
        <mdb-spinner spinnerColor="blue" class="control-right" *ngIf="isLoading"></mdb-spinner>
        <button [class]="'btn btn-success btn-rounded ' + (isLoading ? 'control-right-submit':'control-right')" type="submit" [disabled]="!agreed" *ngIf="step === 4" translate>app.submit</button>
    </form>
</div>
