<mdb-tabset #staticTabs [buttonClass]="'nav-tabs tabs-3'" [contentClass]="'card'">
    <mdb-tab [heading]="'exam.label_pl' | translate">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-4 mb-4" *ngFor="let examTemp of exams">
                    <mdb-card class="text-center">
                        <mdb-card-header class="primary-color white-text">
                            {{ examTemp.name }}
                        </mdb-card-header>
                        <mdb-card-body>
                            <mdb-card-text><strong>{{ 'exam.type.label' | translate }}</strong>: {{ 'exam.type.' + examTemp.type | translate }}</mdb-card-text>
                            <mdb-card-text><strong>{{ 'exam.coefficient.label' | translate }}</strong>: {{ examTemp.coefficient }}%</mdb-card-text>
                            <div class="row">
                                <div class="col-sm-6" style="padding: 5px 0">
                                    <a mdbBtn color="danger" size="sm" class="waves-light" (click)="exam = examTemp; warning.show()" mdbWavesEffect>
                                        <mdb-icon icon="trash-o"></mdb-icon>
                                        {{'app.remove'|translate}}</a>
                                </div>
                                <div class="col-sm-6" style="padding: 5px 0">
                                    <a mdbBtn color="info" size="sm" class="waves-light" (click)="exam = examTemp; formPrep()" mdbWavesEffect>
                                        <mdb-icon icon="edit"></mdb-icon>
                                        {{'app.edit'|translate}}
                                    </a>
                                </div>
                            </div>
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-sm btn-primary waves-effect waves-light fright" type="button" mdbWavesEffect (click)="exam = null; formPrep()">
                        <mdb-icon icon="plus" class="mr-1"></mdb-icon>
                        {{ 'exam.new' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </mdb-tab>
    <mdb-tab [heading]="'curriculum.label' | translate" (select)="changePath()"></mdb-tab>
</mdb-tabset>
<div mdbModal #examModal="mdb-modal" class="modal fade" id="examModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <form [formGroup]="examForm" (ngSubmit)="submit()">
            <div class="modal-content">
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa fa-pencil"></i> {{ 'specialities.edit_mdl_sbj_header' | translate }}</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="examModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body mb-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="md-form form-sm">
                                <input mdbInputDirective type="text" id="name" formControlName="name" class="form-control">
                                <label for="name">{{ 'exam.name.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="examForm.get('name')"></div>
                            </div>
                        </div>
                        <div class="col-12 mb-1 mt-3" *ngIf="!(moduleSubjectId > 0)">
                            <mdb-select [options]="typeOptions" [formControlName]="'type'" [placeholder]="'exam.type.placeholder' | translate"></mdb-select>
                            <label>{{ 'exam.type.label' | translate }}</label>
                            <div class="error red-text" [zdlmValidMsg]="examForm.get('type')"></div>
                        </div>
                        <div class="col-12">
                            <div class="md-form form-sm">
                                <input mdbInputDirective type="number" id="coefficient" formControlName="coefficient" class="form-control">
                                <label for="coefficient">{{ 'moduleSubject.coefficient.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="examForm.get('coefficient')"></div>
                                <div class="error red-text" *ngIf="!isCoefValid()" translate>exam.coefficient.exceed_100</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="examForm.invalid || !isCoefValid()" class="btn btn-info mb-2 waves-light" mdbRippleRadius>
                        {{'app.submit' | translate}} <i class="fa fa-send ml-1"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div mdbModal #warning="mdb-modal" class="modal fade" id="warningModule" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead" translate>app.confirm_action</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="warning.hide()">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <p></p>
                        <p class="text-center">
                            <i class="fa fa-warning fa-4x"></i>
                        </p>
                    </div>
                    <div class="col-9">
                        <p>{{'exams.delete_warning'|translate}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-primary-modal waves-light" mdbRippleRadius
                   (click)="remove()">{{ 'app.yes_delete'|translate }} <i class="fa fa-check ml-1"></i>
                </a>
                <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" (click)="warning.hide()" mdbRippleRadius>
                    {{ 'app.no_delete'|translate }} <i class="fa fa-times ml-1"></i>
                </a>
            </div>
        </div>
    </div>
</div>.
