.header-cell {
  background-color: #e0e0e0; }

.cell {
  height: 100px;
  text-align: center;
  font-weight: 400; }

.cell.session {
  background-color: #fafafa;
  cursor: pointer;
  border-right: 1px solid #dee2e6; }
  .cell.session .session-info {
    padding: 0 6px 2px;
    font-size: 11px; }
  .cell.session .session-subject {
    padding: 5px;
    line-height: 20px; }

.cell.break {
  background-color: #9e9e9e; }

.cell.day {
  background-color: #009688; }

.cell.action {
  background-color: #4285F4;
  cursor: pointer;
  color: #FFf; }

/*# sourceMappingURL=timetable-settings.component.css.map */
