<div class="container-fluid">
    <div fxLayout="column" *ngIf="!!timetable">
        <div fxLayout="row">
            <div class="mt-2 mb-2" fxFlex="30%" fxFlex.lt-md="100%" fxFlex.md="50%">
                <mdb-select [(ngModel)]="selectedValue" [options]="timetableOptions" (selected)="onTimetableSelect($event)"></mdb-select>
            </div>
        </div>
        <!--<div fxLayout="row" fxHide.lt-md="true">
            <ng-container *ngFor="let hour of hours; let i = index">
                <ng-container *ngIf="i === 0; then first else other"></ng-container>
                <ng-template #first>
                    <div class="header-cell" [fxFlexOffset]="9500/(timetable.maxMinutes + 95)" [fxFlex]="100*hour/(timetable.maxMinutes + 95)">
                        <span style="float: left">8h</span>
                        <span style="float: right">{{ 9 + i }}h</span>
                    </div>
                </ng-template>
                <ng-template #other>
                    <div class="header-cell" [fxFlex]="100*hour/(timetable.maxMinutes + 95)"><span style="float: right" *ngIf="hour == 60">{{ 9 + i }}h</span></div>
                </ng-template>
            </ng-container>
        </div>-->
        <div fxLayout="row" fxLayout.lt-md="column" class="border-bottom" *ngFor="let day of timetable.days; let i = index">
            <ng-container *ngIf="i > 0">
                <div class="cell day" [fxFlex]="9500/(timetable.maxMinutes + 95)" fxLayoutAlign="center center">
                    {{ 'timetable.' + i | translate }}
                    <a mdbBtn floating="true" size="sm" color="red" mdbWavesEffect mdbTooltip="Clear day" placement="right" (click)="timetable.clearDay(i)">
                        <mdb-icon icon="trash-o"></mdb-icon>
                    </a>
                </div>
                <ng-container *ngFor="let container of day">
                    <ng-container *ngIf="container.type == 'session'; then sessionTemp else breakTemp"></ng-container>
                    <ng-template #sessionTemp>
                        <div class="cell session" [fxFlex]="100 * container.minutes/(timetable.maxMinutes + 95)" fxLayout="column">
                            <div class="session-subject" fxFlex="82px" fxLayoutAlign="center center">----</div>
                            <div fxFlex="18px" fxLayout fxLayoutAlign="space-between center">
                                <div fxFlex="nogrow" class="session-info">----</div>
                                <div fxFlex="nogrow" class="session-info">{{container.timeRange()}}</div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #breakTemp><div class="cell break" [fxFlex]="100 * container.minutes/(timetable.maxMinutes + 95)"></div></ng-template>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>
<div class="fixed-action-btn" style="bottom: 20px; right: 20px;">
    <a mdbBtn [floating]="true" color="dark-green" *ngIf="!!timetable && timetable.dirty" mdbWavesEffect [mdbTooltip]="'timetables.save' | translate" placement="left" (click)="saveContainers()">
        <i class="fa fa-save"></i>
    </a>
    <a mdbBtn [floating]="true" color="blue" *ngIf="!timetable?.locked" [mdbTooltip]="'timetables.new_sc' | translate" placement="left" mdbWavesEffect (click)="containerModal.show()">
        <i class="fa fa-clone"></i>
    </a>
    <a class="btn-floating btn-large btn-warning waves-light" mdbWavesEffect [mdbTooltip]="'timetables.edit_tt' | translate" placement="left" (click)="prepTimeForm(true)">
        <i class="fa fa-pencil"></i>
    </a>
    <a class="btn-floating btn-large green waves-light" mdbWavesEffect [mdbTooltip]="'timetables.new_tt' | translate" placement="left" (click)="prepTimeForm(false)">
        <i class="fa fa-calendar-plus-o"></i>
    </a>
</div>

<div mdbModal #containerModal="mdb-modal" class="modal fade" id="containerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <form [formGroup]="containerForm" (ngSubmit)="submit()">
            <div class="modal-content">
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa fa-plus"></i> {{ 'timetables.new_sc_header' | translate }}</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="containerModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body mb-0">
                    <div class="row">
                        <div class="col-12 mb-1 mt-3">
                            <mdb-select [options]="dayOptions" [multiple]="true" [formControlName]="'day'" [placeholder]="'sessionContainer.day.placeholder' | translate">
                            </mdb-select>
                            <label>{{ 'sessionContainer.day.label' | translate }}</label>
                        </div>
                        <div class="col-12 mb-1 mt-3">
                            <mdb-time-picker [buttonLabel]="'app.done' | translate" [twelvehour]="false" [darktheme]="false" [showClock]="false" [(ngModel)]="start"
                                             [placeholder]="'sessionContainer.startAt.placeholder' | translate" [label]="'sessionContainer.startAt.label' | translate"
                                             [ngModelOptions]="{standalone: true}"></mdb-time-picker>
                        </div>
                        <div class="col-12 mb-1 mt-3">
                            <mdb-time-picker [buttonLabel]="'app.done' | translate" [twelvehour]="false" [darktheme]="false" [showClock]="false" [(ngModel)]="end"
                                             [placeholder]="'sessionContainer.endAt.placeholder' | translate" [label]="'sessionContainer.endAt.label' | translate"
                                             [ngModelOptions]="{standalone: true}"></mdb-time-picker>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="containerForm.invalid" class="btn btn-info mb-2 waves-light" mdbRippleRadius>
                        {{'app.submit' | translate}} <i class="fa fa-send ml-1"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div mdbModal #timeModal="mdb-modal" class="modal fade" id="timeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <form [formGroup]="timeForm" (ngSubmit)="submitTimetable()">
            <div class="modal-content">
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title" *ngIf="editTime"><i class="fa fa-pencil"></i> {{ 'timetables.edit_tt_header' | translate }}</h4>
                    <h4 class="title" *ngIf="!editTime"><i class="fa fa-plus"></i> {{ 'timetables.new_tt_header' | translate }}</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="timeModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body mb-0">
                    <div class="row">
                        <div class="col-12 md-form form-sm">
                            <input mdbInputDirective type="text" id="d_name" formControlName="name" class="form-control">
                            <label for="d_name">{{ 'timetable.name.label' | translate }}</label>
                            <div class="error red-text" [zdlmValidMsg]="timeForm.get('name')"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="timeForm.invalid" class="btn btn-info mb-2 waves-light" mdbRippleRadius>
                        {{'app.submit' | translate}} <i class="fa fa-send ml-1"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
