<mdb-tabset #staticTabs [buttonClass]="'nav-tabs tabs-4'" [contentClass]="'card'">
    <mdb-tab heading="Account" (select)="router.navigate(['../account-info'], { relativeTo: this.activatedRoute })"></mdb-tab>
    <mdb-tab heading="Location" (select)="router.navigate(['../location-and-map'], { relativeTo: this.activatedRoute })"></mdb-tab>
    <mdb-tab heading="Contact" (select)="router.navigate(['../contact-info'], { relativeTo: this.activatedRoute })"></mdb-tab>
    <mdb-tab heading="Social Profiles" [active]="true">
        <div class="row">
            <div class="col-12">
                <ul class="list-group">
                    <li class="list-group-item d-flex" *ngFor="let sp of socialProfiles">
                        <a class="btn-floating btn-sm {{ sp.btnClass() }} waves-light" mdbRippleRadius>
                            <i class="fa fa-{{ sp.website }}"></i>
                        </a>
                        <ng-container *ngIf="sp.website === 'skype' || sp.website === 'whatsapp'; then nonUrlTemp else urlTemp"></ng-container>
                        <ng-template #urlTemp>
                            <a [href]="sp.url" class="link" target="_blank">/{{ sp.username }}</a>
                        </ng-template>
                        <ng-template #nonUrlTemp>
                            <a class="link" target="_blank"> {{ sp.username }}</a>
                        </ng-template>
                        <a class="btn-floating btn-sm bg-danger waves-light" [attr.disabled]="isSubmitting" (click)="toDeleteId=sp.id;warning.show()" mdbRippleRadius>
                            <i class="fa fa-trash-o"></i>
                        </a>
                        <a class="btn-floating btn-sm bg-white waves-light" [attr.disabled]="isSubmitting" (click)="initForm(sp)" mdbRippleRadius>
                            <i class="fa fa-edit grey-text"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12">
                <button type="button" [disabled]="isSubmitting" class="btn btn-sm btn-primary waves-light" style="float: right; margin-top: 15px" mdbRippleRadius (click)="initForm(null)" translate>
                    socialProfile.new <i class="fa fa-plus ml-1"></i></button>
            </div>
        </div>
    </mdb-tab>
</mdb-tabset>

<div mdbModal #form="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <form [formGroup]="settingForm" (ngSubmit)="submit()">
            <div class="modal-content">
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa fa-pencil"></i> {{ 'inst_section.email_edit'|translate }}</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body mb-0" style="padding-bottom: 35px">
                    <div class="row">
                        <div class="col-12" style="margin: 1.5rem 0">
                            <mdb-select [options]="(websiteOptions$ | async)" (selected)="onWebsiteChange($event)" [filterEnabled]="true"
                                        placeholder="{{ 'socialProfile.website.disabled_option'|translate }}"
                                        class="colorful-select dropdown-ins" [(ngModel)]="selectedWebsite" [ngModelOptions]="{standalone: true}"></mdb-select>
                            <label translate>socialProfile.website.label</label>
                            <div class="error red-text" [zdlmValidMsg]="settingForm.get('website')"></div>
                        </div>
                        <div class="col-12" *ngIf="settingForm.get('website').valid">
                            <div class="md-form input-group" style="margin-bottom: 5px; padding-left: 0">
                                <div class="input-group-prepend" id="basic-addon3">
                                    <span class="input-group-text" id="basic-addon3">{{ prefix }}</span>
                                </div>
                                <input type="text" mdbInputDirective class="form-control" formControlName="username" id="username" [placeholder]="placeholder"
                                       (keyup)="updateUrl($event)" style="margin: 0; padding: 0.2rem 0.4rem" aria-describedby="basic-addon3">
                            </div>
                            <div class="error red-text" [zdlmValidMsg]="settingForm.get('username')"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="settingForm.invalid" class="btn btn-info mb-2 waves-light" mdbRippleRadius>{{'app.submit' | translate}} <i
                            class="fa fa-send ml-1"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div mdbModal #warning="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead" translate>app.confirm_action</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="warning.hide()">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <p></p>
                        <p class="text-center">
                            <i class="fa fa-warning fa-4x"></i>
                        </p>
                    </div>
                    <div class="col-9">
                        <p>{{'socialProfile.delete_warning'|translate}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-primary-modal waves-light" mdbRippleRadius (click)="deleteSP(); warning.hide()">{{ 'app.yes_delete'|translate }} <i
                        class="fa fa-check ml-1"></i></a>
                <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" (click)="toDeleteId = null; warning.hide()"
                   mdbRippleRadius>{{ 'app.no_delete'|translate }} <i class="fa fa-times ml-1"></i></a>
            </div>
        </div>
    </div>
</div>
