.btn-floating.btn-sm {
    margin: 0;
    margin-right: 10px;
}
.list-group-item a.link {
    height: 36.15384615px;
    line-height: 36.15384615px;
    font-size: 22px;
    font-weight: 300;
}
a.bg-danger{
    position: absolute;
    right: 0;
}
a.bg-white{
    position: absolute;
    right: 45px;
}
