<mdb-tabset #staticTabs [buttonClass]="'nav-tabs tabs-3'" [contentClass]="'card'">
    <mdb-tab [heading]="'module.label_pl' | translate">
        <div class="container-fluid">
            <ng-container *ngFor="let year of years">
                <div class="row mb-3 mt-3">
                    <div class="col-sm-12 spec-container year">
                        {{ 'module.term.' + splitYear(year, 0) | translate }}, {{ 'module.term.' + splitYear(year, 1) | translate }}
                    </div>
                </div>
                <ng-container *ngFor="let module of modules[year]">
                    <div class="row mb-2">
                        <div class="col-sm-6 col-md-4 spec-container module">
                            {{ module.name }} <span class="badge black">{{ module.coefficient }}</span>
                            <a class="btn-floating btn-sm fright m-0 ml-2 btn-danger waves-light" mdbTooltip="{{ 'module.remove' | translate }}" placement="left"
                               (click)="moduleId=module.id; moduleSubjectId = 0; warning.show()" mdbWavesEffect><i class="fa fa-trash-o"></i></a>

                            <a *ngIf="module.id > 0" class="btn-floating btn-sm fright m-0 ml-2 btn-light-blue waves-light" mdbTooltip="{{'module.edit'| translate}}"
                               placement="left" (click)="moduleEditPrep(module)" mdbWavesEffect><i class="fa fa-edit"></i></a>
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <div class="row">
                                <div class="col-12 spec-container subject" *ngFor="let subject of module.subjects" [ngClass]="subject.id > 0 ? '' : 'null'">
                                    {{ subject.name }} <span class="badge black" *ngIf="subject.id > 0">{{ subject.coefficient }}</span>

                                    <a *ngIf="subject.id > 0" class="btn-floating btn-sm fright m-0 ml-2 btn-danger waves-light" mdbTooltip="{{ 'moduleSubject.remove' | translate }}"
                                        placement="left" (click)="moduleId=0; moduleSubjectId = subject.id; warning.show()" mdbWavesEffect><i class="fa fa-trash-o"></i></a>

                                    <a *ngIf="subject.id > 0" class="btn-floating btn-sm fright m-0 ml-2 btn-light-blue waves-light" mdbTooltip="{{'moduleSubject.edit'| translate}}"
                                        placement="left" (click)="mdlSbjEditPrep(module, subject)" mdbWavesEffect><i class="fa fa-edit"></i></a>

                                    <span *ngIf="!(subject.id > 0)">__</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-sm btn-primary waves-effect waves-light fright" type="button" mdbWavesEffect (click)="moduleId=0; moduleSubjectId = 0;
                        moduleModal.show()">
                        <mdb-icon icon="plus" class="mr-1"></mdb-icon>{{ 'module.new' | translate }}
                    </button>
                    <button class="btn btn-sm btn-primary waves-effect waves-light fright" type="button" mdbWavesEffect (click)="moduleId=0; moduleSubjectId = 0;
                    mdlSbjModal.show()">
                        <mdb-icon icon="plus" class="mr-1"></mdb-icon>{{ 'moduleSubject.new' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </mdb-tab>
    <mdb-tab [heading]="'classe.label_plu' | translate" (select)="changePath()"></mdb-tab>
</mdb-tabset>
<div mdbModal #moduleModal="mdb-modal" class="modal fade" id="moduleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <form [formGroup]="moduleForm" (ngSubmit)="submit()">
            <div class="modal-content">
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa fa-pencil"></i> {{ (moduleId > 0 ? 'specialities.edit_mdl_header':'specialities.add_mdl_header')|translate }}</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="moduleModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body mb-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="md-form form-sm">
                                <input mdbInputDirective type="text" id="name" formControlName="name" class="form-control">
                                <label for="name">{{ 'module.name.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="moduleForm.get('name')"></div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="md-form form-sm">
                                <textarea mdbInputDirective type="text" id="description" formControlName="description" class="md-textarea mb-0" style="width: 100%"></textarea>
                                <label for="description">{{ 'module.description.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="moduleForm.get('description')"></div>
                            </div>
                        </div>
                        <div class="col-12">
                            <mdb-select [options]="yearOptions" [formControlName]="'year'" [placeholder]="'module.year.placeholder' | translate"></mdb-select>
                            <label>{{ 'module.year.label' | translate }}</label>
                            <div class="error red-text" [zdlmValidMsg]="moduleForm.get('year')"></div>
                        </div>
                        <div class="col-12 mt-3">
                            <mdb-select [options]="termOptions" [formControlName]="'term'" [placeholder]="'module.term.placeholder' | translate"></mdb-select>
                            <label>{{ 'module.term.label' | translate }}</label>
                            <div class="error red-text" [zdlmValidMsg]="moduleForm.get('term')"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="moduleForm.invalid" class="btn btn-info mb-2 waves-light" mdbRippleRadius>{{'app.submit' | translate}} <i
                            class="fa fa-send ml-1"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div mdbModal #mdlSbjModal="mdb-modal" class="modal fade" id="mdlSbjModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <form [formGroup]="mdlSbjForm" (ngSubmit)="submitMS()">
            <div class="modal-content">
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa fa-pencil"></i> {{ (moduleSubjectId > 0 ? 'specialities.edit_mdl_sbj_header':'specialities.add_mdl_sbj_header')|translate }}</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="mdlSbjModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body mb-0">
                    <div class="row">
                        <div class="col-12 mb-3 mt-3" *ngIf="!(moduleSubjectId > 0)">
                            <mdb-select [options]="modulesOptions" [formControlName]="'module'" [placeholder]="'moduleSubject.module.placeholder' | translate"
                            [filterEnabled]="true" [filterPlaceholder]="'moduleSubject.module.filter_ph' | translate"></mdb-select>
                            <label>{{ 'moduleSubject.module.label' | translate }}</label>
                            <div class="error red-text" [zdlmValidMsg]="mdlSbjForm.get('module')"></div>
                        </div>
                        <div class="col-12 mb-1 mt-3" *ngIf="!(moduleSubjectId > 0)">
                            <mdb-select [options]="subjectsOptions" [formControlName]="'subject'" [placeholder]="'moduleSubject.subject.placeholder' | translate"
                                        [filterEnabled]="true" [filterPlaceholder]="'moduleSubject.subject.filter_ph' | translate"></mdb-select>
                            <label>{{ 'moduleSubject.subject.label' | translate }}</label>
                            <div class="error red-text" [zdlmValidMsg]="mdlSbjForm.get('subject')"></div>
                        </div>
                        <div class="col-12">
                            <div class="md-form form-sm">
                                <input mdbInputDirective type="number" id="coefficient" formControlName="coefficient" class="form-control">
                                <label for="coefficient">{{ 'moduleSubject.coefficient.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="mdlSbjForm.get('coefficient')"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="mdlSbjForm.invalid" class="btn btn-info mb-2 waves-light" mdbRippleRadius>{{'app.submit' | translate}} <i
                            class="fa fa-send ml-1"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div mdbModal #warning="mdb-modal" class="modal fade" id="warningModule" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead" translate>app.confirm_action</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="warning.hide()">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <p></p>
                        <p class="text-center">
                            <i class="fa fa-warning fa-4x"></i>
                        </p>
                    </div>
                    <div class="col-9">
                        <p *ngIf="moduleId > 0">{{'specialities.delete_warning_mdl'|translate}}</p>
                        <p *ngIf="moduleSubjectId > 0">{{'specialities.delete_warning_mdl_sbj'|translate}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-primary-modal waves-light" mdbRippleRadius
                   (click)="remove()">{{ 'app.yes_delete'|translate }} <i class="fa fa-check ml-1"></i>
                </a>
                <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" (click)="warning.hide()" mdbRippleRadius>
                    {{ 'app.no_delete'|translate }} <i class="fa fa-times ml-1"></i>
                </a>
            </div>
        </div>
    </div>
</div>
