div.spec-container {
    padding: 1rem;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    .h4 {
        font-weight: 500;
    }
}
.spec-container.year {
    background-color: #0099CC;
    text-align: left;
}
.spec-container.module {
    background-color: #0d47a1;
}
.spec-container.subject {
    background-color: #4285F4;
}
.spec-container.subject.null {
    background-color: #bdbdbd !important;
}
.spec-container.module, .spec-container.subject {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 36px;
}
aside {
    display: block;
    position: relative;
    margin: 40px 0;
}

aside h3 {
    font: bold 12px Sans-Serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #369;
    color: #fff;
    padding: 5px 10px;
    margin: 0 0 10px 0;
    line-height: 24px;
}
