<div class="card-panel">
    <!--<ul class="collapsible" data-collapsible="expandable" #collapsible materialize="collapsible" *ngIf="socialProfiles.length > 0">
        <li *ngFor="let sp of socialProfiles; let i = index" zdlm-sprf-edit [profile]="sp" (onSaved)="unsaved = false"
            (popOut)="popOut(i)" (onDelete)="spDeteled(i)">
        </li>
    </ul>
    <div class="row">
        <div class="col s12">
            <button class="btn waves-effect waves-light right" [disabled]="unsaved" *ngIf="socialProfiles.length < 12" (click)="addSP()">
                <i class="material-icons left">add</i>{{ 'socialProfile.new' | translate }}
            </button>
        </div>
    </div>-->
</div>
