<header>
    <mdb-sidenav #sidenav class="sn-bg-1 fixed" [fixed]="true">
        <zdlm-ins-admin-sidenav></zdlm-ins-admin-sidenav>
    </mdb-sidenav>
    <mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav" [containerInside]="false">
        <navlinks class="navbar-container">
            <div class="float-left">
                <a (click)="sidenav.show()" class="button-collapse"><i class="fa fa-bars"></i></a>
            </div>
        </navlinks>
        <logo>
            <div class="breadcrumbs breadcrumb-dn mr-auto">
                <p>{{ (authService.insObservable$ | async)?.name }}</p>
            </div>
        </logo>
        <navlinks>
            <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbRippleRadius><i class="fa fa-envelope"></i> <span class="clearfix d-none d-sm-inline-block">Messages</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbRippleRadius><i class="fa fa-comments-o"></i> <span class="clearfix d-none d-sm-inline-block">Notifications</span></a>
                </li>
                <li class="nav-item dropdown btn-group" dropdown>
                    <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
                        <i class="fa fa-user"></i> {{ (authService.userObservable$ | async)?.fullName() }}
                    </a>
                    <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Profile Settings</a>
                        <a class="dropdown-item" href="#">Institute Dashboard</a>
                        <a class="dropdown-item" href="#">Institute Settings</a>
                    </div>
                </li>
            </ul>
        </navlinks>
    </mdb-navbar>
</header>
<main style="height: 100%">
    <router-outlet></router-outlet>
</main>
