<mdb-tabset [buttonClass]="'classic-tabs tabs-cyan'" [contentClass]="'card'" *ngIf="(infraObservable$ | async).length > 0">
    <mdb-tab [heading]="block.name" *ngFor="let block of (infraObservable$ | async | orderBy:'index')" (select)="selectedBlock = block.id">
        <div class="row">
            <div class="col-12">
                <mdb-squeezebox [multiple]="false" aria-multiselectable="false">
                    <mdb-item *ngFor="let floor of block.children | orderBy:'index'">
                        <mdb-item-head (click)="selectedFloor = floor.id"> {{ floor.name }} ({{ floor.children.length }})</mdb-item-head>
                        <mdb-item-body>
                            <div class="row">
                                <div class="col-12">
                                    <div class="chip" *ngFor="let classroom of floor.children | orderBy:'index'">
                                        <img [src]="'../../../../assets/images/' + classroom.type + '.png'" alt="Contact Person">
                                        <span class="classroom-chip">{{ classroom.name }}</span>
                                        <i class="close fa fa-edit blue-text" (click)="editInfrastructure(classroom.id)"></i>
                                        <i class="close fa fa-trash-o red-text" style="margin-right: 3px" (click)="confirmRemoveInfrastructure(classroom.id)"></i>
                                    </div>
                                </div>
                            </div>
                                <button class="btn btn-success btn-sm fright waves-effect waves-light" (click)="newClassroom(floor.id)"
                                        translate>infrastructure.new_class <i class="fa fa-plus ml-1"></i></button>
                                <button class="btn btn-primary btn-sm fright waves-effect waves-light" (click)="editInfrastructure(floor.id)"
                                        translate>infrastructure.edit_floor <i class="fa fa-plus ml-1"></i></button>
                                <div [mdbTooltip]="floor.children.length > 0 ? ('infrastructure.floor_not_empty' | translate) : ''" placement="top" style="display: inline">
                                    <button class="btn btn-danger btn-sm fright waves-effect waves-light" (click)="confirmRemoveInfrastructure(floor.id)" [disabled]="floor.children.length > 0"
                                            translate>infrastructure.remove_floor <i class="fa fa-plus ml-1"></i></button>
                                </div>
                        </mdb-item-body>
                    </mdb-item>
                </mdb-squeezebox>
                <br>
                <button class="btn btn-success btn-sm fright waves-light" (click)="newFloor(block.id)"
                        translate>infrastructure.new_floor <i class="fa fa-plus ml-1"></i></button>
                <button class="btn btn-primary btn-sm fright waves-effect waves-light" (click)="editBlock()"
                        translate>infrastructure.edit_block <i class="fa fa-edit ml-1"></i></button>
                <div [mdbTooltip]="block.children.length > 0 ? ('infrastructure.block_not_empty' | translate) : ''" placement="top" style="display: inline">
                    <button class="btn btn-danger btn-sm fright waves-effect waves-light" (click)="confirmRemoveBlock(block.id)" [disabled]="block.children.length > 0"
                            translate>infrastructure.remove_block <i class="fa fa-trash-o ml-1"></i></button>
                </div>
            </div>
        </div>
    </mdb-tab>
</mdb-tabset>
<div class="row" style="margin-top: 10px">
    <div class="col-12">
        <button class="btn btn-sm btn-success fright waves-light waves-effect" style="margin-right: 13px" (click)="newBlock()" translate>infrastructure.new_block <i
                class="fa fa-plus ml-1"></i>
        </button>
    </div>
</div>
<mdb-tabset [buttonClass]="'classic-tabs tabs-cyan'" [contentClass]="'card'" *ngIf="(infraObservable$ | async).length === 0">
    <mdb-tab heading="{{ 'infrastructure.empty_infra' | translate }}">
        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-md-8 col-lg-6">
                <div class="text-center">
                    <button class="btn btn-deep-orange btn-block waves-light waves-effect" (click)="newBlock()" translate>infrastructure.new_block</button>
                </div>
            </div>
        </div>
    </mdb-tab>
</mdb-tabset>

<div mdbModal #form="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <form [formGroup]="infraForm" (ngSubmit)="submit()">
            <div class="modal-content">
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa fa-pencil"></i> {{ 'inst_section.email_edit'|translate }}</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close"
                            (click)="form.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body mb-0" style="padding-bottom: 35px">
                    <div class="row">
                        <div [ngClass]="infrastructure.type === 'BLOCK' || infrastructure.type === 'FLOOR' ? 'col-sm-9 col-md-8' : 'col-sm-12'">
                            <div class="md-form form-sm">
                                <input mdbInputDirective type="text" id="name" formControlName="name" class="form-control">
                                <label for="name">{{ 'infrastructure.name.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="infraForm.get('name')"></div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-4" *ngIf="infrastructure.type === 'BLOCK' || infrastructure.type === 'FLOOR'">
                            <div class="md-form form-sm">
                                <input mdbInputDirective type="text" id="alias" formControlName="alias" class="form-control">
                                <label for="alias">{{ 'infrastructure.alias.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="infraForm.get('alias')"></div>
                            </div>
                        </div>
                        <div class="col-12" style="margin: 1.5rem 0" *ngIf="infrastructure.type !== 'BLOCK' && infrastructure.type !== 'FLOOR'">
                            <mdb-select [options]="typeOptions" (selected)="onTypeChange($event)" placeholder="{{ 'infrastructure.type.disabled_option'|translate }}"
                                        class="colorful-select dropdown-ins" [(ngModel)]="selectedType" [ngModelOptions]="{standalone: true}"></mdb-select>
                            <label translate>infrastructure.type.label</label>
                            <div class="error red-text" [zdlmValidMsg]="infraForm.get('type')"></div>
                        </div>
                        <ng-container *ngIf="infrastructure.type !== 'BLOCK'">
                            <div class="col-sm-12" style="margin-bottom: 1.5rem;">
                                <div class="switch">
                                    <label>
                                        {{ 'infrastructure.index.range' | translate }}
                                        <input [(ngModel)]="singleIndex" [ngModelOptions]="{standalone: true}" type="checkbox">
                                        <span class="lever"></span>
                                        {{ 'infrastructure.index.single_val' | translate }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12" *ngIf="singleIndex">
                                <div class="md-form form-sm">
                                    <input mdbInputDirective type="text" id="index" formControlName="index"
                                           class="form-control">
                                    <label for="index">{{ 'infrastructure.index.label' | translate }}</label>
                                    <div class="error red-text" [zdlmValidMsg]="infraForm.get('index')"></div>
                                </div>
                            </div>
                            <div class="col-sm-6" *ngIf="!singleIndex">
                                <div class="md-form form-sm">
                                    <input mdbInputDirective type="text" id="index-min" formControlName="indexFrom" class="form-control">
                                    <label for="index-min">{{ 'infrastructure.index.from_label' | translate }}</label>
                                    <div class="error red-text" [zdlmValidMsg]="infraForm.get('indexFrom')"></div>
                                </div>
                            </div>
                            <div class="col-sm-6" *ngIf="!singleIndex">
                                <div class="md-form form-sm">
                                    <input mdbInputDirective type="text" id="index-max" formControlName="indexTo" class="form-control">
                                    <label for="index-max">{{ 'infrastructure.index.to_label' | translate }}</label>
                                    <div class="error red-text" [zdlmValidMsg]="infraForm.get('indexTo')"></div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <blockquote class="blockquote bq-danger" translate *ngIf="showIndexError()">infrastructure.index.error</blockquote>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="!formValid()" class="btn btn-info mb-2 waves-light" mdbRippleRadius>
                        {{'app.submit' | translate}} <i class="fa fa-send ml-1"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div mdbModal #warning="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead" translate>app.confirm_action</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="warning.hide()">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <p></p>
                        <p class="text-center">
                            <i class="fa fa-warning fa-4x"></i>
                        </p>
                    </div>
                    <div class="col-9">
                        <p>{{'infrastructure.delete_warning'|translate}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-primary-modal waves-light" mdbRippleRadius
                   (click)="removeInfra(); warning.hide()">{{ 'app.yes_delete'|translate }} <i
                        class="fa fa-check ml-1"></i></a>
                <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal"
                   (click)="warning.hide()"
                   mdbRippleRadius>{{ 'app.no_delete'|translate }} <i class="fa fa-times ml-1"></i></a>
            </div>
        </div>
    </div>
</div>
