//@import "../../../shared/components/account/account-edit";

.secondary-content .btn-floating {
    position: relative;
    cursor: pointer;
    height: 28px;
    width: 28px;
    margin-top: 4px;
    margin-right: 10px;
    i {
        position: absolute;
        bottom: 3px;
        height: 34px;
        width: 34px;
    }
}

.default-cursor {
    cursor: default;
}
.classroom-chip {
    padding: 0 7px;
}
.fright {
    float: right;
    margin-bottom: 10px;
}
