<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-12">
            <mdb-carousel #carouselRef [isControls]="false" [noWrap]="true" [interval]="0" [keyboard]="false" class="carousel-multi-item multi-animation carousel-fade attendance"
                          [type]="'carousel-multi-item'" [animation]="'fade'" [activeSlideIndex]="20">
                <mdb-carousel-item *ngFor="let user of students" class="carousel-item">
                        <div class="offset-md-3 col-md-6 offset-xl-4 col-xl-4 clearfix d-none d-md-block">
                        <mdb-card cascade="true" narrower="true">
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img [src]="user.imageUrl"></mdb-card-img>
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <mdb-card-body cascade="true" class="text-center mt-2">
                                <mdb-card-title>
                                    <h4>{{ 'attendance.cls_student' | translate:{'classe': session.classe.name} }}</h4>
                                </mdb-card-title>
                                <hr>
                                <mdb-card-text>
                                    <h4 class="dark-grey-text">{{ user.fullName() }}</h4>
                                    <!--<h5 class="dark-grey-text">{{ user.email }}</h5>-->
                                </mdb-card-text>
                            </mdb-card-body>
                            <mdb-card-footer>
                                <div class="row">
                                    <div class="col-6">
                                        <button mdbBtn type="button" color="danger" [ngClass]="{'btn-outline-danger': !(user.present === false)}" [block]="true"
                                                (click)="markPresence(user, false)" mdbWavesEffect>
                                            <mdb-icon icon="close" class="mr-2"></mdb-icon>
                                            {{ 'attendance.absent' | translate }}
                                        </button>
                                    </div>
                                    <div class="col-6">
                                        <button mdbBtn type="button" color="success" [ngClass]="{'btn-outline-success': !(user.present === true)}" [block]="true"
                                                (click)="markPresence(user, true)" mdbWavesEffect>
                                            <mdb-icon icon="check" class="mr-2"></mdb-icon>
                                            {{ 'attendance.present' | translate }}
                                        </button>
                                    </div>
                                </div>
                            </mdb-card-footer>
                        </mdb-card>
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item *ngFor="let assistant of assistants" class="carousel-item">
                    <div class="offset-md-3 col-md-6 offset-lg-4 col-lg-4 clearfix d-none d-md-block">
                        <mdb-card cascade="true" narrower="true" dark="true">
                            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                                <mdb-card-img [src]="assistant.imageUrl"></mdb-card-img>
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <mdb-card-body cascade="true" class="elegant-color white-text text-center mt-2">
                                <mdb-card-title>
                                    <h4>{{ 'attendance.ass_prof' | translate }}</h4>
                                </mdb-card-title>
                                <hr class="hr-light">
                                <mdb-card-text class="white-text">
                                    <h4 class="card-title">{{ assistant.fullName() }}</h4>
                                    <!--<h5 class="card-title">{{ assistant.email }}</h5>-->
                                </mdb-card-text>
                            </mdb-card-body>
                            <mdb-card-footer>
                                <div class="row">
                                    <div class="col-6">
                                        <button mdbBtn type="button" color="danger" [ngClass]="{'btn-outline-danger': !(assistant.present === false)}" [block]="true"
                                                (click)="markPresence(assistant, false)" mdbWavesEffect>
                                            <mdb-icon icon="close" class="mr-2"></mdb-icon>
                                            {{ 'attendance.absent' | translate }}
                                        </button>
                                    </div>
                                    <div class="col-6">
                                        <button mdbBtn type="button" color="success" [ngClass]="{'btn-outline-success': !(assistant.present === true)}" [block]="true"
                                                (click)="markPresence(assistant, true)" mdbWavesEffect>
                                            <mdb-icon icon="check" class="mr-2"></mdb-icon>
                                            {{ 'attendance.present' | translate }}
                                        </button>
                                    </div>
                                </div>
                            </mdb-card-footer>
                        </mdb-card>
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item *ngIf="lastSlide" class="carousel-item">
                    <div class="offset-md-3 col-md-6 clearfix d-none d-md-block">
                        <mdb-card>
                            <mdb-card-body class="text-center mt-2">
                                <mdb-card-title>
                                    <h4>{{ 'attendance.resume' | translate }}</h4>
                                </mdb-card-title>
                                <hr class="hr-light">
                                <div class="attendance-summary">
                                    <span>{{ 'attendance.students' | translate:{percentage: percentageStd} }}</span>
                                    <mdb-progress [value]="percentageStd" min="0" max="100" type="success" [attr.aria-valuenow]="percentageStd" aria-valuemin="0" aria-valuemax="100"></mdb-progress>
                                    <span>{{ 'attendance.assistants' | translate:{percentage: percentageAsp} }}</span>
                                    <mdb-progress [value]="percentageAsp" min="0" max="100" type="success" [attr.aria-valuenow]="percentageAsp" aria-valuemin="0" aria-valuemax="100"></mdb-progress>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>{{ 'user.fullName' | translate }}</th>
                                            <th>{{ 'attendance.presence' | translate }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let user of students; let i = index">
                                            <th scope="row">{{ i + 1 }}</th>
                                            <td>{{ user.fullName() }}</td>
                                            <td>{{ ('attendance.' + ( user.present ? 'present' : 'absent' )) | translate }}</td>
                                        </tr>
                                        <tr *ngFor="let user of assistants; let j = index">
                                            <th scope="row">{{ students.length + j + 1 }}</th>
                                            <td>{{ user.fullName() }} (Assistant Prof.)</td>
                                            <td>{{ ('attendance.' + ( user.present ? 'present' : 'absent' )) | translate }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </mdb-card-body>
                            <mdb-card-footer>
                                <div class="row">
                                    <div class="col-6">
                                        <button mdbBtn type="button" color="elegant" [block]="true" (click)="restart()" mdbWavesEffect>
                                            <mdb-icon icon="undo" class="mr-2"></mdb-icon>
                                            Restart
                                        </button>
                                    </div>
                                    <div class="col-6">
                                        <button mdbBtn type="button" color="success" [block]="true" (click)="submit()" mdbWavesEffect>
                                            <mdb-icon icon="check" class="mr-2"></mdb-icon>
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </mdb-card-footer>
                        </mdb-card>
                    </div>
                </mdb-carousel-item>
            </mdb-carousel>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mdb-progress [value]="markedUsers" min="0" [max]="usersNbr" [attr.aria-valuenow]="markedUsers" aria-valuemin="0" [attr.aria-valuemax]="usersNbr"></mdb-progress>
        </div>
    </div>
</div>
