.carousel-item {
  padding: 10px 0;
  height: 100%; }

.attendance-summary {
  max-height: calc( 100vh - 360px );
  overflow-y: auto; }

.btn-block {
  padding: 0.7rem; }

/*# sourceMappingURL=attendance.component.css.map */
