<mdb-tabset #staticTabs [buttonClass]="'nav-tabs tabs-4'" [contentClass]="'card'">
    <mdb-tab heading="Account" (select)="router.navigate(['../account-info'], { relativeTo: this.activatedRoute })"></mdb-tab>
    <mdb-tab heading="Location" (select)="router.navigate(['../location-and-map'], { relativeTo: this.activatedRoute })"></mdb-tab>
    <mdb-tab heading="Contact" [active]="true">
        <div class="row">
            <div class="col-12">
                <h3 translate>email.plural</h3>
            </div>
            <div class="col-12">
                <mdb-squeezebox [multiple]="false" aria-multiselectable="true">
                    <mdb-item *ngFor="let email of emails; let i = index">
                        <mdb-item-head>
                            #{{i+1}} {{ email.email }}
                            <a class="btn-floating btn-sm aqua-gradient waves-light" style="display: inline-block;width: 30px;height: 30px; margin: 0 3px"
                               *ngIf="email.isPrimary" mdbRippleRadius><i class="fa fa-star" style="line-height: 30px"></i></a>
                            <a class="btn-floating btn-sm blue-gradient waves-light" style="display: inline-block;width: 30px;height: 30px; margin: 0 3px"
                               *ngIf="email.isVerified" mdbRippleRadius><i class="fa fa-check" style="line-height: 30px"></i></a>
                        </mdb-item-head>
                        <mdb-item-body>
                            <div class="col-12">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>{{'email.email.label'|translate}}</td>
                                        <td>{{ email.email }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{'email.role.label'|translate}}</td>
                                        <td>{{ email.role }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{'email.date.label'|translate}}</td>
                                        <td>{{ email.date | date:'dd/MM/yyyy HH:mm' }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button type="button" class="btn btn-sm btn-primary waves-light" style="float: right" mdbRippleRadius (click)="initEmailForm(email)"
                                    [disabled]="emailSubmitting" translate>app.edit <i class="fa fa-edit ml-1"></i></button>
                            <button type="button" class="btn btn-sm btn-danger waves-light" style="float: right" mdbRippleRadius
                                    [disabled]="emailSubmitting" (click)="toDeleteId=email.id;toDeleteEntity = 'email';warning.show()" translate>app.delete <i class="fa fa-trash-o ml-1"></i></button>
                        </mdb-item-body>
                    </mdb-item>
                </mdb-squeezebox>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-sm btn-primary waves-light" style="float: right; margin-top: 15px" mdbRippleRadius (click)="initEmailForm(null)"
                        translate>email.new <i class="fa fa-plus ml-1"></i></button>
            </div>
        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-12">
                <h3 translate>phone.plural</h3>
            </div>
            <div class="col-12">
                <mdb-squeezebox [multiple]="false" aria-multiselectable="true">
                    <mdb-item *ngFor="let phone of phones; let i = index">
                        <mdb-item-head>
                            #{{i+1}} ({{ phone.ccode }}) {{ phone.number }}
                            <a class="btn-floating btn-sm blue-gradient waves-light" style="display: inline-block;width: 30px;height: 30px; margin: 0 3px"
                               *ngIf="phone.isVerified" mdbRippleRadius><!--  -->
                                <i class="fa fa-check" style="line-height: 30px"></i>
                            </a>
                        </mdb-item-head>
                        <mdb-item-body>
                            <div class="col-12">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>{{'phone.number.label'|translate}}</td>
                                        <td>({{ phone.ccode }}) {{ phone.number }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{'phone.role.label'|translate}}</td>
                                        <td>{{ phone.role }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{'phone.type.label'|translate}}</td>
                                        <td>{{ 'phone.type.' + phone.type | translate }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{'phone.date.label'|translate}}</td>
                                        <td>{{ phone.date | date:'dd/MM/yyyy HH:mm' }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button type="button" class="btn btn-sm btn-primary waves-light" style="float: right" mdbRippleRadius (click)="initPhoneForm(phone)"
                                    [disabled]="phoneSubmitting" translate>app.edit <i class="fa fa-edit ml-1"></i></button>
                            <button type="button" class="btn btn-sm btn-danger waves-light" style="float: right" mdbRippleRadius [disabled]="phoneSubmitting"
                                    (click)="toDeleteId=phone.id;toDeleteEntity = 'phone';warning.show()" translate>app.delete <i class="fa fa-trash-o ml-1"></i></button>
                        </mdb-item-body>
                    </mdb-item>
                </mdb-squeezebox>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-sm btn-primary waves-light" style="float: right; margin-top: 15px" mdbRippleRadius (click)="initPhoneForm(null)"
                        translate>phone.new <i class="fa fa-plus ml-1"></i></button>
            </div>
        </div>
    </mdb-tab>
    <mdb-tab heading="Social Profiles" (select)="router.navigate(['../social-profiles'], { relativeTo: this.activatedRoute })"></mdb-tab>
</mdb-tabset>
<div mdbModal #emailModal="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <form [formGroup]="emailForm" (ngSubmit)="submitEmail()">
            <div class="modal-content">
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa fa-pencil"></i> {{ 'inst_section.email_edit'|translate }}</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="emailModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body mb-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="md-form form-sm">
                                <input mdbInputDirective type="text" id="email" formControlName="email" class="form-control">
                                <label for="email">{{ 'email.email.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="emailForm.get('email')"></div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="md-form form-sm">
                                <input mdbInputDirective type="text" id="role" formControlName="role" class="form-control">
                                <label for="role">{{ 'email.role.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="emailForm.get('role')"></div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input mdbDeepDirective type="checkbox" formControlName="isPrimary" id="isPrimary">
                                <label for="isPrimary">{{ 'email.isPrimary.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="emailForm.get('role')"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="emailForm.invalid" class="btn btn-info mb-2 waves-light" mdbRippleRadius>{{'app.submit' | translate}} <i class="fa fa-send ml-1"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div mdbModal #phoneModal="mdb-modal" class="modal fade" id="phoneForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <form [formGroup]="phoneForm" (ngSubmit)="submitPhone()">
            <div class="modal-content">
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa fa-pencil"></i> {{ 'inst_section.phone_edit'|translate }}</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="phoneModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body mb-0">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="md-form form-sm">
                                <input mdbInputDirective type="text" id="ccode" formControlName="ccode" class="form-control">
                                <label for="ccode">{{ 'phone.ccode.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="phoneForm.get('ccode')"></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div class="md-form form-sm">
                                <input mdbInputDirective type="text" id="number" formControlName="number" class="form-control">
                                <label for="number">{{ 'phone.number.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="phoneForm.get('number')"></div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="md-form form-sm">
                                <input mdbInputDirective type="text" id="rolePhone" formControlName="role" class="form-control">
                                <label for="rolePhone">{{ 'phone.role.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="phoneForm.get('role')"></div>
                            </div>
                        </div>
                        <div class="col-12" style="margin-bottom: 1.5rem">
                            <mdb-select [options]="(typeOptions$ | async)" (selected)="onTypeChange($event)"
                                        placeholder="{{ 'phone.type.disabled_option'|translate }}"
                                        class="colorful-select dropdown-ins" [(ngModel)]="selectedType" [ngModelOptions]="{standalone: true}"></mdb-select>
                            <label translate>phone.type.label</label>
                            <div class="error red-text" [zdlmValidMsg]="phoneForm.get('type')"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="phoneForm.invalid" class="btn btn-info mb-2 waves-light" mdbRippleRadius>{{'app.submit' | translate}} <i class="fa fa-send ml-1"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div mdbModal #warning="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead" translate>app.confirm_action</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="warning.hide()">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <p></p>
                        <p class="text-center">
                            <i class="fa fa-warning fa-4x"></i>
                        </p>
                    </div>
                    <div class="col-9">
                        <p *ngIf="toDeleteEntity === 'email'">{{'email.delete_warning'|translate}}</p>
                        <p *ngIf="toDeleteEntity === 'phone'">{{'phone.delete_warning'|translate}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-primary-modal waves-light" mdbRippleRadius (click)="deleteEntity(); warning.hide()">{{ 'app.yes_delete'|translate }} <i
                        class="fa fa-check ml-1"></i></a>
                <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" (click)="toDeleteId = null; toDeleteEntity = null; warning.hide()"
                   mdbRippleRadius>{{ 'app.no_delete'|translate }} <i class="fa fa-times ml-1"></i></a>
            </div>
        </div>
    </div>
</div>
