<!--
<div class="row" style="margin-top: 30px">
    <div class="col s4 m3">
        <div class="tabs-vertical ">
            <ul class="tabs" materialize="tabs">
                <li class="tab">
                    <a [ngClass]="{'waves-effect waves-cyan': true, 'active': path === 'account-info'}" [routerLink]="['./account-info']" translate>app.account.acc_info</a>
                </li>
                <li class="tab">
                    <a [ngClass]="{'waves-effect waves-cyan': true, 'active': path === 'location'}" [routerLink]="['./location']" translate>app.account.location</a>
                </li>
                <li class="tab">
                    <a [ngClass]="{'waves-effect waves-cyan': true, 'active': path === 'contact-info'}" [routerLink]="['./contact-info']" translate>app.account.contact</a>
                </li>
                <li class="tab">
                    <a [ngClass]="{'waves-effect waves-cyan': true, 'active': path === 'social-profiles'}" [routerLink]="['./social-profiles']" translate>app.account.soc_prfs</a>
                </li>
                <li class="tab">
                    <a [ngClass]="{'waves-effect waves-cyan': true, 'active': path === 'credentials'}" [routerLink]="['./credentials']" translate>app.account.credentials</a>
                </li>
                <li class="tab">
                    <a [ngClass]="{'waves-effect waves-cyan': true, 'active': path === 'website-preferences'}" [routerLink]="['./website-preferences']" translate>app.account.website</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col s8 m9">
        <div class="row">
            <div class="col s12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
-->
