<div class="card-panel">
    <!--<form [formGroup]="settingForm" (ngSubmit)="submit()">
        <ul class="collapsible" data-collapsible="expandable" #collapsible materialize="collapsible">
            <li>
                <div class="collapsible-header" (click)="headerClick($event)">
                    <a [ngClass]="{'btn-floating green lighten-5 right': true, 'disabled': isSubmitting}" (click)="save('firstName', 0)"
                       *ngIf="isSubmitReady('firstName')">
                        <i class="material-icons green-text text-darken-2">save</i>
                    </a>
                    <a class="btn-floating teal lighten-5 right" (click)="popOut(0)">
                        <i class="material-icons teal-text text-darken-2">edit</i>
                    </a>
                    <strong class="col s6 m4" translate>professor.firstName.label</strong><span class="indigo-text text-darken-2">{{ professor.firstName }}</span>
                </div>
                <div class="collapsible-body">
                    <div class="container">
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="firstName" translate>professor.firstName.label</label>
                                <input id="firstName" formControlName="firstName" type="text" class="validate">
                                <div class="error red-text">{{ formErrors?.firstName?.code |
                                    translate:formErrors?.firstName?.params }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header" (click)="headerClick($event)">
                    <a [ngClass]="{'btn-floating green lighten-5 right': true, 'disabled': isSubmitting}" (click)="save('middleName', 1)"
                       *ngIf="isSubmitReady('middleName')">
                        <i class="material-icons green-text text-darken-2">save</i>
                    </a>
                    <a class="btn-floating teal lighten-5 right" (click)="popOut(1)">
                        <i class="material-icons teal-text text-darken-2">edit</i>
                    </a>
                    <strong class="col s6 m4" translate>professor.middleName.label</strong><span class="indigo-text text-darken-2">{{ professor.middleName }}</span>
                </div>
                <div class="collapsible-body">
                    <div class="container">
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="middleName" translate>professor.middleName.label</label>
                                <input id="middleName" formControlName="middleName" type="text" class="validate">
                                <div class="error red-text">{{ formErrors?.middleName?.code |
                                    translate:formErrors?.middleName?.params }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header" (click)="headerClick($event)">
                    <a [ngClass]="{'btn-floating green lighten-5 right': true, 'disabled': isSubmitting}" (click)="save('lastName', 2)"
                       *ngIf="isSubmitReady('lastName')">
                        <i class="material-icons green-text text-darken-2">save</i>
                    </a>
                    <a class="btn-floating teal lighten-5 right" (click)="popOut(2)">
                        <i class="material-icons teal-text text-darken-2">edit</i>
                    </a>
                    <strong class="col s6 m4" translate>professor.lastName.label</strong><span class="indigo-text text-darken-2">{{ professor.lastName }}</span>
                </div>
                <div class="collapsible-body">
                    <div class="container">
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="lastName" translate>professor.lastName.label</label>
                                <input id="lastName" formControlName="lastName" type="text"
                                       class="validate">
                                <div class="error red-text">{{ formErrors?.lastName?.code |
                                    translate:formErrors?.lastName?.params }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header" (click)="headerClick($event)">
                    <a [ngClass]="{'btn-floating green lighten-5 right': true, 'disabled': isSubmitting}" (click)="save('gender', 3)"
                       *ngIf="isSubmitReady('gender')">
                        <i class="material-icons green-text text-darken-2">save</i>
                    </a>
                    <a class="btn-floating teal lighten-5 right" (click)="popOut(3)">
                        <i class="material-icons teal-text text-darken-2">edit</i>
                    </a>
                    <strong class="col s6 m4" translate>professor.gender.label</strong><span class="indigo-text text-darken-2">
                    {{ ( professor.gender == 'male' || professor.gender == 'female' ) ? ('professor.gender.' + professor.gender|translate) : '' }}</span>
                </div>
                <div class="collapsible-body">
                    <div class="container">
                        <div class="row">
                            <div class="input-field col s12">
                                <select id="gender" formControlName="gender" class="validate"
                                        materialize="material_select">
                                    <option disabled selected value="" translate>professor.gender.disabled_option</option>
                                    <option value="male" translate>professor.gender.male</option>
                                    <option value="female" translate>professor.gender.female</option>
                                </select>
                                <label for="gender" translate>professor.gender.label</label>
                                <div class="error red-text">{{ formErrors?.gender?.code |
                                    translate:formErrors?.gender?.params }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header" (click)="headerClick($event)">
                    <a [ngClass]="{'btn-floating green lighten-5 right': true, 'disabled': isSubmitting}" (click)="save('birthday', 4)"
                       *ngIf="isSubmitReady('birthday')">
                        <i class="material-icons green-text text-darken-2">save</i>
                    </a>
                    <a class="btn-floating teal lighten-5 right" (click)="popOut(4)">
                        <i class="material-icons teal-text text-darken-2">edit</i>
                    </a>
                    <strong class="col s6 m4" translate>professor.birthday.label</strong><span class="indigo-text text-darken-2">{{ professor.birthday }}</span>
                </div>
                <div class="collapsible-body">
                    <div class="container">
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="birthday" translate>professor.birthday.label</label>
                                <input id="birthday" formControlName="birthday" materialize="pickadate"
                                       class="datepicker validate" type="date"
                                       [materializeParams]="[{format: 'dd/mm/yyyy',selectMonths: true,max: [lessDate.getFullYear(),lessDate.getMonth(),lessDate.getDay()],min: [greaterDate.getFullYear(),greaterDate.getMonth(),greaterDate.getDay()],selectYears: 98}]">
                                <div class="error red-text keep-visible">{{ formErrors?.birthday?.code |
                                    translate:formErrors?.birthday?.params }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header" (click)="headerClick($event)">
                    <a [ngClass]="{'btn-floating green lighten-5 right': true, 'disabled': isSubmitting}" (click)="save('cin', 5)" *ngIf="isSubmitReady('cin')">
                        <i class="material-icons green-text text-darken-2">save</i>
                    </a>
                    <a class="btn-floating teal lighten-5 right" (click)="popOut(5)">
                        <i class="material-icons teal-text text-darken-2">edit</i>
                    </a>
                    <strong class="col s6 m4" translate>professor.cin.label</strong><span class="indigo-text text-darken-2">{{ professor.cin }}</span>
                </div>
                <div class="collapsible-body">
                    <div class="container">
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="cin" translate>professor.cin.label</label>
                                <input id="cin" formControlName="cin" type="text"
                                       class="validate">
                                <div class="error red-text">{{ formErrors?.cin?.code |
                                    translate:formErrors?.cin?.params }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="row">
            <div class="col s12">
                <button type="submit" class="btn right" *ngIf="isSubmitReady()" [disabled]="isSubmitting">
                    <i class="material-icons right">send</i>{{ 'app.save_all' | translate }}
                </button>
                <button type="button" class="btn btn-flat right" *ngIf="settingForm.dirty" (click)="resetForm()" style="margin-right: 10px">
                    <i class="material-icons right">cancel</i>{{ 'app.discard_changes' | translate }}
                </button>
            </div>
        </div>
    </form>-->
</div>
