.header-cell {
  background-color: #e0e0e0; }

.cell {
  height: 100px;
  text-align: center;
  font-weight: 400; }

.cell.session {
  background-color: #fafafa;
  cursor: pointer;
  position: relative; }
  .cell.session .session-info {
    padding: 0 6px 2px;
    font-size: 11px; }
  .cell.session .session-subject {
    padding: 5px;
    line-height: 20px; }
  .cell.session .remove-btn {
    position: absolute;
    top: 2px;
    right: 2px;
    margin: 0;
    visibility: hidden; }

.cell.session:hover .remove-btn {
  visibility: visible; }

.cell.break {
  background-color: #9e9e9e; }

.cell.day {
  background-color: #009688; }

/*# sourceMappingURL=timetable.component.css.map */
