<div class="container-fluid">
    <div fxLayout="column" *ngIf="!!timetable">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="mt-4 mb-4" fxFlex="30%" fxFlex.lt-md="100%" fxFlex.md="50%">
                <mdb-select [(ngModel)]="selectedValue" [options]="timetableOptions" (selected)="onTimetableSelect($event)"></mdb-select>
            </div>
            <div class="mt-4 mb-4" fxFlex="30%" fxFlex.lt-md="100%" fxFlex.md="50%">
                <mdb-select [options]="weeksOptions" (selected)="onWeekSelect($event)" [disabled]="weekDisabled || weekDataLoading" [placeholder]="'timetable.select_week'|translate"></mdb-select>
            </div>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" class="border-bottom" *ngFor="let day of timetable.getBusyDays(); let i = index">
            <ng-container *ngIf="i > 0">
                <div class="cell day" [fxFlex]="9500/(timetable.maxMinutes + 95)" fxLayoutAlign="center center">
                    {{ 'timetable.' + i | translate }}
                </div>
                <ng-container *ngFor="let cont of day">
                    <ng-container *ngIf="cont.type == 'session'; then sessionTemp else breakTemp"></ng-container>
                    <ng-template #sessionTemp>
                        <div class="cell session" [fxFlex]="100 * cont.minutes/(timetable.maxMinutes + 95)" fxLayout="column" (click)="prepSessionModal(cont)">
                            <div class="session-subject" fxFlex="82px" fxLayoutAlign="center center">{{ !!cont?.session ? cont.session.subject.name : '----' }}</div>
                            <div fxFlex="18px" fxLayout fxLayoutAlign="space-between center">
                                <div fxFlex="nogrow" class="session-info">{{ !!cont?.session ? cont?.session.classroom.name : '----' }}</div>
                                <div fxFlex="nogrow" class="session-info">{{cont.timeRange()}}</div>
                            </div>
                            <button *ngIf="!!cont?.session" mdbBtn color="red" size="sm" [floating]="true" class="remove-btn" (click)="prepWarning($event, cont.session)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </div>
                    </ng-template>
                    <ng-template #breakTemp>
                        <div class="cell break" [fxFlex]="100 * cont.minutes/(timetable.maxMinutes + 95)"></div>
                    </ng-template>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>
<div class="fixed-action-btn" style="bottom: 20px; right: 20px;">
    <a mdbBtn [floating]="true" color="dark-green" *ngIf="weekDisabled" [mdbTooltip]="'timetables.unlock_week' | translate" placement="left" mdbWavesEffect (click)="weekDisabled = false">
        <i class="fa fa-unlock"></i>
    </a>
</div>
<div mdbModal #sessionModal="mdb-modal" class="modal fade" id="sessionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <form [formGroup]="sessionForm" (ngSubmit)="submit()">
            <div class="modal-content">
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa fa-pencil"></i> {{ 'specialities.edit_mdl_sbj_header' | translate }}</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="sessionModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body mb-0">
                    <div class="row">
                        <div class="col-12 mb-1 mt-3">
                            <mdb-select [options]="subClasseOptions" [filterEnabled]="true" [filterPlaceholder]="'subject.name.filter_ph' | translate"
                                        (selected)="subClasseSelected($event)" [placeholder]="'exam.type.placeholder' | translate"></mdb-select>
                            <label>{{ 'exam.type.label' | translate }}</label>
                        </div>
                        <div class="col-12 mb-1 mt-3">
                            <mdb-select [options]="roomOptions" [filterEnabled]="true" [filterPlaceholder]="'infrastructure.name.filter_ph' | translate"
                                        [formControlName]="'classroom'" [placeholder]="'exam.type.placeholder' | translate"></mdb-select>
                            <label>{{ 'exam.type.label' | translate }}</label>
                            <div class="error red-text" [zdlmValidMsg]="sessionForm.get('classroom')"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info mb-2 waves-light" [disabled]="sessionForm.invalid" mdbRippleRadius>
                        {{'app.submit' | translate}} <i class="fa fa-send ml-1"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div mdbModal #warning="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead" translate>app.confirm_action</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="warning.hide()">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <p></p>
                        <p class="text-center">
                            <i class="fa fa-warning fa-4x"></i>
                        </p>
                    </div>
                    <div class="col-9">
                        <p>{{'timetables.session_rm_warning'|translate}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-primary-modal waves-light" mdbRippleRadius
                   (click)="removeSession()">{{ 'app.yes_delete'|translate }} <i class="fa fa-check ml-1"></i>
                </a>
                <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" (click)="session=null;warning.hide()" mdbRippleRadius>
                    {{ 'app.no_delete'|translate }} <i class="fa fa-times ml-1"></i>
                </a>
            </div>
        </div>
    </div>
</div>
