<!--
<div class="collapsible-header" (click)="headerClick($event)">
    <a class="btn-floating teal lighten-5 right" (click)="open()">
        <i class="material-icons teal-text text-darken-2">{{ isOpen ? 'removeSpec' : 'add' }}</i>
    </a>
    <span *ngIf="!isNew">
        <i [ngClass]="{'material-icons': true, 'indigo-text text-darken-2': location.isPrimary}">place</i>
        {{ location.city + ', ' + location.state + ', ' + ('country.' + location.country | translate) }}
    </span>
</div>
<div class="collapsible-body">
    <form [formGroup]="locationForm" (ngSubmit)="save()">
        <div class="container-fluid">
            <div class="row">
                <table class="highlight">
                    <tbody>
                    <tr>
                        <td class="td1" translate>location.country.label</td>
                        <td class="td2" *ngIf="!editMode; else editCountry">{{ ( location.country === '' ) ? '' : ( 'country.' + location.country |translate ) }}</td>
                        <ng-template #editCountry>
                            <div class="input-field">
                                <select id="country" formControlName="country" materialize="material_select">
                                    <option value="TN" translate>country.TN</option>
                                </select>
                            </div>
                        </ng-template>
                    </tr>
                    <tr>
                        <td class="td1" translate>location.state.label</td>
                        <td class="td2" *ngIf="!editMode; else editState">{{ location.state }}</td>
                        <ng-template #editState>
                            <div class="input-field">
                                <select id="state" formControlName="state" materialize="material_select" class="validate" (change)="onStateChange()">
                                    <option value="" disabled selected translate>location.state.disabled_option</option>
                                    <option *ngFor="let state of stateCities" value="{{state.name}}">{{state.name}}</option>
                                </select>
                                <div class="error red-text" [zdlmValidMsg]="locationForm.get('state')"></div>
                            </div>
                        </ng-template>
                    </tr>
                    <tr>
                        <td class="td1" translate>location.city.label</td>
                        <td class="td2" *ngIf="!editMode; else editCity">{{ location.state }}</td>
                        <ng-template #editCity>
                            <div class="input-field">
                                <select id="city" formControlName="city" materialize="material_select" class="validate">
                                    <option value="" disabled selected translate>location.city.disabled_option</option>
                                    <option *ngFor="let city of cities" value="{{city}}">{{city}}</option>
                                </select>
                                <div class="error red-text" [zdlmValidMsg]="locationForm.get('city')"></div>
                            </div>
                        </ng-template>
                    </tr>
                    <tr>
                        <td class="td1" translate>location.address.label</td>
                        <td class="td2" *ngIf="!editMode; else editAddress">{{ location.address }}</td>
                        <ng-template #editAddress>
                            <div class="input-field">
                                <input id="address" formControlName="address" class="validate">
                                <div class="error red-text" [zdlmValidMsg]="locationForm.get('address')"></div>
                            </div>
                        </ng-template>
                    </tr>
                    <tr>
                        <td class="td1" translate>location.zipCode.label</td>
                        <td class="td2" *ngIf="!editMode; else editZip">{{ location.zipCode }}</td>
                        <ng-template #editZip>
                            <div class="input-field">
                                <input id="zipCode" formControlName="zipCode" class="validate">
                                <div class="error red-text" [zdlmValidMsg]="locationForm.get('zipCode')"></div>
                            </div>
                        </ng-template>
                    </tr>
                    <tr>
                        <td class="td1" translate>location.isPrimary.label</td>
                        <td class="td2" *ngIf="!editMode; else editPrim">{{ location.isPrimary ? ('app.yes'|translate) : ('app.no'|translate) }}</td>
                        <ng-template #editPrim>
                            <div class="input-field">
                                <div class="switch">
                                    <label>
                                        {{ 'app.no'|translate }}
                                        <input type="checkbox" id="isPrimary" formControlName="isPrimary">
                                        <span class="lever"></span>
                                        {{ 'app.yes'|translate }}
                                    </label>
                                </div>
                            </div>
                        </ng-template>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" *ngIf="editMode">
                <div class="col s12">
                    <button class="btn right" [disabled]="locationForm.pristine || locationForm.invalid">
                        <i class="material-icons right">save</i>{{ 'app.save' | translate }}
                    </button>
                    <button type="button" class="btn btn-flat right" [disabled]="locationForm.dirty" (click)="resetForm();editMode = false" style="margin-right: 10px">
                        <i class="material-icons right">cancel</i>{{ 'app.discard_changes' | translate }}
                    </button>
                </div>
            </div>
            <div class="row" *ngIf="!editMode">
                <div class="col s12">
                    <button type="button" class="btn right" (click)="editMode = true">
                        <i class="material-icons left">edit</i>{{ 'app.edit' | translate }}
                    </button>
                    <button type="button" class="btn red right" (click)="deleteLocation()" style="margin-right: 10px">
                        <i class="material-icons left">edit</i>{{ 'app.delete' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
-->
