<div class="mb-5">
    <mdb-tabset [buttonClass]="'nav-tabs tabs-cyan'" [contentClass]="'card'">
        <mdb-tab [heading]="'path.learnings'|translate">
            <mdb-squeezebox [multiple]="false" aria-multiselectable="true">
                <mdb-item [collapsed]="true" *ngFor="let cycle of getCycles()">
                    <mdb-item-head> {{ 'speciality.studyCycle.options.' + cycle | translate }}</mdb-item-head>
                    <mdb-item-body>
                        <ng-container *ngFor="let speciality of specsHierarchy[cycle]">
                            <div class="row mb-4 mt-2">
                                <div class="col-sm-12 spec-container speciality">
                                    <a [routerLink]="'../s/' + speciality.id" class="white-text">
                                        {{speciality.name}} ({{ 'specialities.years'|translate:{value: speciality.years} }})
                                    </a>
                                    <a class="btn-floating btn-sm fright m-0 ml-2 btn-danger waves-light" mdbTooltip="{{ 'speciality.remove' | translate }}" placement="left"
                                       (click)="removePaths(speciality)" mdbWavesEffect *ngIf="speciality.paths.length > 0"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </div>
                            <ng-container *ngFor="let branch of speciality.next">
                                <div class="row">
                                    <div [ngClass]="getContainerClass(branch)"><a [routerLink]="'../s/' + branch.id" class="white-text">
                                        {{branch.name}} ({{ branch.years + ' years' }})</a></div>
                                    <div [ngClass]="rowRest(branch)">
                                        <ng-container *ngFor="let branch2 of branch.next">
                                            <div class="row">
                                                <div [ngClass]="getContainerClass(branch2)"><a [routerLink]="'../s/' + branch2.id" class="white-text">
                                                    {{branch2.name}} ({{ branch2.years + ' years' }})</a></div>
                                                <div [ngClass]="rowRest(branch2)">
                                                    <ng-container *ngFor="let branch3 of branch2.next">
                                                        <div class="row">
                                                            <div [ngClass]="getContainerClass(branch3)"><a [routerLink]="'../s/' + branch3.id"
                                                                class="white-text">{{branch3.name}} ({{ branch3.years + ' years' }})</a></div>
                                                            <div [ngClass]="rowRest(branch3)">
                                                                <ng-container *ngFor="let branch4 of branch3.next">
                                                                    <div class="row">
                                                                        <div [ngClass]="getContainerClass(branch4)"><a [routerLink]="'../s/' + branch4.id"
                                                                            class="white-text">{{branch4.name}} ({{ branch4.years + ' years' }})
                                                                        </a></div>
                                                                    </div>
                                                                </ng-container>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </mdb-item-body>
                </mdb-item>
            </mdb-squeezebox>
        </mdb-tab>
        <mdb-tab [heading]="'speciality.plural'|translate">
            <ng-container *ngFor="let cycle of getCycles()">
                <ng-container *ngFor="let speciality of specsHierarchy[cycle]">
                    <div class="row mb-4 mt-4">
                        <div class="col-sm-12 spec-container speciality">
                            <a [routerLink]="'../s/' + speciality.id" class="white-text">{{speciality.name}} ({{ 'specialities.years'|translate:{value: speciality.years} }})</a>
                            <a class="btn-floating btn-sm fright m-0 ml-2 btn-danger waves-light" mdbTooltip="{{ 'speciality.remove' | translate }}" placement="top"
                               (click)="removeSpeciality(speciality)" mdbWavesEffect><i class="fa fa-trash-o"></i></a>
                            <a class="btn-floating btn-sm fright m-0 ml-2 btn-light-blue waves-light" mdbTooltip="{{ 'speciality.edit' | translate }}" placement="top"
                               (click)="openSpecialityModal(speciality)" mdbWavesEffect><i class="fa fa-edit"></i></a>
                            <a class="btn-floating btn-sm fright m-0 btn-mdb-color waves-light" mdbTooltip="{{ 'speciality.new_branch' | translate }}" placement="top"
                               (click)="openSpecialityModal(null, speciality.id)" mdbWavesEffect><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" *ngFor="let branch of speciality.children">
                            <div class="card card-cascade mt-4">
                                <div class="card-body card-body-cascade">
                                    <h4 class="card-title"><a [routerLink]="'../s/' + speciality.id" class="black-text">{{branch.name}}</a></h4>
                                    <p class="card-text">{{branch.description}}</p>
                                    <div class="row">
                                        <div class="col-6 btn-left">
                                            <a class="btn btn-sm btn-blue waves-light m-0" (click)="openSpecialityModal(branch)" mdbWavesEffect>
                                                <i class="fa fa-edit mr-3"></i> {{ 'app.edit' | translate }}</a>
                                        </div>
                                        <div class="col-6 btn-right">
                                            <a class="btn btn-sm btn-danger waves-light m-0" (click)="removeSpeciality(branch)" mdbWavesEffect><i class="fa fa-trash-o mr-3"></i>
                                                {{'app.remove' | translate }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </mdb-tab>
    </mdb-tabset>
</div>

<div class="fixed-action-btn right" style="right: 30px;" mdbTooltip="{{ 'speciality.new' | translate }}" placement="top">
    <a class="btn-floating btn-lg default-clr waves-light" (click)="openSpecialityModal()" mdbWavesEffect>
        <i class="fa fa-graduation-cap"></i>
    </a>
</div>
<div class="fixed-action-btn left" style="right: 105px;" mdbTooltip="{{ 'path.new' | translate }}" placement="top">
    <a class="btn-floating btn-lg default-clr waves-light" (click)="newPath()" mdbWavesEffect>
        <i class="fa fa-random"></i>
    </a>
</div>

<div mdbModal #specialityModal="mdb-modal" class="modal fade" id="subjectModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <form [formGroup]="specForm" (ngSubmit)="submitSpeciality()">
            <div class="modal-content">
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title" *ngIf="!!speciality && speciality.id > 0">
                        <i class="fa fa-edit"></i> {{ 'specialities.edit_spec_header' | translate }}
                    </h4>
                    <h4 class="title" *ngIf="!!speciality && speciality.id == null">
                        <i class="fa fa-plus"></i> {{ 'specialities.new_spec_header' | translate }}
                    </h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="specialityModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body mb-0">
                    <div class="md-form form-sm">
                        <input mdbInputDirective type="text" id="name" formControlName="name" class="form-control">
                        <label for="name">{{ 'speciality.name.label' | translate }}</label>
                        <div class="error red-text" [zdlmValidMsg]="specForm.get('name')"></div>
                    </div>
                    <div class="md-form form-sm">
                        <input mdbInputDirective type="text" id="alias" formControlName="alias" class="form-control">
                        <label for="alias">{{ 'speciality.alias.label' | translate }}</label>
                        <div class="error red-text" [zdlmValidMsg]="specForm.get('name')"></div>
                    </div>
                    <div class="md-form form-sm">
                        <textarea mdbInputDirective type="text" id="s_description" formControlName="description" class="md-textarea mb-0" style="width: 100%"></textarea>
                        <label for="s_description">{{ 'speciality.description.label' | translate }}</label>
                        <div class="error red-text" [zdlmValidMsg]="specForm.get('description')"></div>
                    </div>
                    <div class="col-12" style="margin: 1.5rem 0;padding: 0" *ngIf="!(speciality?.parentId > 0)">
                        <mdb-select [options]="cycleOptions" placeholder="{{ 'speciality.type.disabled_option'|translate }}"
                                    class="colorful-select dropdown-ins" [formControlName]="'studyCycle'"></mdb-select>
                        <label style="left: 0" translate>speciality.studyCycle.label</label>
                        <div class="error red-text" [zdlmValidMsg]="specForm.get('studyCycle')"></div>
                        <div class="error red-text" *ngIf="speciality?.type === 'SPECIALITY' && specForm.valid && specForm.get('studyCycle').value == null"
                             translate>speciality.studyCycle.required</div>
                        <!--<mdb-completer [label]="'speciality.studyCycle.label'|translate" [initialValue]="'speciality.studyCycle.label'|translate" name="studyCycle"
                                       [formControlName]="'studyCycle'" [datasource]="dataService" [minSearchLength]="0">
                        </mdb-completer>-->
                    </div>
                    <div class="md-form form-sm">
                        <input mdbInputDirective type="number" min="1" max="10" id="years" formControlName="years" class="form-control">
                        <label for="years">{{ 'speciality.years.label' | translate }}</label>
                        <div class="error red-text" [zdlmValidMsg]="specForm.get('years')"></div>
                        <div class="error red-text" *ngIf="speciality?.parentId > 0 && specForm.get('years').valid && specForm.get('years').value > parentYears">
                            {{ 'speciality.years.must_lte_parent'|translate:{'value': 3} }}</div>
                    </div>

                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal" (click)="specialityModal.hide()" mdbWavesEffect>
                            {{ 'app.cancel' | translate }}
                        </button>
                        <button type="submit" [disabled]="!isSpecFormValid()" class="btn btn-primary btn-sm waves-light" mdbWavesEffect>
                            <i class="fa fa-plus left"></i> {{ 'app.submit' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div mdbModal #pathModal="mdb-modal" class="modal fade" id="pathModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <form [formGroup]="pathForm" (ngSubmit)="submitPath()">
            <div class="modal-content">
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa fa-plus"></i> {{ 'specialities.add_path_header' | translate }}</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="specialityModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body mb-0">
                    <div class="col-12" style="margin: 1.5rem 0;padding: 0" *ngIf="!(speciality?.parentId > 0)">
                        <mdb-select [options]="specialityOptions" (selected)="onPathSpecChange()" placeholder="{{ 'path.speciality.disabled_option'|translate }}"
                                    class="colorful-select dropdown-ins" [formControlName]="'speciality'"></mdb-select>
                        <label style="left: 0" translate>path.speciality.label</label>
                        <div class="error red-text" [zdlmValidMsg]="pathForm.get('speciality')"></div>
                    </div>
                    <hr>
                    <div class="col-12" style="margin: 1.5rem 0;padding: 0" *ngIf="branchNbr > 0">
                        <mdb-select [options]="branch1Options" (selected)="onBranchOneChange()" placeholder="{{ 'path.branch1.disabled_option'|translate }}"
                                    class="colorful-select dropdown-ins" [formControlName]="'branch1'"></mdb-select>
                        <label style="left: 0" translate>path.branch1.label</label>
                        <div class="error red-text" [zdlmValidMsg]="pathForm.get('branch1')"></div>
                    </div>
                    <div class="col-12" style="margin: 1.5rem 0;padding: 0" *ngIf="branchNbr > 1">
                        <mdb-select [options]="branch2Options" (selected)="onBranchTwoChange()" placeholder="{{ 'path.branch2.disabled_option'|translate }}"
                                    class="colorful-select dropdown-ins" [formControlName]="'branch2'"></mdb-select>
                        <label style="left: 0" translate>path.branch2.label</label>
                        <div class="error red-text" [zdlmValidMsg]="pathForm.get('branch2')"></div>
                    </div>
                    <div class="col-12" style="margin: 1.5rem 0;padding: 0" *ngIf="branchNbr > 2">
                        <mdb-select [options]="branch3Options" (selected)="onBranchThreeChange()" placeholder="{{ 'path.branch3.disabled_option'|translate }}"
                                    class="colorful-select dropdown-ins" [formControlName]="'branch3'"></mdb-select>
                        <label style="left: 0" translate>path.branch3.label</label>
                        <div class="error red-text" [zdlmValidMsg]="pathForm.get('branch3')"></div>
                    </div>
                    <div class="col-12" style="margin: 1.5rem 0;padding: 0" *ngIf="branchNbr > 3">
                        <mdb-select [options]="branch4Options" placeholder="{{ 'path.branch4.disabled_option'|translate }}"
                                    class="colorful-select dropdown-ins" [formControlName]="'branch4'"></mdb-select>
                        <label style="left: 0" translate>path.branch4.label</label>
                        <div class="error red-text" [zdlmValidMsg]="pathForm.get('branch4')"></div>
                    </div>
                    <mdb-progressbar [value]="branchesSum" min="0" [max]="speciality?.years"></mdb-progressbar>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal" (click)="pathModal.hide()" mdbWavesEffect>
                            {{ 'app.cancel' | translate }}
                        </button>
                        <button type="submit" class="btn btn-primary btn-sm waves-light" [disabled]="pathForm.invalid || branchesSum != speciality.years" mdbWavesEffect>
                            <i class="fa fa-plus left"></i> {{ 'app.submit' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div mdbModal #warningModal="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead" translate>app.confirm_action</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="warningModal.hide()">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <p></p>
                        <p class="text-center">
                            <i class="fa fa-warning fa-4x"></i>
                        </p>
                    </div>
                    <div class="col-9">
                        <p>{{'specialities.delete_warning_spec'|translate}}</p>
                        <p [innerHTML]="'specialities.delete_warning_children' | translate"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-primary-modal waves-light" mdbRippleRadius
                   (click)="removeSpec()">{{ 'app.yes_delete'|translate }} <i class="fa fa-check ml-1"></i>
                </a>
                <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" (click)="warningModal.hide()" mdbRippleRadius>
                    {{ 'app.no_delete'|translate }} <i class="fa fa-times ml-1"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div mdbModal #pathRemoveModal="mdb-modal" class="modal fade bottom" id="pathRemoveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-bottom" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="pathRemoveModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container mt-2 mb-2">
                    <h4>{{ speciality?.name }}</h4>
                    <div class="row rm-btn-container" *ngFor="let specPath of speciality?.paths">
                        <ng-container [ngSwitch]="specPath.branches.length">
                            <ng-container *ngSwitchCase="1">
                                <div *ngFor="let pathBranch of specPath.branches" class="col-sm-12 spec-container speciality">
                                    {{pathBranch.branch.name}} ({{ pathBranch.branch.years + ' years' }})
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="2">
                                <div *ngFor="let pathBranch of specPath.branches" class="col-sm-6 spec-container speciality">
                                    {{pathBranch.branch.name}} ({{ pathBranch.branch.years + ' years' }})
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="3">
                                <div *ngFor="let pathBranch of specPath.branches" class="col-sm-4 spec-container speciality">
                                    {{pathBranch.branch.name}} ({{ pathBranch.branch.years + ' years' }})
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="4">
                                <div *ngFor="let pathBranch of specPath.branches" class="col-sm-3 spec-container speciality">
                                    {{pathBranch.branch.name}} ({{ pathBranch.branch.years + ' years' }})
                                </div>
                            </ng-container>
                        </ng-container>
                        <button class="btn btn-sm btn-danger rm-btn" (click)="removePath(specPath)"><i class="fa fa-trash-o"></i></button>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary waves-light" data-dismiss="modal" (click)="pathRemoveModal.hide()" mdbWavesEffect>Close</button>
                <button type="button" class="btn btn-primary waves-light" mdbWavesEffect>Save changes</button>
            </div>
        </div>
    </div>
</div>
