div.spec-container {
    //min-height: 40px;
    padding: 1rem;
    background-color: #0d47a1;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    .h4 {
        font-weight: 500;
    }
}

.ctrl-btn {
    margin-right: 0;
    float: right;
}

.OPTION {
    background-color: #26a69a !important;
}

.BRANCH {
    background-color: #5c6bc0 !important;
}

.btn-right {
    padding-left: 8px;
}

.btn-left {
    padding-right: 8px;
}

.default-clr {
    background-color: #114861;
}

.fixed-action-btn {
    padding-top: 0;
    bottom: 30px;
    a {
        margin: 0;
    }
}

.spec-container.speciality {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 36px;
}

.btn-white {
    background-color: white;
    i {
        color: #0d47a1;
    }
}

.rm-btn-container {
    position: relative;
    .rm-btn {
        position: absolute;
        top: 7px;
        right: 7px;
        padding: 0.5rem 1rem;
        i {
            font-size: 1rem;
        }
    }
}
