<!--
<div class="row">
    <div class="col s12">
        <div class="card horizontal row">
            <div class="card-image responsive-img col s5 l4">
                <img [src]="(fireData$ | async)?.image_url | trustResource">
            </div>
            <div class="card-stacked col s7 l8">
                <ul class="collection with-header">
                    <li class="collection-header"><h4>{{ (fireData$ | async)?.first_name }} {{ (fireData$ | async)?.last_name }}</h4></li>
                    <li class="collection-item"><strong translate>professor.firstName.label</strong>: {{ (fireData$ | async)?.firstName }}</li>
                    <li class="collection-item"><strong translate>professor.lastName.label</strong>: {{ (fireData$ | async)?.lastName }}</li>
                    <li class="collection-item"><strong translate>professor.email.label</strong>: {{ (fireData$ | async)?.email }}</li>
                    <li class="collection-item"><strong translate>professor.cin.label</strong>: {{ (fireData$ | async)?.cin }}</li>
                    <li class="collection-item"><strong translate>professor.gender.label</strong>: {{ (fireData$ | async)?.gender }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s4 m3">
        <div class="tabs-vertical ">
            <ul class="tabs" materialize="tabs">
                <li class="tab">
                    <a [ngClass]="{'waves-effect waves-cyan': true, 'active': path === 'account-info'}" zdlmNavigate="a_pr_aci"
                       [paramOne]="(fireData$ | async)?.username" translate>app.account.acc_info</a>
                </li>
                <li class="tab">
                    <a [ngClass]="{'waves-effect waves-cyan': true, 'active': path === 'location'}" zdlmNavigate="a_pr_lam"
                       [paramOne]="(fireData$ | async)?.username" translate>app.account.location</a>
                </li>
                <li class="tab">
                    <a [ngClass]="{'waves-effect waves-cyan': true, 'active': path === 'contact-info'}" zdlmNavigate="a_pr_cti"
                       [paramOne]="(fireData$ | async)?.username" translate>app.account.contact</a>
                </li>
                <li class="tab">
                    <a [ngClass]="{'waves-effect waves-cyan': true, 'active': path === 'social-profiles'}" zdlmNavigate="a_pr_spr"
                       [paramOne]="(fireData$ | async)?.username" translate>app.account.soc_prfs</a>
                </li>
                <li class="tab">
                    <a [ngClass]="{'waves-effect waves-cyan': true, 'active': path === 'credentials'}" zdlmNavigate="a_pr_crd"
                       [paramOne]="(fireData$ | async)?.username" translate>app.account.credentials</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col s8 m9">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
-->
