<!--<div class="card-panel">
    <form [formGroup]="settingForm" (ngSubmit)="settingSubmit()">
        <h4>{{ 'Update username'|translate }}</h4>
        <div class="row">
            <div class="input-field col s12">
                <label for="username" translate>professor.username.label</label>
                <input id="username" formControlName="username" type="text"
                       [ngClass]="{'validate': settingForm.get('username').dirty}">
                <div class="error red-text">{{ formErrors?.username?.code | translate:formErrors?.username?.params }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button type="submit" class="btn waves-effect waves-light right" [disabled]="!settingForm.valid || settingForm.pristine">
                    <i class="material-icons left">save</i>{{ 'app.save' | translate }}
                </button>
            </div>
        </div>
    </form>
    <form [formGroup]="moduleForm" (ngSubmit)="emailSubmit()" *ngIf="emails.length > 0">
        <h4>{{ 'Change email'|translate }}</h4>
        <div class="row">
            <div class="input-field col s12">
                <select id="email" formControlName="email" [ngClass]="{'validate': moduleForm.get('email').dirty}" materialize="material_select">
                    <option disabled selected value="" translate>email.email.disabled_option</option>
                    <option *ngFor="let email of emails" [value]="email.id">{{ email.email }} {{ ( email.role == '' || email.role == null ) ? '' : '(' + email.role + ')' }}</option>
                </select>
                <label for="email" translate>professor.email.label_primary</label>
                <div class="error red-text">{{ formErrors?.gender?.code | translate:formErrors?.email?.params }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button type="submit" class="btn waves-effect waves-light right" [disabled]="!moduleForm.valid || moduleForm.pristine">
                    <i class="material-icons left">save</i>{{ 'app.save' | translate }}
                </button>
            </div>
        </div>
    </form>
</div>
<div class="card-panel">
    <h4>{{ 'Reset Password'|translate }}</h4>
    <form [formGroup]="passForm" (ngSubmit)="passSubmit()">
        <div class="row">
            <div class="input-field col s12">
                <label for="oldPassword" translate>professor.plainPassword.label</label>
                <input id="oldPassword" formControlName="oldPassword" type="password" [ngClass]="{'validate': passForm.get('oldPassword').dirty}">
                <div class="error red-text">
                    {{ formErrors?.oldPassword?.code | translate:formErrors?.oldPassword?.params }}
                </div>
            </div>
            <div formGroupName="plainPassword">
                <div class="input-field col s12">
                    <label for="password" translate>professor.plainPassword.label</label>
                    <input id="password" formControlName="password" type="password" (keyup)="passStrengthFn()"
                           [ngClass]="{'validate': passForm.get('oldPassword').dirty}" style="margin-bottom: 0">
                    <div class="progress">
                        <div [ngClass]="passClass"></div>
                    </div>
                    <div class="error red-text">
                        {{ formErrors?.plainPassword?.password?.code |
                        translate:formErrors?.plainPassword?.password?.params }}
                    </div>
                </div>
                <div class="input-field col s12">
                    <label for="confirm_password" translate>professor.plainPassword.confirm_label</label>
                    <input id="confirm_password" formControlName="confirm_password" type="password" [ngClass]="{'validate': passForm.get('oldPassword').dirty}">
                    <div class="error red-text">
                        {{ formErrors?.plainPassword?.confirm_password?.code |
                        translate:formErrors?.plainPassword?.confirm_password?.params }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button type="submit" class="btn waves-effect waves-light right" [disabled]="!passForm.valid || passForm.pristine">
                    <i class="material-icons left">lock_outline</i>{{ 'app.reset_pass' | translate }}
                </button>
            </div>
        </div>
    </form>
</div>
<div id="modal2" class="modal" materialize="modal" [materializeParams]="[{endingTop: '20%'}]" [materializeActions]="modal.modalActions">
    <zdlm-login (onSubmit)="onLoginSubmit( $event )" [username]="professor.username" [fireReAuth]="true"></zdlm-login>
</div>-->
