<div fxLayout="column" fxFlexFill>
    <div fxLayout="row" fxFlex="95%" fxLayoutAlign="space-between">
        <ng-container *ngIf="media.isActive('xs'); then xsTemp else otherTemp"></ng-container>
        <ng-template #otherTemp>
            <div fxFlex="30%" fxFlex.sm="45%" fxFlex.md="38%" class="narrow-scrollbar" style="overflow-y: auto">
                <div class="list-group">
                    <a *ngFor="let session of sessions" class="list-group-item list-group-item-action flex-column align-items-start"
                       [ngClass]="session.id === currentSession.id ? 'active':''" (click)="currentSession = session">
                        <div class="d-flex w-100 justify-content-between">
                            <h4 class="mb-1">{{session.subject.name}}</h4>
                        </div>
                        <h5 class="mb-1">{{session.getDate()}} <small>{{session.container.timeRange()}}</small></h5>
                        <ng-container *ngIf="!!session.report && session.report.length > 0; then subTemp else notSubTemp"></ng-container>
                        <ng-template #subTemp><small class="green-text"><i class='fa fa-check-square-o mr-1'></i> {{ 'session.report.submitted'|translate }}</small></ng-template>
                        <ng-template #notSubTemp><small class="text-muted"><i class='fa fa-square-o mr-1'></i> {{ 'session.report.not_submitted'|translate }}</small></ng-template>
                    </a>
                </div>
            </div>
            <div fxFlex="68%" fxFlex.sm="55%" fxFlex.md="60%">
                <div class="container" *ngIf="!!currentSession">
                    <div class="row">
                        <div class="col-12">
                            <br>
                            <p class="h5">{{ 'session.report.label' | translate }}</p>
                            <p style="white-space: pre-wrap" *ngIf="!currentSession.report || !editMode">
                                {{ !!currentSession.report ? currentSession.report : ('session.report.null_sp' | translate) }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template #xsTemp>
            <div fxLayout="column">
                <mdb-accordion [multiple]="false">
                    <mdb-accordion-item *ngFor="let session of sessions" [collapsed]="currentSession.id !== session.id">
                        <mdb-accordion-item-head>
                            <i class="fa" [ngClass]="!!session.report && session.report.length > 0 ? 'fa-check-square-o green-text':'fa-square-o muted-text'"></i>
                            {{session.classe.name}} - {{session.subject.name}}
                            <small>{{session.getDate()}} {{session.container.timeRange()}}</small>
                        </mdb-accordion-item-head>
                        <mdb-accordion-item-body>
                            <div class="row">
                                <div class="col-12">
                                    <br>
                                    <p class="h5">{{ 'session.report.label' | translate }}</p>
                                    <p style="white-space: pre-wrap" *ngIf="!session.report || !editMode">
                                        {{ !!session.report ? session.report : ('session.report.null_sp' | translate) }}
                                    </p>
                                </div>
                            </div>
                        </mdb-accordion-item-body>
                    </mdb-accordion-item>
                </mdb-accordion>
            </div>
        </ng-template>
    </div>
</div>
