<div class="fixed-action-btn">
    <a class="btn-floating btn-lg blue-gradient waves-light" mdbRippleRadius (click)="formModal.show()"><i class="fa fa-plus"></i></a>
</div>

<div mdbModal #formModal="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <div class="modal-content">
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"><i class="fa fa-pencil"></i> New Institute</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="formModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body mb-0">
                <form [formGroup]="instForm" (ngSubmit)="submit()">
                    <div class="md-form form-sm">
                        <input mdbInputDirective type="text" id="name" formControlName="name" class="form-control">
                        <label for="name">Name</label>
                        <div class="error red-text" [zdlmValidMsg]="instForm.get('name')"></div>
                    </div>
                    <div class="md-form form-sm">
                        <input mdbInputDirective type="text" id="slogan" class="form-control">
                        <label for="slogan">Slogan</label>
                        <div class="error red-text" [zdlmValidMsg]="instForm.get('slogan')"></div>
                    </div>
                    <div class="md-form form-sm">
                        <input mdbInputDirective type="url" id="website" class="form-control">
                        <label for="website">Website</label>
                        <div class="error red-text" [zdlmValidMsg]="instForm.get('website')"></div>
                    </div>

                    <div class="row" style="margin-bottom: 1.5rem">
                        <div class="col-md-12">
                            <mdb-select [options]="typesOptions" (selected)="onTypeChange($event)" placeholder="Select institute type"
                                        class="colorful-select dropdown-ins"></mdb-select>
                            <label translate>Type</label>
                            <div class="error red-text" [zdlmValidMsg]="instForm.get('type')"></div>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 1.5rem">
                        <div class="col-md-12">
                            <mdb-select [options]="pCtrlOptions" (selected)="onPCtrlChange($event)" placeholder="Select parental control level"
                                        class="colorful-select dropdown-ins"></mdb-select>
                            <label translate>Parental Control</label>
                            <div class="error red-text" [zdlmValidMsg]="instForm.get('parentalControl')"></div>
                        </div>
                    </div>

                    <div class="text-center mt-1-half" style="margin-top: 50px">
                        <button type="submit" class="btn btn-info mb-2 waves-light float-right" mdbRippleRadius>Submit <i class="fa fa-send ml-1"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<section class="section pb-3">
    <h1 class="section-heading h1 pt-4">Institutes List</h1>
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-r" *ngFor="let institute of institutes">
            <div class="card card-cascade wider">
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (55).jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                    </a>
                </div>
                <div class="card-body text-center no-padding">
                    <span class="text-muted">{{ institute.type }}</span>
                    <h4 class="card-title">{{ institute.name }}</h4>
                    <p class="card-text">{{institute.website}}</p>
                    <p class="card-text">{{institute.description}}</p>
                    <div class="card-footer">
                        <span class="right">joined {{ institute.joinDate | date:'d/m/y' }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--<div class="row">
    <zdlm-institute-card *ngFor="let institute of institutes" [institute]="institute" [viewerRole]="'admin'"></zdlm-institute-card>
</div>
<div id="modal" class="modal modal-fixed-footer" materialize="modal" [materializeActions]="modal.modalActions" [materializeParams]="[{dismissible: false}]">
    <form [formGroup]="instForm" (ngSubmit)="submit()">
        <div class="modal-content">
            <h4>Create a new Institute</h4>
            <div class="row no-margin-bot">
                <div class="input-field col s12">
                    <input id="name" formControlName="name" class="validate" type="text">
                    <label for="name" attr.data-error="{{ formErrors?.institute?.name?.code | translate:formErrors?.institute?.name?.params }}">Name</label>
                </div>
            </div>
            <div class="row no-margin-bot">
                <div class="input-field col s12 m6">
                    <input id="slogan" formControlName="slogan" type="text" class="validate">
                    <label for="slogan" attr.data-error="{{ formErrors?.institute?.slogan?.code | translate:formErrors?.institute?.slogan?.params }}">Slogan</label>
                </div>
                <div class="input-field col s12 m6">
                    <input id="website" formControlName="website" type="url" class="validate">
                    <label for="website" attr.data-error="{{ formErrors?.institute?.website?.code | translate:formErrors?.institute?.website?.params }}">Website</label>
                </div>
            </div>
            <div class="row no-margin-bot">
                <div class="input-field col s12 m6">
                    <select id="type" formControlName="type" class="validate" materialize="material_select">
                        <option value="" selected disabled>Please Select a Type</option>
                        <option *ngFor="let type of types" [value]="type">{{ type }}</option>
                    </select>
                    <label for="type" attr.data-error="{{ formErrors?.institute?.type?.code | translate:formErrors?.institute?.type?.params }}">Institute Type</label>
                </div>
                <div class="input-field col s12 m6">
                    <select id="pctrl" formControlName="parentalControl" class="validate"
                            materialize="material_select">
                        <option value="" disabled selected>Please Select a Parental Control Level</option>
                        <option *ngFor="let ctrl of pCtrl" [value]="ctrl">{{ ctrl }}</option>
                    </select>
                    <label for="pctrl" attr.data-error="{{ formErrors?.institute?.parentalControl?.code | translate:formErrors?.institute?.parentalControl?.params }}">Parental Control Level</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" [disabled]="!instForm.valid" class="modal-action waves-effect waves-green btn">
                Submit
            </button>
            <button type="button" (click)="modal.closeModal()" class="modal-action modal-close waves-effect waves-green btn-flat"
                    style="margin-right: 5px">Cancel
            </button>
        </div>
    </form>
</div>-->
