<header>
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav"
                [containerInside]="false">
        <logo>
            <a class="logo navbar-brand" zdlmNavigate="w_hm"><strong>Zednilma.com</strong></a>
        </logo>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active waves-light" mdbRippleRadius>
                    <a zdlmNavigate="w_hm" class="nav-link">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a zdlmNavigate="w_abt" class="nav-link">About Us</a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a zdlmNavigate="w_ctu" class="nav-link">Contact Us</a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius *ngIf="authService.isLoggedOut$ | async">
                    <a (click)="zdlmLog.showModal()" class="nav-link">Login</a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius *ngIf="authService.isLoggedIn$ | async">
                    <a class="nav-link" (click)="authService.goToProfile()">{{ ( authService.userObservable$ | async )?.fullName() }}</a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius *ngIf="authService.isLoggedIn$ | async">
                    <a zdlmNavigate="c_lgo" class="nav-link">{{ 'app.logout'|translate }}</a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
    <!-- Main -->
    <div class="view intro hm-purple-light" style="height: 100vh">
        <div class="full-bg-img flex-center">
            <div class="container text-center white-text wow fadeInUp" style="animation-name: none; visibility: visible;">
                <h2>This Navbar is fixed and transparent</h2>
                <h2 translate>app.welcome</h2>
                <br>
                <h5>It will always stay visible on the top, even when you scroll down</h5>
                <p>Navbar's background will switch from transparent to solid color while scrolling down</p>
                <br>
                <p>Full page intro with background image will be always displayed in full screen mode, regardless of device </p>
            </div>
        </div>
    </div>
    <zdlm-login #zdlmLog></zdlm-login>
</header>
