.view {
  background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg") no-repeat center center;
  background-size: cover; }

.navbar {
  background-color: transparent; }

.top-nav-collapse {
  background-color: #4285F4; }

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #4285F4; } }

/*# sourceMappingURL=home.component.css.map */
