$red-base:       #f44336 !default;
$grey-base:       #9e9e9e !default;
$black-base: #000 !default;
$blue-base:       #2196f3 !default;

.mdb-feed .news .excerpt {
    margin: 0 0 0.6rem 1.2rem;
}
.ctrl-btn {
    margin-right: 0;
    float: right;
}
.feed-footer {
    width: 100%;
    .edit, .remove {
        font-weight: 300;
        font-size: 0.86rem;
        float: right;
        margin-left: 10px;
        color: $grey-base;
        &:hover {
            span {
                color: $black-base;
                transition: 0.4s;
            }
        }
        .fa {
            padding-right: 0.5rem;
        }
    }
    .edit:hover {
        .fa {
            color: $blue-base;
            transition: 0.4s;
        }
    }
    .remove:hover {
        .fa {
            color: $red-base;
            transition: 0.4s;
        }
    }
}
