<mdb-squeezebox [multiple]="false" aria-multiselectable="true">
    <mdb-item [collapsed]="true" *ngFor="let departmentTemp of departments">
        <mdb-item-head><i class="fa fa-cube"></i> {{ departmentTemp.name }}</mdb-item-head>
        <mdb-item-body>
            <section (mouseenter)="department = departmentTemp">
                <h6 class="grey-text text-center">{{ departmentTemp.description }}</h6>
                <hr *ngIf="!isLast" class="mb-2 mt-3 pb-2">
                <div class="row">
                    <div class="col-6">
                        <h5 class="text-center">{{ 'departments.subjects' | translate }}</h5>
                    </div>
                    <div class="col-6">
                        <h5 class="text-center">{{ 'departments.members' | translate }}</h5>
                    </div>
                </div>
                <hr class="mb-3 mt-2 pb-2">
                <div class="row">
                    <div class="col-6">
                        <ul class="list-group">
                            <div class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let subjectTemp of departmentTemp.subjects">
                                <div class="d-flex w-100 justify-content-between mb-1">
                                    <h5 class="mb-1"><a zdlmNavigate="i_str_depss" [paramOne]="insSlug" [paramTwo]="departmentTemp.slug" [paramThree]="subjectTemp.id">{{ subjectTemp.name }}</a></h5>
                                </div>
                                <p class="mb-1">{{ subjectTemp.description }}</p>
                                <hr class="mb-1 mt-3 pb-0">
                                <div class="feed-footer">
                                    <a class="remove" (click)="subject = subjectTemp; entity = 'subject'; warning.show()">
                                        <i class="fa fa-trash-o"></i>
                                        <span translate>app.delete</span>
                                    </a>
                                    <a class="edit" (click)="openSubjectModal(subjectTemp)">
                                        <i class="fa fa-edit"></i>
                                        <span translate>app.edit</span>
                                    </a>
                                </div>
                            </div>
                        </ul>
                    </div>
                    <div class="col-6">
                        <div class="mdb-feed">
                            <ng-container *ngFor="let memberTemp of departmentTemp.members; last as isLast">
                                <div class="news">
                                    <div class="label">
                                        <img [src]="memberTemp.user.imageUrl" class="rounded-circle z-depth-1-half">
                                    </div>
                                    <div class="excerpt">
                                        <div class="brief">
                                            <a class="name">{{ memberTemp.user.name() }}</a>
                                            <div class="date">{{ memberTemp.dateStarted | date }}</div>
                                        </div>
                                        <div class="feed-footer">
                                            <a class="comment">{{ memberTemp.post.name }}</a>
                                        </div>
                                        <div class="feed-footer">
                                            <a class="remove" (click)="member = memberTemp; entity = 'member'; warning.show()">
                                                <i class="fa fa-trash-o"></i>
                                                <span translate>app.delete</span>
                                            </a>
                                            <a class="edit" (click)="member = memberTemp; openMemberModal('edit')">
                                                <i class="fa fa-edit"></i>
                                                <span translate>app.edit</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <hr *ngIf="!isLast" class="mb-2 mt-2 pb-2">
                            </ng-container>
                        </div>
                    </div>
                </div>
                <hr *ngIf="!isLast" class="mb-1 mt-3 pb-0">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary btn-sm waves-light ctrl-btn" (click)="openSubjectModal(null)" mdbWavesEffect>
                            <i class="fa fa-plus left"></i> {{ 'departments.add_sub' | translate }}
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary btn-sm waves-light ctrl-btn" (click)="member = null;openMemberModal('new')" mdbWavesEffect>
                            <i class="fa fa-plus left"></i> {{ 'departments.add_mem' | translate }}
                        </button>
                    </div>
                </div>
                <hr *ngIf="!isLast" class="mb-1 mt-3 pb-0">
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary btn-sm waves-light ctrl-btn" (click)="openDepartmentModal(departmentTemp)" mdbWavesEffect>
                            <i class="fa fa-edit left"></i> {{ 'departments.edit_dep' | translate }}
                        </button>
                        <button type="button" class="btn btn-danger btn-sm waves-light ctrl-btn" (click)="department = departmentTemp; entity = 'department'; warning.show()"
                                mdbWavesEffect>
                            <i class="fa fa-trash-o left"></i> {{ 'departments.remove_dep' | translate }}
                        </button>
                    </div>
                </div>
            </section>
        </mdb-item-body>
    </mdb-item>
</mdb-squeezebox>
<div class="row mt-2">
    <div class="col-12">
        <button type="button" (click)="openDepartmentModal(null)" class="btn btn-primary btn-sm waves-light ctrl-btn" mdbWavesEffect>
            <i class="fa fa-plus left"></i> {{ 'departments.add_dep' | translate }}
        </button>
    </div>
</div>

<div mdbModal #departmentModal="mdb-modal" class="modal fade" id="departmentModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <form [formGroup]="depForm" (ngSubmit)="submitDepartment()">
            <div class="modal-content">
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa fa-plus"></i> {{ 'departments.new_dep_header' | translate }}</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="departmentModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body mb-0">
                    <div class="md-form form-sm">
                        <input mdbInputDirective type="text" id="d_name" formControlName="name" class="form-control">
                        <label for="d_name">{{ 'department.name.label' | translate }}</label>
                        <div class="error red-text" [zdlmValidMsg]="depForm.get('name')"></div>
                    </div>
                    <div class="md-form form-sm">
                        <textarea mdbInputDirective type="text" id="d_description" formControlName="description" class="md-textarea mb-0" style="width: 100%"></textarea>
                        <label for="d_description">{{ 'department.description.label' | translate }}</label>
                        <div class="error red-text" [zdlmValidMsg]="depForm.get('description')"></div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="departmentModal.hide()" mdbWavesEffect>
                            {{ 'app.cancel' | translate }}
                        </button>
                        <button type="submit" [disabled]="depForm.invalid" class="btn btn-primary waves-light" mdbWavesEffect>
                            {{ 'app.submit' | translate }} <i class="fa fa-plus ml-1 white-text"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div mdbModal #subjectModal="mdb-modal" class="modal fade" id="subjectModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <form [formGroup]="subForm" (ngSubmit)="submitSubject()">
            <div class="modal-content">
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa fa-plus"></i> {{ 'departments.new_sub_header' | translate }}</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="subjectModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body mb-0">
                    <div class="md-form form-sm">
                        <input mdbInputDirective type="text" id="s_name" formControlName="name" class="form-control">
                        <label for="s_name">{{ 'subject.name.label' | translate }}</label>
                        <div class="error red-text" [zdlmValidMsg]="subForm.get('name')"></div>
                    </div>
                    <div class="md-form form-sm">
                        <textarea mdbInputDirective type="text" id="s_description" formControlName="description" class="md-textarea mb-0" style="width: 100%"></textarea>
                        <label for="s_description">{{ 'subject.description.label' | translate }}</label>
                        <div class="error red-text" [zdlmValidMsg]="subForm.get('description')"></div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal" (click)="subjectModal.hide()" mdbWavesEffect>
                            {{ 'app.cancel' | translate }}
                        </button>
                        <button type="submit" [disabled]="subForm.invalid" class="btn btn-primary btn-sm waves-light" mdbWavesEffect>
                            <i class="fa fa-plus left"></i> {{ 'app.submit' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div mdbModal #memberModal="mdb-modal" class="modal fade" id="memberModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <form [formGroup]="memForm" (ngSubmit)="submitMember()">
            <div class="modal-content">
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa" [ngClass]="member ? 'fa-user':'fa-user-plus'"></i> {{ ( member ? 'departments.edit_mem_header' : 'departments.new_mem_header' ) | translate }}</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="memberModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body mb-0">
                    <div class="col-12 mb-5 mt-1">
                        <div class="card card-body" *ngIf="member">
                            <h4 class="card-title">{{ member.user.fullName() }}</h4>
                            <p class="card-text">{{ 'departments.actual_post' | translate }}: {{member.post.name}}</p>
                        </div>
                    </div>
                    <div class="col-12 mb-3 mt-1" *ngIf="!member">
                        <mdb-select [options]="membersSelect" [formControlName]="'user'" [filterEnabled]="true" [placeholder]="'departments.mem_placeholder' | translate"
                                    [filterPlaceholder]="'departments.mem_filter_placeholder' | translate"></mdb-select>
                        <label>{{ 'departments.select_mem' | translate }}</label>
                    </div>
                    <div class="col-12 mb-3 mt-1">
                        <mdb-select [options]="postsSelect" [formControlName]="'post'" [filterEnabled]="true" [placeholder]="'departments.post_placeholder' | translate"
                                    [filterPlaceholder]="'departments.post_filter_placeholder' | translate"></mdb-select>
                        <label *ngIf="member">{{ 'departments.select_post_edit' | translate }}</label>
                        <label *ngIf="!member">{{ 'departments.select_post' | translate }}</label>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal" (click)="memberModal.hide()" mdbWavesEffect>
                            {{ 'app.cancel' | translate }}
                        </button>
                        <button type="submit" [disabled]="( !member && memForm.invalid) || (member && memForm.get('post').invalid)" class="btn btn-primary btn-sm waves-light" mdbWavesEffect>
                            <i class="fa fa-plus left"></i> {{ 'app.submit' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div mdbModal #warning="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead" translate>app.confirm_action</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="warning.hide()">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <p></p>
                        <p class="text-center">
                            <i class="fa fa-warning fa-4x"></i>
                        </p>
                    </div>
                    <div class="col-9">
                        <p *ngIf="entity === 'member'">{{'departments.delete_warning_mem'|translate}}</p>
                        <p *ngIf="entity === 'subject'">{{'departments.delete_warning_sub'|translate}}</p>
                        <p *ngIf="entity === 'department'">{{'departments.delete_warning_dep'|translate}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-primary-modal waves-light" mdbRippleRadius
                   (click)="remove()">{{ 'app.yes_delete'|translate }} <i class="fa fa-check ml-1"></i>
                </a>
                <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" (click)="warning.hide()" mdbRippleRadius>
                    {{ 'app.no_delete'|translate }} <i class="fa fa-times ml-1"></i>
                </a>
            </div>
        </div>
    </div>
</div>
