.mdb-feed .news .excerpt {
  margin: 0 0 0.6rem 1.2rem; }

.ctrl-btn {
  margin-right: 0;
  float: right; }

.feed-footer {
  width: 100%; }
  .feed-footer .edit, .feed-footer .remove {
    font-weight: 300;
    font-size: 0.86rem;
    float: right;
    margin-left: 10px;
    color: #9e9e9e; }
    .feed-footer .edit:hover span, .feed-footer .remove:hover span {
      color: #000;
      transition: 0.4s; }
    .feed-footer .edit .fa, .feed-footer .remove .fa {
      padding-right: 0.5rem; }
  .feed-footer .edit:hover .fa {
    color: #2196f3;
    transition: 0.4s; }
  .feed-footer .remove:hover .fa {
    color: #f44336;
    transition: 0.4s; }

/*# sourceMappingURL=departments.component.css.map */
