<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="md-form">
                    <input type="search" #search [(ngModel)]="searchText" (keyup)="onSearchKeyUp(search.value)" id="search" class="form-control" mdbInputDirective
                           [mdbValidate]="false">
                    <label for="search">{{'members.search_ph'|translate}}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <nav class="fright">
                    <ul class="pagination pg-blue">
                        <li class="page-item" ><a class="page-link">Items per page: </a></li>
                        <li class="page-item" [ngClass]="{'active' : itemsPerPage === 5}"><a class="page-link" (click)="setItemsPerPage(5)" mdbWavesEffect>5</a></li>
                        <li class="page-item" [ngClass]="{'active' : itemsPerPage === 10}"><a class="page-link" (click)="setItemsPerPage(10)" mdbWavesEffect>10</a></li>
                        <li class="page-item" [ngClass]="{'active' : itemsPerPage === 20}"><a class="page-link" (click)="setItemsPerPage(20)" mdbWavesEffect>20</a></li>
                        <li class="page-item" [ngClass]="{'active' : itemsPerPage === 50}"><a class="page-link" (click)="setItemsPerPage(50)" mdbWavesEffect>50</a></li>
                        <li class="page-item" [ngClass]="{'active' : itemsPerPage === 100}"><a class="page-link" (click)="setItemsPerPage(100)" mdbWavesEffect>100</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <table class="table table-striped table-bordered table-responsive-md" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th class="pointer" (click)="sortBy('firstName')">{{ 'user.firstName.label'|translate }}
                    <mdb-icon class="fright" [icon]="getSortedIcon('firstName')"></mdb-icon>
                </th>
                <th class="pointer" (click)="sortBy('lastName')">{{ 'user.lastName.label'|translate }}
                    <mdb-icon class="fright" [icon]="getSortedIcon('lastName')"></mdb-icon>
                </th>
                <th class="pointer" (click)="sortBy('email')">{{ 'email.email.label'|translate }}
                    <mdb-icon class="fright" [icon]="getSortedIcon('email')"></mdb-icon>
                </th>
                <th class="pointer" (click)="sortBy('username')">{{ 'user.username.label'|translate }}
                    <mdb-icon class="fright" [icon]="getSortedIcon('username')"></mdb-icon>
                </th>
                <th class="pointer" (click)="sortBy('gender')">{{ 'user.gender.label'|translate }}
                    <mdb-icon class="fright" [icon]="getSortedIcon('gender')"></mdb-icon>
                </th>
                <th class="pointer" (click)="sortBy('birthday')">{{ 'user.birthday.label'|translate }}
                    <mdb-icon class="fright" [icon]="getSortedIcon('birthday')"></mdb-icon>
                </th>
                <th class="pointer" (click)="sortBy('status')">{{ 'user.status.label'|translate }}
                    <mdb-icon class="fright" [icon]="getSortedIcon('status')"></mdb-icon>
                </th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>{{ 'user.firstName.label'|translate }}</th>
                <th>{{ 'user.lastName.label'|translate }}</th>
                <th>{{ 'email.email.label'|translate }}</th>
                <th>{{ 'user.username.label'|translate }}</th>
                <th>{{ 'user.gender.label'|translate }}</th>
                <th>{{ 'user.birthday.label'|translate }}</th>
                <th>{{ 'user.status.label'|translate }}</th>
            </tr>
            </tfoot>
            <tbody>
            <tr *ngFor="let student of studentsPage">
                <td><a class="blue-text" [routerLink]="'./' + student.username">{{student.firstName}}</a></td>
                <td><a class="blue-text" [routerLink]="'./' + student.username">{{student.lastName}}</a></td>
                <td>{{student.email}}</td>
                <td>{{student.username}}</td>
                <td>{{student.gender.length > 0 ? ('user.gender.' + student.gender | translate) : ''}}</td>
                <td>{{student.birthday|date:'longDate'}}</td>
                <td>
                    <div class="switch" [mdbTooltip]="'user.status.' + student.status + '_title' | translate" placement="top">
                        <label>
                            <input [checked]="student.status === 'enabled'" [disabled]="student.status === 'inactive'" #checkBox
                                   (change)="changeUserStatus(student.id, checkBox.checked)" type="checkbox">
                            <span class="lever"></span>
                        </label>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr class="my-0">
    <div class="d-flex justify-content-center">
        <nav class="my-4 pt-2">
            <ul class="pagination pagination-circle pg-purple mb-0">
                <li class="page-item" (click)="changePage(activePage-1)" [ngClass]="{disabled: activePage == 1}">
                    <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <ng-container *ngIf="lastPage < 5; then lessThanTemp else moreThanTemp"></ng-container>
                <li class="page-item" (click)="changePage(activePage+1)" [ngClass]="{disabled: activePage == lastPage}">
                    <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                <ng-template #lessThanTemp>
                    <li *ngFor="let page of arrayOfPages()" class="page-item" [ngClass]="{active: page == activePage}">
                        <a class="page-link waves-light" (click)="changePage(page)" mdbWavesEffect>{{page}}</a>
                    </li>
                </ng-template>
                <ng-template #moreThanTemp>
                    <li class="page-item" *ngIf="activePage - 3 > 0">
                        <a class="page-link waves-light" (click)="changePage(1)" mdbWavesEffect>1</a>
                    </li>
                    <li class="page-item disabled" *ngIf="activePage - 3 > 0">
                        <a class="page-link">...</a>
                    </li>
                    <li class="page-item" *ngIf="activePage - 2 > 0">
                        <a class="page-link waves-light" (click)="changePage(activePage-2)" mdbWavesEffect>{{activePage - 2}}</a>
                    </li>
                    <li class="page-item" *ngIf="activePage - 1 > 0">
                        <a class="page-link waves-light" (click)="changePage(activePage-1)" mdbWavesEffect>{{activePage - 1}}</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link waves-light" mdbWavesEffect>{{activePage}}</a>
                    </li>
                    <li class="page-item" *ngIf="lastPage - activePage > 0">
                        <a class="page-link waves-light" (click)="changePage(activePage+1)" mdbWavesEffect>{{activePage + 1}}</a>
                    </li>
                    <li class="page-item" *ngIf="lastPage - activePage > 1">
                        <a class="page-link waves-light" (click)="changePage(activePage+2)" mdbWavesEffect>{{activePage + 2}}</a>
                    </li>
                    <li class="page-item disabled" *ngIf="lastPage - activePage > 2">
                        <a class="page-link">...</a>
                    </li>
                    <li class="page-item" *ngIf="lastPage - activePage > 2">
                        <a class="page-link waves-light" (click)="changePage(lastPage)" mdbWavesEffect>{{lastPage}}</a>
                    </li>
                </ng-template>
            </ul>
        </nav>
    </div>
</div>
