<div class="card-panel">
    <!--<form [formGroup]="settingForm" (ngSubmit)="submit()">
        <div class="row">
            <div class="input-field col s12">
                <select id="language" formControlName="language" [value]="professor.language" class="validate" materialize="material_select">
                    <option disabled selected value="" translate>professor.language.disabled_option</option>
                    <option *ngFor="let lang of languages" [value]="lang">{{ 'languages.'+lang|translate }}
                    </option>
                </select>
                <label for="language" translate>professor.language.label</label>
                <div class="error red-text">{{ formErrors?.language?.code | translate:formErrors?.language?.params }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button type="submit" class="btn waves-effect waves-light right" [disabled]="!settingForm.valid || isSubmitting">
                    <i class="material-icons left">save</i>{{ 'app.save' | translate }}
                </button>
            </div>
        </div>
    </form>-->
</div>
