<header>
    <mdb-sidenav #sidenav class="sn-bg-1 fixed" [fixed]="true">
        <zdlm-student-sidenav></zdlm-student-sidenav>
    </mdb-sidenav>
    <mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav" [containerInside]="false">
        <navlinks class="navbar-container">
            <div class="float-left">
                <a (click)="sidenav.show()" class="button-collapse"><i class="fa fa-bars"></i></a>
            </div>
        </navlinks>
        <logo>
            <div class="breadcrumbs breadcrumb-dn mr-auto">
                <p>{{ (authService.insObservable$ | async)?.name }}</p>
            </div>
        </logo>
        <navlinks>
            <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbRippleRadius><i class="fa fa-envelope"></i> <span class="clearfix d-none d-sm-inline-block">Messages</span></a>
                </li>
                <li class="nav-item dropdown btn-group" dropdown>
                    <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius><i class="fa fa-comments-o"></i>
                        <span class="clearfix d-none d-sm-inline-block">{{ 'notification.label' | translate }}</span>
                        <span class="badge badge-default badge-pill ml-1">{{ unreadNotifs() }}</span>
                    </a>
                    <div class="dropdown-menu notif-dropdown">
                        <div class="notifs-container">
                            <ng-container *ngFor="let notif of notifications">
                                <div class="col-sm-12 pointer" [ngClass]="notif.isRead ? 'read':'not-read'" (click)="onNotifClick(notif)">
                                    <div class="mdb-feed">
                                        <div class="news">
                                            <div class="label">
                                                <img [src]="notif.imageUrl" class="rounded-circle z-depth-1-half">
                                            </div>
                                            <div class="excerpt">
                                                <div class="brief">
                                                    <a [innerHTML]="notif.description$ | async | trustHtml"></a>
                                                </div>
                                                <div class="date">
                                                    <i class="fa fa-clock-o mr-1"></i> {{ notif.date | timeAgo }}
                                                    <span class="icon-container">
                                                    <mdb-icon [icon]="notif.isRead ? 'circle-o':'circle'" (click)="markAsRead($event, notif.id, !notif.isRead)"></mdb-icon>
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                            </ng-container>
                        </div>
                        <div class="row-fluid">
                            <div class="col-12 control-link">
                                <a (click)="markAllRead()">{{ 'notification.mark_all' | translate }}</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown btn-group" dropdown>
                    <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
                        <i class="fa fa-user"></i> {{ (authService.userObservable$ | async)?.fullName() }}
                    </a>
                    <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
                        <a class="dropdown-item" zdlmNavigate="s_prf" [paramOne]="(authService.userObservable$ | async)?.username" translate>topnav.profile</a>
                        <a class="dropdown-item" zdlmNavigate="s_stg" [paramOne]="(authService.userObservable$ | async)?.username" translate>topnav.settings</a>
                        <a class="dropdown-item" zdlmNavigate="s_tt" [paramOne]="(authService.userObservable$ | async)?.username" translate>topnav.tt</a>
                        <div class="divider dropdown-divider"></div>
                        <a class="dropdown-item" zdlmNavigate="c_lgo" translate>app.logout</a>
                    </div>
                </li>
            </ul>
        </navlinks>
    </mdb-navbar>
</header>
<main style="height: 100%">
    <router-outlet></router-outlet>
</main>
<div mdbModal #notifInfoModal="mdbModal" class="modal fade left" id="notifInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-side modal-bottom-right notif-info-modal" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100" translate>notifications.details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="notifInfoModal.hide()">
                    <span aria-hidden="true" class="grey-text">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3 text-center">
                        <img [src]="notification?.imageUrl" class="img-fluid z-depth-1-half rounded-circle">
                        <div style="height: 10px"></div>
                        <p class="title mb-0">{{notification?.notifier.fullName()}}</p>
                    </div>
                    <div class="col-9">
                        <p>{{notification?.title}}</p>
                        <hr>
                        <p class="card-text">{{notification?.title}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-right waves-effect" mdbWavesEffect>
                <a type="button" mdbBtn color="primary" size="sm" outline="true" class="waves-effect" style="float: right" mdbWavesEffect
                   (click)="notifInfoModal.hide()" data-dismiss="modal" translate>app.close</a>
            </div>
        </div>
    </div>
</div>
