<div class="card-panel">
    <!--<h4>{{ 'email.plural' | translate }}</h4>
    <ul class="collapsible" data-collapsible="expandable" #collapsible materialize="collapsible"*ngIf="emails.length > 0">
        <li *ngFor="let email of emails; let i = index" zdlm-email-edit [email]="email" (onSaved)="unsavedEmail = false"
            (popOut)="popOut(i)" (onDelete)="emailDeteled(i)">
        </li>
    </ul>
    <div class="row">
        <div class="col s12">
            <button class="btn waves-effect waves-light right" [disabled]="unsavedEmail" *ngIf="emails.length < 5"
                    (click)="addEmail()">
                <i class="material-icons left">add</i>{{ 'email.new' | translate }}
            </button>
        </div>
    </div>
    <h4>{{ 'phone.plural' | translate }}</h4>
    <ul class="collapsible" data-collapsible="expandable" #collapsible2 materialize="collapsible"*ngIf="phones.length > 0">
        <li *ngFor="let phone of phones; let i = index" zdlm-phone-edit [phone]="phone"
            (onSaved)="unsavedPhone = false"
            (popOut)="onPopOut2(i)" (onDelete)="phoneDeteled(i)">
        </li>
    </ul>
    <div class="row">
        <div class="col s12">
            <button class="btn waves-effect waves-light right" [disabled]="unsavedPhone" *ngIf="phones.length < 5"
                    (click)="addPhone()">
                <i class="material-icons left">add</i>{{ 'phone.new' | translate }}
            </button>
        </div>
    </div>-->
</div>
