.chip {
  height: 38px;
  font-size: 18px;
  line-height: 38px;
  border-radius: 19px;
  margin-bottom: 10px; }
  .chip i {
    font-size: 18px;
    line-height: 38px; }
  .chip i:hover {
    color: red; }

/*# sourceMappingURL=classes.component.css.map */
