<mdb-tabset #staticTabs [buttonClass]="'nav-tabs tabs-3'" [contentClass]="'card'">
    <mdb-tab [heading]="'module.label_pl' | translate" (select)="changePath()"></mdb-tab>
    <mdb-tab [heading]="'classe.label_plu' | translate" [active]="true">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mt-4">
                    <div class="chip" *ngFor="let classe of classes">
                        {{ classe.name }} <i class="close fa fa-trash-o" (click)="classId = classe.id;warning.show()"></i>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-sm btn-primary waves-effect waves-light fright" type="button" mdbWavesEffect (click)="classeModal.show()">
                        <mdb-icon icon="plus" class="mr-1"></mdb-icon>
                        {{ 'classe.new' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </mdb-tab>
</mdb-tabset>
<div mdbModal #classeModal="mdb-modal" class="modal fade" id="classeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <form [formGroup]="classeForm" (ngSubmit)="submit()">
            <div class="modal-content">
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa fa-pencil"></i> <!--{{ (moduleId > 0 ? 'specialities.edit_mdl_header':'specialities.add_mdl_header')|translate }}--></h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="classeModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body mb-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="md-form form-sm">
                                <input mdbInputDirective type="number" id="quantity" formControlName="quantity" class="form-control">
                                <label for="quantity">{{ 'classe.quantity.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="classeForm.get('quantity')"></div>
                            </div>
                        </div>
                        <div class="col-12">
                            <mdb-select [formControlName]="'level'" [options]="yearOptions" [placeholder]="'classe.level.label'|translate"></mdb-select>
                            <label translate>classe.level.label</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="classeForm.invalid" class="btn btn-info mb-2 waves-light" mdbRippleRadius>{{'app.submit' | translate}} <i
                            class="fa fa-send ml-1"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div mdbModal #warning="mdb-modal" class="modal fade" id="warningModule" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead" translate>app.confirm_action</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="warning.hide()">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <p></p>
                        <p class="text-center">
                            <i class="fa fa-warning fa-4x"></i>
                        </p>
                    </div>
                    <div class="col-9">
                        <p>{{'specialities.delete_warning_cls'|translate}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-primary-modal waves-light" mdbRippleRadius
                   (click)="remove()">{{ 'app.yes_delete'|translate }} <i class="fa fa-check ml-1"></i>
                </a>
                <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" (click)="warning.hide()" mdbRippleRadius>
                    {{ 'app.no_delete'|translate }} <i class="fa fa-times ml-1"></i>
                </a>
            </div>
        </div>
    </div>
</div>
