<div class="row">
    <div class="col s12">
        <h3>Hello Admin</h3>
        <h4>And welcome to you dashboard</h4>
        <h6>Here, you'll fi,d all the useful informations</h6>
        <a [zdlmNavigate]="'a_ins'" [paramOne]="username">Institutes</a><br/>
        <a [zdlmNavigate]="'a_ina'" [paramOne]="username">Institute Admin</a>
    </div>
</div>
