.sub-logo-t {
  height: 45px;
  line-height: 30px;
  padding-top: 15px; }

.sub-logo-m {
  height: 30px;
  line-height: 30px; }

.sub-logo-b {
  height: 35px;
  line-height: 30px;
  padding-bottom: 5px; }

/*# sourceMappingURL=student-sidenav.component.css.map */
