<logo>
    <li>
        <div class="logo-wrapper waves-light">
            <a zdlmNavigate="w_hm"><img src="../../../../../assets/images/zed_long_logo_sm.png" style="padding: 0" class="img-fluid flex-center"></a>
        </div>
    </li>
</logo>
<links>
    <li>
        <a class="text-center sub-logo-t">{{ (authService.userObservable$ | async)?.fullName() }}</a>
        <a class="text-center sub-logo-m">{{ (authService.userObservable$ | async)?.email }}</a>
    </li>
    <li>
        <ul class="social">
            <li><a class="icons-sm fb-ic sub-logo-b"><i class="fa fa-facebook"> </i></a></li>
            <li><a class="icons-sm pin-ic sub-logo-b"><i class="fa fa-pinterest"> </i></a></li>
            <li><a class="icons-sm gplus-ic sub-logo-b"><i class="fa fa-google-plus"> </i></a></li>
            <li><a class="icons-sm tw-ic sub-logo-b"><i class="fa fa-twitter"> </i></a></li>
        </ul>
    </li>
    <li>
        <form class="search-form" role="search">
            <div class="form-group waves-light" mdbRippleRadius>
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </form>
    </li>
    <li>
        <ul class="collapsible collapsible-accordion">
            <mdb-squeezebox [multiple]="false" aria-multiselectable="false">
                <mdb-item class="no-collase">
                    <mdb-item-head mdbRippleRadius>
                        <a zdlmNavigate="i_prf" [paramOne]="(authService.insObservable$ | async)?.slug">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i> {{ 'ins_nav.ins_profile' | translate }}
                        </a>
                    </mdb-item-head>
                    <mdb-item-body></mdb-item-body>
                </mdb-item>
                <mdb-item class="no-collase">
                    <mdb-item-head mdbRippleRadius>
                        <a zdlmNavigate="i_mprf" [paramOne]="(authService.insObservable$ | async)?.slug" [paramTwo]="(authService.userObservable$ | async)?.username">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i> {{ 'ins_nav.usr_profile' | translate }}
                        </a>
                    </mdb-item-head>
                    <mdb-item-body></mdb-item-body>
                </mdb-item>
                
                <mdb-item>
                    <mdb-item-head mdbRippleRadius><i class="fa fa-chevron-right"></i> {{ 'ins_nav.ins_settings' | translate }}</mdb-item-head>
                    <mdb-item-body>
                        <ul>
                            <li><a zdlmNavigate="i_st_aci" [paramOne]="(authService.insObservable$ | async)?.slug" class="waves-effect" mdbRippleRadius>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i> {{ 'ins_nav.ins_infos' | translate }}
                            </a></li>
                            <li><a zdlmNavigate="i_st_lam" [paramOne]="(authService.insObservable$ | async)?.slug" class="waves-effect" mdbRippleRadius>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i> {{ 'ins_nav.location' | translate }}
                            </a></li>
                            <li><a zdlmNavigate="i_st_cti" [paramOne]="(authService.insObservable$ | async)?.slug" class="waves-effect" mdbRippleRadius>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i> {{ 'ins_nav.contact' | translate }}
                            </a></li>
                            <li><a zdlmNavigate="i_st_spr" [paramOne]="(authService.insObservable$ | async)?.slug" class="waves-effect" mdbRippleRadius>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i> {{ 'ins_nav.soc_prf' | translate }}
                            </a></li>
                        </ul>
                    </mdb-item-body>
                </mdb-item>
                <mdb-item>
                    <mdb-item-head mdbRippleRadius><i class="fa fa-chevron-right"></i> {{ 'ins_nav.usr_settings' | translate }}</mdb-item-head>
                    <mdb-item-body>
                        <ul>
                            <li><a zdlmNavigate="i_mst_aci" [paramOne]="(authService.insObservable$ | async)?.slug" [paramTwo]="(authService.userObservable$ | async)?.username" class="waves-effect" mdbRippleRadius>{{ 'app.account.acc_info'|translate }}</a></li>
                            <li><a zdlmNavigate="i_mst_lam" [paramOne]="(authService.insObservable$ | async)?.slug" [paramTwo]="(authService.userObservable$ | async)?.username" class="waves-effect" mdbRippleRadius>{{ 'app.account.contact'|translate }}</a></li>
                            <li><a zdlmNavigate="i_mst_cti" [paramOne]="(authService.insObservable$ | async)?.slug" [paramTwo]="(authService.userObservable$ | async)?.username" class="waves-effect" mdbRippleRadius>{{ 'app.account.location'|translate }}</a></li>
                            <li><a zdlmNavigate="i_mst_spr" [paramOne]="(authService.insObservable$ | async)?.slug" [paramTwo]="(authService.userObservable$ | async)?.username" class="waves-effect" mdbRippleRadius>{{ 'app.account.soc_prfs'|translate }}</a></li>
                            <li><a zdlmNavigate="i_mst_spr" [paramOne]="(authService.insObservable$ | async)?.slug" [paramTwo]="(authService.userObservable$ | async)?.username" class="waves-effect" mdbRippleRadius>{{ 'app.account.credentials'|translate }}</a></li>
                            <li><a zdlmNavigate="i_mst_spr" [paramOne]="(authService.insObservable$ | async)?.slug" [paramTwo]="(authService.userObservable$ | async)?.username" class="waves-effect" mdbRippleRadius>{{ 'app.account.website'|translate }}</a></li>
                        </ul>
                    </mdb-item-body>
                </mdb-item>

                <mdb-item>
                    <mdb-item-head mdbRippleRadius><i class="fa fa-chevron-right"></i> {{ 'ins_nav.structure' | translate }}</mdb-item-head>
                    <mdb-item-body>
                        <ul>
                            <li><a zdlmNavigate="i_str_infs" [paramOne]="(authService.insObservable$ | async)?.slug" class="waves-effect" mdbRippleRadius>{{ 'ins_nav.infrastructures' | translate }}</a></li>
                            <li><a zdlmNavigate="i_str_spcs" [paramOne]="(authService.insObservable$ | async)?.slug" class="waves-effect" mdbRippleRadius>{{ 'ins_nav.specialities' | translate }}</a></li>
                            <li><a zdlmNavigate="i_str_deps" [paramOne]="(authService.insObservable$ | async)?.slug" class="waves-effect" mdbRippleRadius>{{ 'ins_nav.departments' | translate }}</a></li>
                            <li><a zdlmNavigate="i_clb" [paramOne]="(authService.insObservable$ | async)?.slug" class="waves-effect" mdbRippleRadius>{{ 'ins_nav.clubs' | translate }}</a></li>
                        </ul>
                    </mdb-item-body>
                </mdb-item>

                <mdb-item>
                    <mdb-item-head mdbRippleRadius><i class="fa fa-chevron-right"></i> {{ 'ins_nav.members' | translate }}</mdb-item-head>
                    <mdb-item-body>
                        <ul>
                            <li><a zdlmNavigate="i_mmb_prfs" [paramOne]="(authService.insObservable$ | async)?.slug" class="waves-effect" mdbRippleRadius>{{ 'ins_nav.professors' | translate }}</a></li>
                            <li><a zdlmNavigate="i_mmb_stds" [paramOne]="(authService.insObservable$ | async)?.slug" class="waves-effect" mdbRippleRadius>{{ 'ins_nav.students' | translate }}</a></li>
                            <li><a zdlmNavigate="i_mmb_stfs" [paramOne]="(authService.insObservable$ | async)?.slug" class="waves-effect" mdbRippleRadius>{{ 'ins_nav.staff' | translate }}</a></li>
                            <li><a zdlmNavigate="i_mmb_grps" [paramOne]="(authService.insObservable$ | async)?.slug" class="waves-effect" mdbRippleRadius>{{ 'ins_nav.groups' | translate }}</a></li>
                            <li><a zdlmNavigate="i_mmb_psts" [paramOne]="(authService.insObservable$ | async)?.slug" class="waves-effect" mdbRippleRadius>{{ 'ins_nav.posts' | translate }}</a></li>
                        </ul>
                    </mdb-item-body>
                </mdb-item>

                <mdb-item>
                    <mdb-item-head mdbRippleRadius><i class="fa fa-chevron-right"></i> {{ 'ins_nav.timetables' | translate }}</mdb-item-head>
                    <mdb-item-body>
                        <ul>
                            <li><a zdlmNavigate="i_tmt" [paramOne]="(authService.insObservable$ | async)?.slug" class="waves-effect" mdbRippleRadius>{{ 'ins_nav.tmtbl_settings' | translate }}</a></li>
                            <li><a zdlmNavigate="i_tmt_prfs" [paramOne]="(authService.insObservable$ | async)?.slug" class="waves-effect" mdbRippleRadius>{{ 'ins_nav.tmtbl_profs' | translate }}</a></li>
                            <li><a zdlmNavigate="i_tmt_stds" [paramOne]="(authService.insObservable$ | async)?.slug" class="waves-effect" mdbRippleRadius>{{ 'ins_nav.tmtbl_stds' | translate }}</a></li>
                        </ul>
                    </mdb-item-body>
                </mdb-item>
                
                <mdb-item class="no-collase">
                    <mdb-item-head mdbRippleRadius><a zdlmNavigate="c_lgo"><i class="fa fa-chevron-right"></i> {{ 'ins_nav.logout' | translate }}</a></mdb-item-head>
                    <mdb-item-body></mdb-item-body>
                </mdb-item>
            </mdb-squeezebox>
        </ul>
    </li>
</links>
<div class="sidenav-bg mask-strong"></div>
