/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100% !important; }

.btn-group {
  padding: 0 5px;
  margin-bottom: 10px;
  /*.btn {
      margin: 0;
  }*/ }

.pointer {
  cursor: pointer; }

span.inputVal.text-danger, span.inputVal.text-success {
  font-size: 0 !important; }

.btn-gitl {
  background-color: #E65328 !important;
  color: #fff !important; }

.btn-bitb {
  background-color: #0052CC !important;
  color: #fff !important; }

.btn-skp {
  background-color: #0078CA !important;
  color: #fff !important; }

.btn-wht {
  background-color: #25D366 !important;
  color: #fff !important; }

.btn-vm {
  background-color: #00ADEF !important;
  color: #fff !important; }

.side-nav input[type=text] {
  background-color: transparent;
  border-right: none;
  border-left: none;
  border-radius: 0;
  border-color: #FFF; }

.fright {
  float: right; }

.fleft {
  float: left; }

.accordion .card {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #e0e0e0 !important;
  -webkit-border-radius: 0;
  border-radius: 0; }

.switch.round label .lever {
  width: 54px;
  height: 34px;
  border-radius: 10em; }

.switch.round label .lever:after {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  left: 4px;
  top: 4px; }

.switch.square label .lever {
  width: 54px;
  height: 34px;
  border-radius: 0; }

.switch.square label .lever:after {
  width: 26px;
  height: 26px;
  border-radius: 0;
  left: 4px;
  top: 4px; }

.attendance .carousel-multi-item {
  margin-bottom: 2rem !important;
  height: calc(100vh - 160px); }
  .attendance .carousel-multi-item .carousel-inner {
    height: 100%; }

.todo-tasks .carousel-multi-item {
  margin-bottom: 2rem !important;
  height: calc(100vh - 200px); }
  .todo-tasks .carousel-multi-item .carousel-inner {
    height: 100%; }

.attendance-summary mdb-progress .progress {
  background-color: #ff3547 !important; }

.notif-dropdown.dropdown-menu {
  width: 430px;
  margin-left: -268px !important;
  margin-top: 10px;
  padding: 0; }
  .notif-dropdown.dropdown-menu .notifs-container {
    max-height: 392px;
    overflow-y: auto; }
  .notif-dropdown.dropdown-menu .control-link {
    padding: 5px 10px; }
    .notif-dropdown.dropdown-menu .control-link a {
      line-height: 1rem;
      font-size: 0.8rem;
      font-weight: 500; }
  .notif-dropdown.dropdown-menu a {
    padding: 0; }
  .notif-dropdown.dropdown-menu a:hover {
    background-color: transparent !important; }
  .notif-dropdown.dropdown-menu div.col-sm-12 {
    padding: 0; }
    .notif-dropdown.dropdown-menu div.col-sm-12 .mdb-feed {
      padding: 0.5rem 0.8rem; }
  .notif-dropdown.dropdown-menu .not-read {
    background-color: #e3f2fd; }
  .notif-dropdown.dropdown-menu .mdb-feed .news .excerpt {
    margin: 0; }
    .notif-dropdown.dropdown-menu .mdb-feed .news .excerpt .brief, .notif-dropdown.dropdown-menu .mdb-feed .news .excerpt a {
      font-size: 0.86rem;
      font-weight: 300;
      line-height: 18px;
      padding-bottom: 4px; }
    .notif-dropdown.dropdown-menu .mdb-feed .news .excerpt .date {
      display: inline-block;
      float: none;
      font-weight: 300;
      font-size: 0.8rem;
      line-height: 16px;
      color: #9e9e9e;
      width: 100%; }
      .notif-dropdown.dropdown-menu .mdb-feed .news .excerpt .date .icon-container {
        float: right; }
        .notif-dropdown.dropdown-menu .mdb-feed .news .excerpt .date .icon-container mdb-icon {
          float: right;
          visibility: hidden;
          cursor: pointer; }
  .notif-dropdown.dropdown-menu .mdb-feed .news .label {
    width: 3rem;
    margin-right: 12px; }
  .notif-dropdown.dropdown-menu .dropdown-divider {
    margin: 0; }

.notif-dropdown.dropdown-menu .read:hover {
  background-color: #fafafa; }
  .notif-dropdown.dropdown-menu .read:hover .mdb-feed .news .excerpt .date .icon-container mdb-icon {
    visibility: visible; }

.notif-dropdown.dropdown-menu .not-read:hover {
  background-color: #bbdefb; }
  .notif-dropdown.dropdown-menu .not-read:hover .mdb-feed .news .excerpt .date .icon-container mdb-icon {
    visibility: visible; }

.narrow-scrollbar::-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5; }

.narrow-scrollbar::-webkit-scrollbar-thumb {
  background-color: #000000; }

.narrow-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

@media (min-width: 992px) {
  .modal .modal-side.notif-info-modal {
    width: 500px; } }
.notif-info-modal .modal-content .modal-footer {
  padding: 0.4rem 1rem; }

/*# sourceMappingURL=styles.css.map */
