<div class="fluid-container">
    <div class="row">
        <div class="col col-sm-12 col-md-4">
            <section class="section team-section pb-3">
                <div class="card card-cascade narrower">
                    <div class="view view-cascade gradient-card-header blue-gradient" style="padding: 1rem">
                        <h4 class="h4-responsive" style="margin:2px 0">{{ user.fullName() }}</h4>
                    </div>
                    <div class="card-body card-body-cascade text-center">
                        <div class="avatar" style="margin-bottom:2rem">
                            <img alt="First sample avatar image" class="z-depth-1" src="{{ user.imageUrl }}">
                        </div>
                        <h4>{{ userDep.department?.name }}</h4>
                        <h5 style="bottom:1rem">{{ userDep.post?.name }}</h5>
                        <hr *ngIf="socialProfiles.length > 0">
                        <a *ngFor="let sp of socialProfiles" class="btn-floating btn-sm {{ sp.btnClass() }} waves-light" mdbRippleRadius>
                            <i class="fa fa-{{ sp.website }}"></i>
                        </a>
                        <!--<a class="btn-floating btn-small btn-fb waves-light" type="button" mdbWavesEffect><i class="fa fa-facebook"></i></a>-->
                    </div>
                </div>
            </section>
        </div>
        <div class="col col-sm-12 col-md-8">
            <mdb-tabset #staticTabs [buttonClass]="'nav-tabs tabs-3 blue-gradient'" [contentClass]="'card'">
                <mdb-tab [heading]="'members.user_details' | translate">
                    <div class="row">
                        <div class="col-12">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th translate>user.firstName.label</th>
                                    <th>{{ user.firstName }}</th>
                                </tr>
                                <tr>
                                    <th translate>user.lastName.label</th>
                                    <th>{{ user.lastName }}</th>
                                </tr>
                                <tr>
                                    <th translate>user.email.label</th>
                                    <th>{{ user.email }}</th>
                                </tr>
                                <tr>
                                    <th translate>user.username.label</th>
                                    <th>{{ user.username }}</th>
                                </tr>
                                <tr>
                                    <th translate>user.birthday.label</th>
                                    <th>{{ user.birthday | date:'longDate' }}</th>
                                </tr>
                                <tr>
                                    <th translate>user.cin.label</th>
                                    <th>{{ user.cin }}</th>
                                </tr>
                                <tr>
                                    <th translate>user.gender.label</th>
                                    <th>{{ 'user.gender.' + user.gender | translate }}</th>
                                </tr>
                                <tr>
                                    <th translate>location.label</th>
                                    <th>{{ user.location.toString() + ', ' + ('country.' + user.location.country | translate) }}</th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </mdb-tab>
                <mdb-tab  [heading]="'members.classes_subjects' | translate">
                    <div class="row">
                        <div class="col-12">
                            <mdb-accordion [multiple]="false" aria-multiselectable="true">
                                <mdb-accordion-item  [collapsed]="false" *ngFor="let subject of subjects">
                                    <mdb-accordion-item-head> {{ subject.name }} </mdb-accordion-item-head>
                                    <mdb-accordion-item-body>
                                        <p>{{ subject.description }}</p>
                                        <hr>
                                        <div>
                                            <span class="h4">{{'Classes: '}}</span>
                                            <div class="chip" *ngFor="let classe of subject.classes">
                                                {{ classe.name }} <i class="close fa fa-trash-o" (click)="scToRemove = getSCId(subject.id, classe.id);warning.show()"></i>
                                            </div>
                                        </div>
                                    </mdb-accordion-item-body>
                                </mdb-accordion-item>
                            </mdb-accordion>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-4">
                            <button type="button" (click)="subClasseModal.show()" class="btn btn-primary btn-sm waves-light fright" mdbWavesEffect>
                                <i class="fa fa-plus left"></i> {{ 'departments.add_dep' | translate }}
                            </button>
                        </div>
                    </div>
                </mdb-tab>
            </mdb-tabset>
        </div>
    </div>
</div>

<div mdbModal #subClasseModal="mdb-modal" class="modal fade" id="subClasseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <form [formGroup]="formGroup" (ngSubmit)="submit()">
            <div class="modal-content">
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa fa-plus"></i> {{ 'departments.new_dep_header' | translate }}</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="subClasseModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body mb-0">
                    <div class="col-12 mt-2">
                        <mdb-select [options]="subjectOptions" [placeholder]="'members.select_subject' | translate" [formControlName]="'subject'" (selected)="onSubjectChange()"
                                    id="subject"></mdb-select>
                        <label for="subject" translate>subject.label</label>
                        <div class="error red-text" [zdlmValidMsg]="formGroup.get('subject')"></div>
                    </div>
                    <div class="col-12 mt-4">
                        <mdb-select [options]="classeOptions" [multiple]="true" [placeholder]="'members.select_classe' | translate" [formControlName]="'classe'" id="classe">
                        </mdb-select>
                        <label for="classe" translate>classe.label_plu</label>
                        <div class="error red-text" [zdlmValidMsg]="formGroup.get('classe')"></div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="subClasseModal.hide()" mdbWavesEffect>
                            {{ 'app.cancel' | translate }}
                        </button>
                        <button type="submit" [disabled]="formGroup.invalid" class="btn btn-primary waves-light" mdbWavesEffect>
                            {{ 'app.submit' | translate }} <i class="fa fa-plus ml-1 white-text"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div mdbModal #warning="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead" translate>app.confirm_action</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="warning.hide()">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <p></p>
                        <p class="text-center">
                            <i class="fa fa-warning fa-4x"></i>
                        </p>
                    </div>
                    <div class="col-9">
                        <p>{{'members.sc_delete_warning'|translate}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-primary-modal waves-light" mdbRippleRadius
                   (click)="removeSC(); warning.hide()">{{ 'app.yes_delete'|translate }} <i
                        class="fa fa-check ml-1"></i></a>
                <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal"
                   (click)="warning.hide()"
                   mdbRippleRadius>{{ 'app.no_delete'|translate }} <i class="fa fa-times ml-1"></i></a>
            </div>
        </div>
    </div>
</div>
