.chip {
    height: 38px;
    font-size: 18px;
    line-height: 38px;
    border-radius: 19px;
    margin-bottom: 10px;
    i {
        font-size: 18px;
        line-height: 38px;
    }
    i:hover {
        color: red;
    }
}
