<mdb-tabset #staticTabs [buttonClass]="'nav-tabs tabs-4'" [contentClass]="'card'">
    <mdb-tab heading="Account" (select)="router.navigate(['../account-info'], { relativeTo: this.activatedRoute })">
    </mdb-tab>
    <mdb-tab heading="Location" [active]="true">
        <div class="row">
            <div class="col-12">
                <mdb-squeezebox [multiple]="false" aria-multiselectable="true">
                    <mdb-item  *ngFor="let location of locations; let i = index">
                        <mdb-item-head>
                            #{{i+1}} {{ location.city }}, {{ location.state }}, {{ 'country.' + location.country | translate }}
                            <a class="btn-floating btn-sm aqua-gradient waves-light" *ngIf="location.isPrimary" style="display: inline-block;width: 30px;height: 30px" mdbRippleRadius>
                                <i class="fa fa-star" style="line-height: 30px"></i>
                            </a>
                        </mdb-item-head>
                        <mdb-item-body>
                            <div class="col-12">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>{{'location.country.label'|translate}}</td>
                                        <td>{{ location.country }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{'location.state.label'|translate}}</td>
                                        <td>{{ location.state }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{'location.city.label'|translate}}</td>
                                        <td>{{ location.city }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{'location.address.label'|translate}}</td>
                                        <td>{{ location.address }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{'location.zipCode.label'|translate}}</td>
                                        <td>{{ location.zipCode }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12" *ngIf="!!location.mapLong && !!location.mapLat">
                                <agm-map style="height: 300px" [latitude]="location.mapLat" [longitude]="location.mapLong" [zoom]="16" [mapDraggable]="false" [scrollwheel]="false">
                                    <agm-marker [latitude]="location.mapLat" [longitude]="location.mapLong"></agm-marker>
                                </agm-map>
                            </div>
                            <button type="button" class="btn btn-sm btn-primary waves-light" style="float: right" mdbRippleRadius (click)="initForm(location)" translate>app.edit <i class="fa fa-edit ml-1"></i></button>
                            <button type="button" class="btn btn-sm btn-danger waves-light" style="float: right" mdbRippleRadius (click)="toDeleteId=location.id;warning.show()" translate>app.delete <i class="fa fa-trash-o ml-1"></i></button>
                        </mdb-item-body>
                    </mdb-item>
                </mdb-squeezebox>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-sm btn-primary waves-light" style="float: right; margin-top: 15px" mdbRippleRadius (click)="initForm(null)" translate>location.new <i class="fa fa-plus ml-1"></i></button>
            </div>
        </div>
    </mdb-tab>
    <mdb-tab heading="Contact" (select)="router.navigate(['../contact-info'], { relativeTo: this.activatedRoute })"></mdb-tab>
    <mdb-tab heading="Social Profiles" (select)="router.navigate(['../social-profiles'], { relativeTo: this.activatedRoute })"></mdb-tab>
</mdb-tabset>

<div mdbModal #form="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg cascading-modal" role="document">
        <form [formGroup]="settingForm" (ngSubmit)="submit()">
            <div class="modal-content">
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa fa-pencil"></i> {{ 'inst_section.location_edit'|translate }}</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body mb-0">
                    <div class="row">
                        <div class="col-md-12" style="margin-bottom: 1.5rem">
                            <mdb-select [options]="countryOptions" (selected)="onCountryChange($event)" [filterEnabled]="true"
                                        placeholder="{{ 'location.country.disabled_option'|translate }}"
                                        class="colorful-select dropdown-ins" [(ngModel)]="selectedCountry" [ngModelOptions]="{standalone: true}"></mdb-select>
                            <label translate>location.country.label</label>
                            <div class="error red-text" [zdlmValidMsg]="settingForm.get('country')"></div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="md-form form-sm">
                                <input mdbInputDirective type="url" id="state" formControlName="state" class="form-control">
                                <label for="state">{{ 'location.state.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="settingForm.get('state')"></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="md-form form-sm">
                                <input mdbInputDirective type="text" id="city" formControlName="city" class="form-control">
                                <label for="city">{{ 'location.city.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="settingForm.get('city')"></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div class="md-form form-sm">
                                <input mdbInputDirective type="text" id="address" formControlName="address" class="form-control">
                                <label for="address">{{ 'location.address.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="settingForm.get('address')"></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="md-form form-sm">
                                <input mdbInputDirective type="number" id="zipCode" formControlName="zipCode" class="form-control">
                                <label for="zipCode">{{ 'location.zipCode.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="settingForm.get('zipCode')"></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="md-form form-sm">
                                <input mdbInputDirective type="number" id="mapLat" formControlName="mapLat" class="form-control">
                                <label for="mapLat">{{ 'location.mapLat.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="settingForm.get('mapLat')"></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="md-form form-sm">
                                <input mdbInputDirective type="number" id="mapLong" formControlName="mapLong" class="form-control">
                                <label for="mapLong">{{ 'location.mapLong.label' | translate }}</label>
                                <div class="error red-text" [zdlmValidMsg]="settingForm.get('mapLong')"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info mb-2 waves-light" mdbRippleRadius>{{'app.submit' | translate}} <i class="fa fa-send ml-1"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div mdbModal #warning="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead" translate>app.confirm_action</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="warning.hide()">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <p></p>
                        <p class="text-center">
                            <i class="fa fa-warning fa-4x"></i>
                        </p>
                    </div>
                    <div class="col-9">
                        <p>{{'location.delete_warning'|translate}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-primary-modal waves-light" mdbRippleRadius (click)="deleteLocation(); warning.hide()">{{ 'app.yes_delete'|translate }} <i class="fa fa-check ml-1"></i></a>
                <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" (click)="toDeleteId = null; warning.hide()" mdbRippleRadius>{{ 'app.no_delete'|translate }} <i class="fa fa-times ml-1"></i></a>
            </div>
        </div>
    </div>
</div>
