.intro {
    min-height: 100vh;
    position: relative;
}
.intro-2 {
    background: url('../../../assets/images/university_sec_back.jpg') center center/cover no-repeat;
}
.card {
    background-color: rgba(229, 228, 255, .2);
}
.md-form label {
    color: #fff;
}
.card-h3 {
    padding: 0 10px !important;
    line-height: 56px;
    img {
        height: 56px;
        float: left;
    }
}
mdb-progress-bar {
    margin: 0;
}
