<header>
    <section class="view intro intro-2 hm-stylish-strong">
        <div class="full-bg-img flex-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-lg-5">
                        <div class="card wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s;">
                            <div class="card-body">
                                <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
                                    <div class="form-header blue-gradient">
                                        <h3 class="card-h3"><img src="../../../assets/images/z-logo-min.png" class="img-fluid">{{'app.reset_pass'|translate}}</h3>
                                    </div>
                                    <div formGroupName="plainPassword">
                                        <div class="md-form form-sm">
                                            <i class="fa fa-lock prefix"></i>
                                            <label for="password">{{ 'user.plainPassword.label' | translate }}</label>
                                            <input mdbInputDirective type="password" id="password" formControlName="password" class="form-control" (keyup)="passStrengthFn()"
                                                   style="margin-bottom: 6px">
                                            <mdb-progressbar [value]="passClass.value" min="0" max="100" [type]="passClass.type" aria-valuenow="25" aria-valuemin="0"
                                                             aria-valuemax="100" style="margin-bottom: 10px"></mdb-progressbar>
                                            <div class="error red-text" [zdlmValidMsg]="resetForm.get(['plainPassword', 'password'])"></div>
                                        </div>
                                        <div class="md-form form-sm">
                                            <i class="fa fa-lock prefix"></i>
                                            <label for="confirm_password">{{ 'user.plainPassword.confirm_label' | translate }}</label>
                                            <input mdbInputDirective type="password" id="confirm_password" formControlName="confirm_password" class="form-control">
                                            <div class="error red-text" [zdlmValidMsg]="resetForm.get(['plainPassword', 'confirm_password'])"></div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 50px">
                                        <div class="col-md-12">
                                            <button type="submit" [disabled]="resetForm.invalid" class="btn blue-gradient waves-effect waves-light float-right"
                                                    mdbRippleRadius>{{'app.submit'|translate}}
                                            </button>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <div class="inline-ul text-center d-flex justify-content-center">
                                            <a class="icons-sm tw-ic"><i class="fa fa-twitter white-text"></i></a>
                                            <a class="icons-sm li-ic"><i class="fa fa-linkedin white-text"></i></a>
                                            <a class="icons-sm ins-ic"><i class="fa fa-instagram white-text"></i></a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <mdb-progress-bar *ngIf="isLoading" class="progress primary-color-dark" mode="indeterminate"></mdb-progress-bar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
