<header>
    <section class="view intro intro-2 hm-stylish-strong">
        <div class="full-bg-img flex-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-lg-5">
                        <div class="card wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s;">
                            <div class="card-body">
                                <form [formGroup]="forgottenForm" (ngSubmit)="resetPassword()">
                                    <div class="form-header blue-gradient">
                                        <h3 class="card-h3"><img src="../../../assets/images/z-logo-min.png" class="img-fluid">{{'app.pass_forgotten'|translate}}</h3>
                                    </div>
                                    <div class="md-form form-sm">
                                        <i class="fa fa-envelope prefix white-text"></i>
                                        <input mdbInputDirective type="email" id="email" formControlName="email" class="form-control white-text">
                                        <label for="email">{{ 'email.email.label_primary' | translate }}</label>
                                        <div class="error red-text" [zdlmValidMsg]="forgottenForm.get('email')"></div>
                                    </div>
                                    <div class="row" style="margin-top: 50px">
                                        <div class="col-md-12" style="vertical-align: baseline">
                                            <a class="btn white-gradient waves-effect waves-light float-left" [zdlmNavigate]="'c_lgi'" mdbRippleRadius>{{'app.login'|translate}}</a>
                                            <button type="submit" [disabled]="forgottenForm.invalid" class="btn blue-gradient waves-effect waves-light float-right" mdbRippleRadius>{{'app.submit'|translate}}</button>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <hr>
                                        <div class="inline-ul text-center d-flex justify-content-center">
                                            <a class="icons-sm tw-ic"><i class="fa fa-twitter white-text"></i></a>
                                            <a class="icons-sm li-ic"><i class="fa fa-linkedin white-text"> </i></a>
                                            <a class="icons-sm ins-ic"><i class="fa fa-instagram white-text"> </i></a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <mdb-progress-bar *ngIf="isLoading" class="progress primary-color-dark" mode="indeterminate"></mdb-progress-bar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
