<div class="container-fluid">
    <div fxLayout="column" *ngIf="!!timetable">
        <div fxLayout="row" fxLayoutAlign="end center">
            <div class="mt-4 mb-4" fxFlex="30%" fxFlex.lt-md="100%" fxFlex.md="50%">
                <mdb-select [options]="weeksOptions" [(ngModel)]="selectedValue" (selected)="onWeekSelect($event)" [disabled]="weekDataLoading" [placeholder]="'timetable.select_week'|translate"></mdb-select>
            </div>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" class="border-bottom" *ngFor="let day of timetable.getBusyDays(); let i = index">
            <ng-container>
                <div class="cell day" [fxFlex]="9500/(timetable.maxMinutes + 95)" fxLayoutAlign="center center">
                    {{ 'timetable.' + ( i + 1 ) | translate }}
                </div>
                <ng-container *ngFor="let cont of day">
                    <ng-container *ngIf="cont.type == 'session'; then sessionTemp else breakTemp"></ng-container>
                    <ng-template #sessionTemp>
                        <div class="cell session" [fxFlex]="100 * cont.minutes/(timetable.maxMinutes + 95)" fxLayout="column">
                            <div class="session-subject" fxFlex="82px" fxLayoutAlign="center center">{{ !!cont?.session ? cont.session.subject.name : '----' }}</div>
                            <div fxFlex="18px" fxLayout fxLayoutAlign="space-between center">
                                <div fxFlex="nogrow" class="session-info">{{ !!cont?.session ? cont?.session.classroom.name : '----' }}</div>
                                <div fxFlex="nogrow" class="session-info">{{cont.timeRange()}}</div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #breakTemp>
                        <div class="cell break" [fxFlex]="100 * cont.minutes/(timetable.maxMinutes + 95)"></div>
                    </ng-template>
                </ng-container>
            </ng-container>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" style="min-height: 300px" *ngIf="timetable.maxMinutes === 0">
            <div class="mt-4 mb-4" fxFlex="30%" fxFlex.lt-md="100%" fxFlex.md="50%">
                <div class="card red lighten-1 text-center z-depth-2">
                    <div class="card-body">
                        <p class="white-text mb-0" translate>timetable.empty</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
